// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Prefix for :root CSS variables

$variable-prefix: bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix !default;

@import "colors";
@import "options";
@import "spacers";
@import "body";
@import "border";

// scss-docs-start focus-ring-variables
$focus-ring-width: .25rem !default;
$focus-ring-opacity: .25 !default;
$focus-ring-blur: 0 !default;
// custom
$focus-ring-border-color: transparent !default;
$focus-ring-color-mapping: "secondary-rgb" !default;
$focus-ring-color: var(--#{$prefix}gray-100) !default;
// end custom
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color !default;
// scss-docs-end focus-ring-variables

$component-active-color: var(--#{$prefix}white) !default;
$component-active-bg: var(--#{$prefix}primary) !default;
$component-focus-border-color: var(--#{$prefix}focus-ring-border-color) !default;

$transition-fade: opacity .3s linear !default;

@import "typography";
@import "tables";

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// scss-docs-start input-btn-variables
$input-btn-padding-y: $spacer-3 !default;
$input-btn-padding-x: $spacer-4 !default;

$input-btn-focus-width: $focus-ring-width !default;
$input-btn-focus-color-opacity: $focus-ring-opacity !default;
$input-btn-focus-color: $focus-ring-color !default;
$input-btn-focus-blur: $focus-ring-blur !default;
$input-btn-focus-box-shadow: $focus-ring-box-shadow !default;
$input-btn-focus-color-opacity: 1 !default;
$input-btn-focus-color: rgba(var(--#{$prefix}secondary-rgb), $input-btn-focus-color-opacity) !default;
$input-btn-focus-blur: 0 !default;

$input-btn-padding-y-sm: $spacer-2 !default;
$input-btn-padding-x-sm: var(--#{$prefix}ref-spacer-4) !default;
$input-btn-font-size-sm: $small-font-size !default;

$input-btn-padding-y-lg: $spacer-4 !default;
$input-btn-padding-x-lg: var(--#{$prefix}ref-spacer-6) !default;
$input-btn-font-size-lg: var(--#{$prefix}ref-spacer-4) !default;

$input-btn-border-width: var(--#{$prefix}border-width) !default;
// scss-docs-end input-btn-variables

@import "buttons";
@import "forms";
@import "z-index";
@import "shadow";
@import "navs";
@import "navbar";
@import "dropdowns";
@import "pagination";

@import "cards";
@import "accordion";
@import "breadcrumb";
@import "tooltip";
@import "badges";
@import "modals";
@import "alerts";
@import "progress";
@import "list-group";
@import "toast";
@import "carousel";
@import "close";
@import "offcanvas";
@import "code";

// custom
@import "quick-action-button";
@import "quick-action-select";
@import "quick-action-check";
@import "quick-action-switch";
@import "cursors";
@import "chips";
@import "collapse-icon-text";
@import "box-file";
@import "datepicker";
@import "input-phone";
// end custom
