// Alerts
// scss-docs-start alert-variables
$alert-border-radius: var(--#{$prefix}border-radius-sm) !default;
$alert-link-font-weight: var(--#{$prefix}fw-bold) !default;
// scss-docs-end alert-variables

// fusv-disable
$alert-bg-scale: 100% !default;
$alert-border-scale: 100% !default;
$alert-color-scale: 100% !default;
// fusv-enable

// custom
$alert-gap: var(--#{$prefix}ref-spacer-4) !default;
$alert-close-icon-size: var(--#{$prefix}ref-spacer-4) !default;


// end custom
// scss-docs-end alert-variables
