$box-file-gap: var(--#{$prefix}ref-spacer-4) !default;
$box-file-background: unset !default;
$box-file-border: 1px dashed var(--#{$prefix}gray-700) !default;
$box-file-border-radius: var(--#{$prefix}border-radius) !default;
$box-file-padding: var(--#{$prefix}ref-spacer-8) !default;
$box-file-content-max-width: 220px !default;
$box-file-icon-size: var(--#{$prefix}ref-spacer-14) !default;
$box-file-icon-color: var(--#{$prefix}secondary-300) !default;

$box-file-hover-border: 1px dashed var(--#{$prefix}secondary-700) !default;
$box-file-hover-background: var(--#{$prefix}secondary-100) !default;

$box-file-selected-border: 1px dashed var(--#{$prefix}secondary-700) !default;
$box-file-selected-background: var(--#{$prefix}white) !default;

$box-file-files-color: var(--#{$prefix}gray-500) !default;
