$box-file-gap: var(--#{$prefix}ref-spacer-4) !default;
$box-file-list-gap: var(--#{$prefix}ref-spacer-4) !default;
$box-file-background: unset !default;
$box-file-border: 1px dashed var(--#{$prefix}gray-100) !default;
$box-file-border-radius: var(--#{$prefix}ref-spacer-1) !default;
$box-file-padding: var(--#{$prefix}ref-spacer-8) !default;
$box-file-content-max-width: 220px !default;
$box-file-icon-size: var(--#{$prefix}ref-spacer-14) !default;
$box-file-icon-color: var(--#{$prefix}primary) !default;
$box-file-list-padding: var(--#{$prefix}ref-spacer-0) !default;
$box-file-hover-border: 1px dashed var(--#{$prefix}primary-700) !default;
$box-file-hover-background: var(--#{$prefix}primary-25) !default;

$box-file-selected-border: 1px dashed var(--#{$prefix}primary-700) !default;
$box-file-selected-background: var(--#{$prefix}white) !default;

$box-file-files-color: var(--#{$prefix}gray-500) !default;

$box-file-disabled-border: 1px dashed var(--#{$prefix}gray-300) !default;
$box-file-disabled-background: var(--#{$prefix}gray-100) !default;

$box-file-valid-border: 1px dashed var(--#{$prefix}success) !default;
$box-file-invalid-border: 1px dashed var(--#{$prefix}danger) !default;
