// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables
$btn-color: var(--#{$prefix}body-color) !default;
$btn-padding-y: $spacer-2 !default;
$btn-padding-x: $spacer-4 !default;
$btn-line-height: 1.5 !default;
$btn-font-weight: $font-weight-semibold !default;

$btn-padding-y-sm: $spacer-2 !default;
$btn-padding-x-sm: $spacer-4 !default;
$btn-font-size-sm: $small-font-size !default;

$btn-padding-y-lg: $spacer-4 !default;
$btn-padding-x-lg: $spacer-8 !default;
$btn-lg-font-size: 1.15rem !default;

$btn-border-width: $input-btn-border-width !default;

$btn-box-shadow: 0 0 0 transparent !default; // to avoid the none in the bootstrap box-shadow calculation
$btn-disabled-opacity: .65 !default;
$btn-active-box-shadow: 0 0 0 transparent !default; // to avoid the none in the bootstrap box-shadow calculation

$btn-border-radius: .5rem !default;
$btn-border-radius-lg: .5rem !default;
// $btn-border-radius-sm: var(--#{$prefix}border-radius-pill) !default;

$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
// scss-docs-end btn-variables
