// Cards

// scss-docs-start card-variables
$card-bg: var(--#{$prefix}white) !default;
$card-spacer-y: $spacer-4 !default;
$card-spacer-x: $spacer-4 !default;
$card-cap-padding-y: $spacer-4 !default;
$card-cap-bg: transparent !default;
$card-border-color: var(--#{$prefix}gray-50) !default;

// scss-docs-end card-variables
