// Badges

// scss-docs-start chip-variables
$chip-gap: $spacer-1 !default;
$chip-bg: var(--#{$prefix}white) !default;
$chip-color: var(--#{$prefix}gray-900) !default;
$chip-border-radius: $border-radius-pill !default;
$chip-padding-x: $spacer-3 !default;
$chip-padding-y: $spacer-1 !default;
$chip-font-size: $small-font-size !default;
$chip-font-weight: $font-weight-bold !default;
$chip-line-height: $line-height-base !default;
// scss-docs-end chip-variables
