// Close

// scss-docs-start close-variables
$btn-close-padding-x: 0 !default;
$btn-close-padding-y: 0 !default;
$btn-close-color: var(--#{$prefix}black) !default;
$btn-close-focus-shadow: none !default;
$btn-close-opacity: 1 !default;
$btn-close-hover-opacity: 1 !default;
// scss-docs-end close-variables
