$react-international-phone-height: 36px !default;
$react-international-phone-border-color: transparent !default;
$react-international-phone-country-selector-border-color: transparent !default;
$react-international-phone-background-color: var(--#{$prefix}white) !default;
$react-international-phone-country-selector-background-color: $react-international-phone-background-color !default;
$react-international-phone-country-selector-background-color-hover: transparent !default;
$react-international-phone-country-selector-arrow-size: 4px !default;
$react-international-phone-country-selector-arrow-color: var(--#{$prefix}gray-700) !default;
$react-international-phone-disabled-country-selector-arrow-color: var(--#{$prefix}gray-500) !default;
$react-international-phone-disabled-background-color: var(--#{$prefix}gray-100) !default;
$react-international-phone-disabled-country-selector-background-color: $react-international-phone-disabled-background-color !default;
$react-international-phone-flag-width: 24px !default;
$react-international-phone-flag-height: 24px !default;
$react-international-phone-dropdown-top: calc(100% + var(--#{$prefix}ref-spacer-2)) !default;
$react-international-phone-dropdown-left: 0 !default;
$react-international-phone-dropdown-item-background-color: $react-international-phone-background-color !default;
$react-international-phone-dropdown-shadow: 2px 2px 16px rgba(0, 0, 0, .25) !default;
$react-international-phone-text-color: var(--#{$prefix}body-color) !default;
$react-international-phone-dropdown-item-text-color: $react-international-phone-text-color !default;
$react-international-phone-dropdown-preferred-list-divider-margin: 0 !default;
$react-international-phone-dropdown-preferred-list-divider-color: $react-international-phone-border-color !default;
$react-international-phone-dropdown-item-height: 28px !default;
$react-international-phone-dropdown-item-font-size: 14px !default;
$react-international-phone-dropdown-item-dial-code-color: var(--#{$prefix}gray-500) !default;
$react-international-phone-selected-dropdown-item-background-color: var(--#{$prefix}gray-100) !default;
$react-international-phone-selected-dropdown-item-text-color: $react-international-phone-text-color !default;
$react-international-phone-selected-dropdown-item-dial-code-color: $react-international-phone-dropdown-item-dial-code-color !default;
$react-international-phone-dial-code-preview-border-color: $react-international-phone-border-color !default;
$react-international-phone-dial-code-preview-background-color: $react-international-phone-background-color !default;
$react-international-phone-dial-code-preview-text-color: $react-international-phone-text-color !default;
$react-international-phone-font-size: 13px !default;
$react-international-phone-dial-code-preview-font-size: $react-international-phone-font-size !default;
$react-international-phone-dial-code-preview-disabled-background-color: $react-international-phone-disabled-background-color !default;
$react-international-phone-disabled-text-color: var(--#{$prefix}gray-600) !default;
$react-international-phone-dial-code-preview-disabled-text-color: $react-international-phone-disabled-text-color !default;
$react-international-phone-border-radius: 4px !default;
