// Skeleton

// scss-docs-start skeleton-variables
$skeleton-bg: var(--#{$prefix}default-placeholder-bg) !default;
$skeleton-gap: var(--#{$prefix}ref-spacer-3) !default;
$skeleton-line-gap: var(--#{$prefix}ref-spacer-2) !default;
$skeleton-border-radius: var(--#{$prefix}border-radius-sm) !default;
// scss-docs-end skeleton-variables
