// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

// scss-docs-start table-variables
$table-color: var(--#{$prefix}body-color) !default;
$table-bg: transparent !default;

$table-bg-scale: -100% !default;

$table-striped-color: $table-color !default;
$table-striped-bg-factor: .05 !default;

$table-active-color: $table-color !default;
$table-active-bg-factor: .1 !default;

$table-hover-color: $table-color !default;
$table-hover-bg-factor: .075 !default;


$table-bg-color-default: var(--#{$prefix}gray-25) !default;

$table-hover-bg: $table-bg-color-default !default;
$table-striped-bg: $table-bg-color-default !default;
$table-active-bg: $table-bg-color-default !default;

$table-border-factor: .1 !default;
$table-border-color: var(--#{$prefix}gray-50) !default;


// scss-docs-end table-variables

// scss-docs-start table-loop
$table-variants: (
  "primary": "primary-100",
  "secondary": "secondary-100",
  "success": "success-100",
  "info": "info-100",
  "warning": "warning-100",
  "danger": "danger-100",
  "light": "light",
  "dark": "dark",
) !default;
// scss-docs-end table-loop
