$toast-background-color: var(--#{$prefix}white) !default;
$toast-header-color: var(--#{$prefix}body-color) !default;
$toast-header-background-color: var(--#{$prefix}white) !default;
$toast-border-color: var(--#{$prefix}border-color) !default;
$toast-box-shadow: var(--#{$prefix}box-shadow-sm) !default;
