:host {
  display: block;
}

.progress-box {
  --#{$prefix}progress-font-size: .813rem;
  --#{$prefix}progress-font-weight: #{$font-weight-bold};
  --#{$prefix}progress-font-color: #{$progress-bar-bg};

  display: flex;
  flex-direction: row;
  gap: #{$spacer-2};
  align-items: center;
  width: 100%;

  >.progress {
    --#{$prefix}progress-height: #{$progress-height};
    --#{$prefix}progress-bg: #{$progress-bg};
    --#{$prefix}progress-border-radius: #{$progress-border-radius};
    --#{$prefix}progress-box-shadow: #{$progress-box-shadow};
    --#{$prefix}progress-bar-color: #{$progress-bar-color};
    --#{$prefix}progress-bar-bg: #{$progress-bar-bg};
    --#{$prefix}progress-bar-border-radius: #{$border-radius-pill};
    --#{$prefix}progress-bar-transition: #{$progress-bar-transition};
    width: 100%;

    &.dark-mode {
      --#{$prefix}progress-bar-bg: #{$progress-bar-bg-light};
      --#{$prefix}progress-bg: #{$progress-bg-light};

      +.progress-text {
        color: var(--#{$prefix}progress-bar-bg);
      }
    }
  }

  .progress-bar {
    border-radius: var(--#{$prefix}progress-bar-border-radius);
  }

  .progress-text {
    min-width: 4ch; // Ensure that the bar does not resize
    max-width: 4ch;
    font-size: var(--#{$prefix}progress-font-size);
    font-weight: var(--#{$prefix}progress-font-weight);
    color: var(--#{$prefix}progress-font-color);
    text-align: end;
  }
}
