// $btn-close-width: 1em !default;
// $btn-close-height: $btn-close-width !default;
// $btn-close-padding-x: .25em !default;
// $btn-close-padding-y: $btn-close-padding-x !default;
$btn-close-focus-shadow: 0 0 0 .25rem var(--#{$prefix}close-focus-shadow, rgba(var(--#{$prefix}white-rgb), .3)) !default;
$btn-close-color: var(--#{$prefix}btn-close-color, var(--#{$prefix}close-color, #{$gray-600})) !default;
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='#{$btn-close-color}'><path d='M22.7914 3.62571C23.4589 2.95824 23.4589 1.87605 22.7914 1.20857C22.124 0.541096 21.0418 0.541096 20.3743 1.20857L12 9.58286L3.62571 1.20857C2.95824 0.541095 1.87605 0.541096 1.20857 1.20857C0.541096 1.87605 0.541096 2.95824 1.20857 3.62571L9.58286 12L1.20857 20.3743C0.541095 21.0418 0.541096 22.124 1.20857 22.7914C1.87605 23.4589 2.95824 23.4589 3.62571 22.7914L12 14.4171L20.3743 22.7914C21.0418 23.4589 22.124 23.4589 22.7914 22.7914C23.4589 22.124 23.4589 21.0418 22.7914 20.3743L14.4171 12L22.7914 3.62571Z' fill='#{$btn-close-color}'/></svg>") !default;
// $btn-close-focus-shadow: $input-btn-focus-box-shadow !default;
// $btn-close-opacity: .5 !default;
// $btn-close-hover-opacity: .75 !default;
// $btn-close-focus-opacity: 1 !default;
// $btn-close-disabled-opacity: .25 !default;
// $btn-close-white-filter: invert(1) grayscale(100%) brightness(200%) !default;
