$primary: $pink !default;
$secondary: $purple !default;
$tertiary: $indigo !default;
$success: $green !default;
$info: $gray-400 !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light, // TODO: check this, in design-system/src/components/m-button/m-button.scss it is $white
  "dark": $dark
) !default;

$state-colors: (
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
) !default;

$accessibility: #00b3cc !default;

// TODO: Use hover-colors in components with :hover
$primary-hover: #bc0956 !default;
$secondary-hover: #303071 !default;
$tertiary-hover: #25258a !default;
$success-hover: #58a533 !default;
$info-hover: #516182 !default;
$warning-hover: #c38322 !default;
$danger-hover: #c64e4e !default;

$theme-colors-hover: (
  "primary": $primary-hover,
  "secondary": $secondary-hover,
  "tertiary": $tertiary-hover,
  "success": $success-hover,
  "info": $info-hover,
  "warning": $warning-hover,
  "danger": $danger-hover,
  "light": $light,
  "dark": $dark
) !default;

$gradient-primary: linear-gradient(96.85deg, $primary 0%, $primary-hover 100%) !default;
