$nav-link-padding-y: 0 !default;
$nav-link-padding-x: .5rem !default;
$nav-link-font-size: 1rem !default;
$nav-link-font-weight: 400 !default;
$nav-link-color: var(--#{$prefix}gray-300) !default;
$nav-link-hover-color: var(--#{$prefix}gray-600) !default;
// $nav-link-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
$nav-link-disabled-color: $gray-200 !default;

$nav-tabs-border-color: transparent !default;
$nav-tabs-border-width: 0 !default;
// $nav-tabs-border-radius: $border-radius !default;
$nav-tabs-link-hover-border-color: $nav-link-hover-color !default;
$nav-tabs-link-active-color: var(--#{$prefix}secondary) !default;
$nav-tabs-link-active-bg: transparent !default;
$nav-tabs-link-active-border-color: transparent !default;

$nav-tabs-link-active-line-height: 2px !default;
$nav-pills-link-border: $nav-tabs-link-active-line-height solid var(--#{$prefix}secondary) !default;

$nav-pills-border-radius: 100px !default;
$nav-pills-link-padding-y: .375rem !default;
$nav-pills-link-padding-x: 1.375rem !default;
$nav-pills-link-font-weight: 700 !default;
$nav-pills-link-active-color: var(--#{$prefix}white) !default;
$nav-pills-link-active-bg: var(--#{$prefix}secondary) !default;
$nav-pills-link-color: var(--#{$prefix}secondary) !default;
