@import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons"; we use our own bootstrap based implementation

@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

@import "react-toastify/scss/main";

@import "d-icon";
@import "d-input";
@import "d-input-switch";
@import "d-input-check";
@import "d-input-select";
@import "d-input-pin";
@import "d-button";
@import "d-quick-action-button";
@import "d-quick-action-select";
@import "d-quick-action-check";
@import "d-quick-action-switch";
@import "d-progress";
@import "d-alert";
@import "d-badge";
@import "d-chip";
@import "d-modal";
@import "d-offcanvas";
@import "d-collapse";
@import "d-collapse-icon-text";
@import "d-datepicker";
@import "d-timepicker";
@import "d-monthpicker";
@import "d-tabs";
@import "d-popover";
@import "d-box-file";
@import "d-carousel";
@import "d-stepper-desktop";
@import "d-stepper-mobile";
@import "d-paginator";
@import "d-card-account";
@import "d-tooltip";
@import "d-select";
@import "d-breadcrumb";

// TODO: review.
@import "d-permission-group";
