@import "react-toastify/scss/main";

@import "d-icon";
// @import "d-input-select";
@import "d-input-pin";
@import "d-quick-action-button";
@import "d-quick-action-select";
@import "d-quick-action-check";
@import "d-quick-action-switch";
@import "d-chip";
@import "d-modal";
@import "d-offcanvas";
@import "d-collapse-icon-text";
@import "d-datepicker";
@import "d-timepicker";
@import "d-monthpicker";
@import "d-tabs";
@import "d-popover";
@import "d-box-file";
@import "d-carousel";
@import "d-stepper-desktop";
@import "d-stepper-mobile";
@import "d-card-account";
@import "d-tooltip";
@import "d-select";
