.badge {
  --#{$prefix}badge-bg: #{$badge-bg};
  --#{$prefix}badge-dot-height: #{$badge-dot-height};

  display: inline-block;
  background-color: var(--#{$prefix}badge-bg);

  @each $theme, $value in $theme-colors {
    $color: color-contrast-var($value);
    &.badge-#{$theme} {
      --#{$prefix}badge-color: #{$color};
      --#{$prefix}badge-bg: var(--#{$prefix}#{$theme});
    }
  }

  &.badge-dot {
    min-width: var(--#{$prefix}badge-dot-height);
    height: var(--#{$prefix}badge-dot-height);
    padding: 0;
    border-radius: var(--#{$prefix}badge-border-radius);

    > span {
      vertical-align: middle;
    }
  }
}
