.d-card-account {
  // Card
  --#{$prefix}card-border-width: 0;
  --#{$prefix}card-spacer-y: var(--#{$prefix}ref-spacer-3);
  --#{$prefix}card-spacer-x: var(--#{$prefix}ref-spacer-3);
  --#{$prefix}card-color: var(--#{$prefix}body-color);
  // Card body
  --#{$prefix}card-body-gap: #{$spacer};

  .card-body {
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}card-body-gap);
  }
}

.card {
  --bs-card-border-width: 0;
}
