@import "react-datepicker/src/stylesheets/datepicker";

// stylelint-disable selector-class-pattern

.react-datepicker {
  --#{$prefix}datepicker-font-family: var(--#{$prefix}font-sans-serif);
  --#{$prefix}datepicker-border: 0px;
  --#{$prefix}datepicker-box-shadow: var(--#{$prefix}box-shadow);
  --#{$prefix}datepicker-font-size: var(--#{$prefix}ref-spacer-4);

  // Header variables
  --#{$prefix}datepicker-header-gap: var(--#{$prefix}ref-spacer-4);
  --#{$prefix}datepicker-header-padding: var(--#{$prefix}ref-spacer-4) var(--#{$prefix}ref-spacer-7);
  --#{$prefix}datepicker-header-background-color: var(--#{$prefix}secondary-soft);
  --#{$prefix}datepicker-header-border: 0;
  --#{$prefix}datepicker-header-font-size: var(--#{$prefix}fs-6);
  --#{$prefix}datepicker-header-button-padding: 0;
  --#{$prefix}datepicker-header-select-padding: 0 var(--#{$prefix}ref-spacer-1);
  --#{$prefix}datepicker-header-select-font-weight: var(--#{$prefix}fw-bold);
  --#{$prefix}datepicker-header-select-menu-width: fit-content;

  --#{$prefix}datepicker-day-names-margin: 0;
  --#{$prefix}datepicker-day-names-font-size: var(--#{$prefix}ref-spacer-4);

  --#{$prefix}datepicker-day-name-weight: var(--#{$prefix}fw-bold);
  --#{$prefix}datepicker-day-name-margin: 0;
  --#{$prefix}datepicker-day-name-padding: 0;
  --#{$prefix}datepicker-day-name-size: var(--#{$prefix}ref-spacer-5);
  --#{$prefix}datepicker-day-name-color: var(--#{$prefix}gray-500);

  // Calendar variables
  --#{$prefix}datepicker-month-gap: .875rem;
  --#{$prefix}datepicker-month-padding: var(--#{$prefix}ref-spacer-4) var(--#{$prefix}ref-spacer-7) var(--#{$prefix}ref-spacer-6);
  --#{$prefix}datepicker-month-margin: 0;
  --#{$prefix}datepicker-month-color: var(--#{$prefix}white);

  --#{$prefix}datepicker-week-gap: var(--#{$prefix}ref-spacer-8);

  // Day variables
  --#{$prefix}datepicker-day-margin: 0;
  --#{$prefix}datepicker-day-font-size: var(--#{$prefix}fs-small);
  --#{$prefix}datepicker-day-size: var(--#{$prefix}ref-spacer-5);
  --#{$prefix}datepicker-day-padding: 0;
  --#{$prefix}datepicker-day-radius: 100%;
  --#{$prefix}datepicker-day-color: var(--#{$prefix}gray-900);
  --#{$prefix}datepicker-day-disabled-color: var(--#{$prefix}gray-300);

  --#{$prefix}datepicker-day-color-hover: var(--#{$prefix}gray-900);
  --#{$prefix}datepicker-day-bg-hover: var(--#{$prefix}info-100);

  --#{$prefix}datepicker-day-selected-color: var(--#{$prefix}white);
  --#{$prefix}datepicker-day-selected-bg: var(--#{$prefix}secondary-500);

  --#{$prefix}datepicker-day-in-range-color: var(--#{$prefix}dark);
  --#{$prefix}datepicker-day-in-range-bg: var(--#{$prefix}secondary-100);

  --#{$prefix}datepicker-day-outside-month-color: var(--#{$prefix}gray-400);

  --#{$prefix}datepicker-day-today-font-weight: var(--#{$prefix}fw-normal);
  --#{$prefix}datepicker-day-today-box-shadow: 0 0 0 2px var(--#{$prefix}secondary);

  // Time variables
  --#{$prefix}datepicker-time-container-margin: 0;
  --#{$prefix}datepicker-time-container-align: center;
  --#{$prefix}datepicker-time-input-width: 50%;
  --#{$prefix}datepicker-time-input-margin: 0;
  --#{$prefix}datepicker-time-input-align: center;

  --#{$prefix}datepicker-time-input-padding: var(--#{$prefix}ref-spacer-4);
  --#{$prefix}datepicker-time-input-gap: var(--#{$prefix}ref-spacer-2);
  --#{$prefix}datepicker-time-input-label-weight: var(--#{$prefix}fw-bold);
  --#{$prefix}datepicker-time-input-label-color: var(--#{$prefix}gray-700);
  --#{$prefix}datepicker-time-input-label-size: var(--#{$prefix}fs-small);

  font-family: var(--#{$prefix}datepicker-font-family);
  font-size: var(--#{$prefix}datepicker-font-size);
  border: var(--#{$prefix}datepicker-border);
  box-shadow: var(--#{$prefix}datepicker-box-shadow);

  .react-datepicker__header {
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}datepicker-header-gap);
    padding: var(--#{$prefix}datepicker-header-padding);
    font-size: var(--#{$prefix}datepicker-header-font-size);
    background-color: var(--#{$prefix}datepicker-header-background-color);
    border: var(--#{$prefix}datepicker-header-border);

    .react-datepicker__day-names {
      display: flex;
      gap: var(--#{$prefix}ref-spacer-8);
      margin: var(--#{$prefix}datepicker-day-names-margin);
      font-size: var(--#{$prefix}datepicker-day-names-font-size);
    }
    .react-datepicker__day-name {
      width: var(--#{$prefix}datepicker-day-name-size);
      height: var(--#{$prefix}datepicker-day-name-size);
      padding: var(--#{$prefix}datepicker-day-name-padding);
      margin: var(--#{$prefix}datepicker-day-name-margin);
      font-weight: var(--#{$prefix}datepicker-day-name-weight);
      line-height: var(--#{$prefix}datepicker-day-name-size);
      color: var(--#{$prefix}datepicker-day-name-color);
    }
  }

  &.d-month-picker {
    .react-datepicker__month-container {
      .d-icon {
        --#{$prefix}icon-component-color: var(--#{$prefix}datepicker-month-color);
      }
    }
  }

  .react-datepicker__month {
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}datepicker-month-gap);
    padding: var(--#{$prefix}datepicker-month-padding);
    margin: var(--#{$prefix}datepicker-month-margin);

  }
  .react-datepicker__week {
    display: flex;
    gap: var(--#{$prefix}datepicker-week-gap);
  }

  .react-datepicker__day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--#{$prefix}datepicker-day-size);
    height: var(--#{$prefix}datepicker-day-size);
    padding: var(--#{$prefix}datepicker-day-padding);
    margin: var(--#{$prefix}datepicker-day-margin);
    font-size: var(--#{$prefix}datepicker-day-font-size);
    line-height: var(--#{$prefix}datepicker-day-size);
    color: var(--#{$prefix}datepicker-day-color);

    &.react-datepicker__day--in-range.react-datepicker__day--range-end,
    &.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-end {
      color: var(--#{$prefix}datepicker-day-selected-color);
      background-color: var(--#{$prefix}datepicker-day-selected-bg);
      box-shadow: 0 0 0 2px var(--#{$prefix}datepicker-day-selected-bg);
    }
  }

  // Hover state
  .react-datepicker__day,
  .react-datepicker__month-text,
  .react-datepicker__quarter-text,
  .react-datepicker__year-text {
    &:not(
    .react-datepicker__day--selected,
    .react-datepicker__month-text--selected,
    .react-datepicker__quarter-text--selected,
    .react-datepicker__year-text--selected):hover {
      color: var(--#{$prefix}datepicker-day-color-hover);
      background-color: var(--#{$prefix}datepicker-day-bg-hover);
      border-radius: var(--#{$prefix}datepicker-day-radius);
      box-shadow: 0 0 0 2px var(--#{$prefix}datepicker-day-bg-hover);
    }
  }

  .react-datepicker__day--disabled {
    color: var(--#{$prefix}datepicker-day-disabled-color);
  }

  // Selected single item
  .react-datepicker__day--selected,
  .react-datepicker__month--selected,
  .react-datepicker__quarter--selected,
  .react-datepicker__year--selected {
    color: var(--#{$prefix}datepicker-day-selected-color);
    background-color: var(--#{$prefix}datepicker-day-selected-bg);
    border-radius: var(--#{$prefix}datepicker-day-radius);
    box-shadow: 0 0 0 2px var(--#{$prefix}datepicker-day-selected-bg);
  }

  .react-datepicker__day--selected {
    &.react-datepicker__day--in-range.react-datepicker__day--range-start,
    &.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-start {
      color: var(--#{$prefix}datepicker-day-selected-color);
      background-color: var(--#{$prefix}datepicker-day-selected-bg);
      box-shadow: 0 0 0 2px var(--#{$prefix}datepicker-day-selected-bg);
    }
  }

  .react-datepicker__day--in-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--in-range,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    color: var(--#{$prefix}datepicker-day-in-range-color);
    background-color: var(--#{$prefix}datepicker-day-in-range-bg);
    border-radius: var(--#{$prefix}datepicker-day-radius);
  }

  .react-datepicker__day--outside-month {
    color: var(--#{$prefix}datepicker-day-outside-month-color);
  }

  .react-datepicker-wrapper {
    margin-inline: auto;
  }

  /* Start time selector */
  .react-datepicker__input-time-container {
    width: 100%;
    margin: var(--#{$prefix}datepicker-time-container-margin);
    text-align: var(--#{$prefix}datepicker-time-container-align);
    border-top: var(--#{$prefix}border-width) solid var(--#{$prefix}light);

    .react-datepicker-time__caption {
      display: none;
    }

    .react-datepicker-time__input-container {
      width: 100%;

      .react-datepicker-time__input {
        width: var(--#{$prefix}datepicker-time-input-width);
        margin: var(--#{$prefix}datepicker-time-input-margin);
        text-align: var(--#{$prefix}datepicker-time-input-align);
        outline: 0;
      }
    }
  }

  /* End time selector */

  .react-datepicker__day--today {
    font-weight: var(--#{$prefix}datepicker-day-today-font-weight);
    border-radius: var(--#{$prefix}datepicker-day-radius);
    box-shadow: var(--#{$prefix}datepicker-day-today-box-shadow);
  }

  .d-datepicker-time {
    gap: var(--#{$prefix}datepicker-time-input-gap);
    padding: var(--#{$prefix}datepicker-time-input-padding);
    .d-datepicker-time-label {
      font-size: var(--#{$prefix}datepicker-time-input-label-size);
      font-weight: var(--#{$prefix}datepicker-time-input-label-weight);
      color: var(--#{$prefix}datepicker-time-input-label-color);
    }
  }
  .d-datepicker-header {
    font-size: var(--#{$prefix}datepicker-header-font-size);
  }

  .header-button {
    --#{$prefix}btn-padding-y: var(--#{$prefix}datepicker-header-button-padding);
    --#{$prefix}btn-padding-x: var(--#{$prefix}datepicker-header-button-padding);
    &:hover,
    &:active {
      color: inherit;
      background-color: inherit;
    }
    &:focus {
      --#{$prefix}btn-focus-outline-offset: 8px;
    }
  }

  .d-select {
    &:focus-within .input-group {
      border-color: transparent;
      box-shadow: none;
    }
    .input-group {
      --#{$prefix}input-border-width: 0;
    }
    .d-select__indicators {
      display: none;
    }
    .d-select__control {
      padding: var(--#{$prefix}datepicker-header-select-padding);
      background-color: transparent;
    }
    .d-select__single-value {
      font-weight: var(--#{$prefix}datepicker-header-select-font-weight);
    }
  }
  .d-select__menu {
    left: 50%;
    min-width: var(--#{$prefix}datepicker-header-select-menu-width);
    translate: -50%;
  }
}

// stylelint-enable selector-class-pattern
