.d-input-pin {
  --#{$prefix}input-pin-form-gap: var(--#{$prefix}ref-spacer-1);

  --#{$prefix}input-pin-form-control-size: 4rem;
  --#{$prefix}input-pin-form-control-focus-border-color: #{$input-focus-border-color};
  --#{$prefix}input-pin-form-control-focus-box-shadow: #{$input-focus-box-shadow};

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  form {
    display: flex;
    flex-direction: row;
    gap: var(--#{$prefix}input-pin-form-gap);
    width: 100%;
  }

  .form-control {
    width: var(--#{$prefix}input-pin-form-control-size);
    height: var(--#{$prefix}input-pin-form-control-size);
    text-align: center;
    box-shadow: none;
  }

  .form-control::-webkit-inner-spin-button,
  .form-control::-webkit-outer-spin-button {
    margin: 0;
    appearance: none;
  }

  &:focus-within {
    .form-control:not(.is-invalid):not(.is-valid) {
      border-color: var(--#{$prefix}input-pin-form-control-focus-border-color);
      box-shadow: var(--#{$prefix}input-pin-form-control-focus-box-shadow);
    }

    &:has(.form-control:hover) .form-control:not(.is-invalid):not(.is-valid) {
      border-color: var(--#{$prefix}input-pin-form-control-focus-border-color);
    }
  }

  // validation states
  @each $state, $data in $form-validation-states {
    $border-color: map-get($data, "border-color");
    $tooltip-bg-color: map-get($data, "tooltip-bg-color");
    $box-shadow: map-get($data, "focus-box-shadow");

    &:has(.form-control.is-#{$state}){
      .form-control {
        border-color: $tooltip-bg-color;
        box-shadow: $box-shadow;
      }

      .form-text {
        color: $border-color;
      }

      .input-group-validation-icon {
        --#{$prefix}icon-color: #{$tooltip-bg-color};
      }
    }
  }

  .input-group-text {
    padding-left: var(--#{$prefix}input-pin-form-gap);
  }
}
