.nav-pills,
.nav-underline {
  --#{$prefix}tabs-nav-gap: #{$nav-nav-gap};
  --#{$prefix}tabs-nav-padding-x: #{$nav-nav-padding-x};
  --#{$prefix}tabs-nav-padding-y: #{$nav-nav-padding-y};
  --#{$prefix}tabs-link-border-height: #{$nav-link-border-height};
  --#{$prefix}tabs-link-line-height: #{$nav-link-line-height};
  --#{$prefix}tabs-link-border-border-radius: #{$nav-link-border-border-radius};
  --#{$prefix}tabs-link-border-active-color: #{$nav-link-border-active-color};
  --#{$prefix}tabs-link-border-active-font-weight: #{$nav-link-border-active-font-weight};
  --#{$prefix}tabs-link-border-active-bg: #{$nav-link-border-active-bg};

  gap: var(--#{$prefix}tabs-nav-gap);
  padding: var(--#{$prefix}tabs-nav-padding-y) var(--#{$prefix}tabs-nav-padding-x);

  &.flex-column {
    flex: 1 0 auto;

    .nav-link {
      width: 100%;
    }
  }
}

.nav-tabs {
  --#{$prefix}tabs-link-border-active-font-weight: #{$nav-link-border-active-font-weight};
  .nav-link {
    &.active {
      font-weight: var(--#{$prefix}tabs-link-border-active-font-weight);
      border-bottom-color: transparent;
    }
    &:not(.active):is(:hover, :focus) {
      border-color: transparent;
    }
  }
}

.nav-underline .nav-link {
  &:not(.active):hover {
    border-bottom-color: transparent;
  }
}
.nav-link:focus-visible {
  --#{$prefix}focus-ring-opacity: .25;
  --#{$prefix}focus-ring-color: rgba(var(--#{$prefix}secondary-rgb), var(--#{$prefix}focus-ring-opacity));
}
