.m-card-account {
  // Card
  --#{$prefix}card-border-width: 0;
  --#{$prefix}card-spacer-y: #{$spacer};
  --#{$prefix}card-spacer-x: #{$spacer};
  --#{$prefix}card-color: #{$body-color};
  // Card body
  --#{$prefix}card-body-gap: #{$spacer};

  .card-body {
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}card-body-gap);
  }
}
