.m-collapse {
  // Container
  --#{$prefix}m-collapse-bg: var(--#{$prefix}white);
  --#{$prefix}m-collapse-border-radius: var(--#{$prefix}ref-spacer-1);
  --#{$prefix}m-collapse-box-shadow: var(--#{$prefix}box-shadow-sm);
  // Button
  --#{$prefix}m-collapse-button-padding-x: var(--#{$prefix}ref-spacer-3);
  --#{$prefix}m-collapse-button-padding-y: var(--#{$prefix}ref-spacer-3);
  --#{$prefix}m-collapse-button-gap: var(--#{$prefix}ref-spacer-3);
  // Body
  --#{$prefix}m-collapse-body-padding-x: var(--#{$prefix}ref-spacer-3);
  --#{$prefix}m-collapse-body-padding-y: var(--#{$prefix}ref-spacer-3);
  // Separator
  --#{$prefix}m-collapse-separator-display: none;
  --#{$prefix}m-collapse-separator-height: 1px;
  --#{$prefix}m-collapse-separator-bg: var(--#{$prefix}gray-200);

  &.collapse-container {
    background-color: var(--#{$prefix}m-collapse-bg);
    border-radius: var(--#{$prefix}m-collapse-border-radius);
    box-shadow: var(--#{$prefix}m-collapse-box-shadow);
  }

  .collapse-button {
    display: flex;
    gap: var(--#{$prefix}m-collapse-button-gap);
    align-items: center;
    width: 100%;
    padding: var(--#{$prefix}m-collapse-button-padding-y) var(--#{$prefix}m-collapse-button-padding-x);
    text-align: left;
    user-select: none;
    background: transparent;
    border: 0;

    &:focus,
    &:focus-visible {
      outline: 0;
    }
  }

  .collapse-body {
    position: relative;
    padding: var(--#{$prefix}m-collapse-body-padding-y) var(--#{$prefix}m-collapse-body-padding-x);
    padding-top: 0;

    &::before {
      position: absolute;
      top: 0;
      display: var(--#{$prefix}m-collapse-separator-display);
      width: calc(100% - (var(--#{$prefix}m-collapse-body-padding-x) * 2));
      height: var(--#{$prefix}m-collapse-separator-height);
      content: " ";
      background-color: var(--#{$prefix}m-collapse-separator-bg);
    }
  }
}
