@import "react-datepicker/src/stylesheets/datepicker";

// stylelint-disable selector-class-pattern

.react-datepicker {
  --#{$prefix}m-datepicker-font-family: "Source Sans Pro", sans-serif;
  --#{$prefix}m-datepicker-border: 0px;
  --#{$prefix}m-datepicker-box-shadow: var(--#{$prefix}box-shadow);

  // Header variables
  --#{$prefix}m-datepicker-header-gap: 1rem;
  --#{$prefix}m-datepicker-header-padding: 1rem 1.5rem;
  --#{$prefix}m-datepicker-header-background-color: var(--#{$prefix}indigo-soft);
  --#{$prefix}m-datepicker-header-border: 0;

  --#{$prefix}m-datepicker-day-names-margin: 0;
  --#{$prefix}m-datepicker-day-names-font-size: 1rem;

  --#{$prefix}m-datepicker-day-name-weight: 700;
  --#{$prefix}m-datepicker-day-name-margin: 0;
  --#{$prefix}m-datepicker-day-name-size: 20px;
  --#{$prefix}m-datepicker-day-name-height: 20px;
  --#{$prefix}m-datepicker-day-name-color: var(--#{$prefix}gray-500);

  // Calendar variables
  --#{$prefix}m-datepicker-month-gap: .875rem;
  --#{$prefix}m-datepicker-month-padding: 1rem 1.5rem 1.5rem;
  --#{$prefix}m-datepicker-month-margin: 0;

  --#{$prefix}m-datepicker-week-gap: 1.875rem;

  // Day variables
  --#{$prefix}m-datepicker-day-margin: 0;
  --#{$prefix}m-datepicker-day-font-size: .875rem;
  --#{$prefix}m-datepicker-day-size: 20px;
  --#{$prefix}m-datepicker-day-radius: 100%;

  --#{$prefix}m-datepicker-day-bg-hover: var(--#{$prefix}body);
  --#{$prefix}m-datepicker-day-color-hover: var(--#{$prefix}info-100);

  --#{$prefix}m-datepicker-day-selected-color: var(--#{$prefix}white);
  --#{$prefix}m-datepicker-day-selected-bg: var(--#{$prefix}secondary-500);

  --#{$prefix}m-datepicker-day-in-range-color: var(--#{$prefix}dark);
  --#{$prefix}m-datepicker-day-in-range-bg: var(--#{$prefix}secondary-100);

  --#{$prefix}m-datepicker-day-outside-month: var(--#{$prefix}gray-400);

  --#{$prefix}m-datepicker-day-today-font-weight: 400;
  --#{$prefix}m-datepicker-day-today-box-shadow: 0 0 0 2px inset var(--#{$prefix}secondary);

  // Time variables
  --#{$prefix}m-datepicker-time-container-margin: 0;
  --#{$prefix}m-datepicker-time-container-align: center;
  --#{$prefix}m-datepicker-time-input-width: 50%;
  --#{$prefix}m-datepicker-time-input-margin: 0;
  --#{$prefix}m-datepicker-time-input-align: center;

  font-family: var(--#{$prefix}m-datepicker-font-family);
  border: var(--#{$prefix}m-datepicker-border);
  box-shadow: var(--#{$prefix}m-datepicker-box-shadow);

  .react-datepicker__header {
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}m-datepicker-header-gap);
    padding: var(--#{$prefix}m-datepicker-header-padding);
    background-color: var(--#{$prefix}m-datepicker-header-background-color);
    border: var(--#{$prefix}m-datepicker-header-border);

    .react-datepicker__day-names {
      display: flex;
      justify-content: space-between;
      margin: var(--#{$prefix}m-datepicker-day-names-margin);
      font-size: var(--#{$prefix}m-datepicker-day-names-font-size);
    }
    .react-datepicker__day-name {
      width: var(--#{$prefix}m-datepicker-day-name-size);
      height: var(--#{$prefix}m-datepicker-day-name-size);
      margin: var(--#{$prefix}m-datepicker-day-name-margin);
      font-weight: var(--#{$prefix}m-datepicker-day-name-weight);
      line-height: var(--#{$prefix}m-datepicker-day-name-size);
      color: var(--#{$prefix}m-datepicker-day-name-color);
    }
  }

  .react-datepicker__month {
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}m-datepicker-month-gap);
    padding: var(--#{$prefix}m-datepicker-month-padding);
    margin: var(--#{$prefix}m-datepicker-month-margin);

    .react-datepicker__week {
      display: flex;
      gap: var(--#{$prefix}m-datepicker-week-gap);
    }

    .react-datepicker__day {
      width: var(--#{$prefix}m-datepicker-day-size);
      height: var(--#{$prefix}m-datepicker-day-size);
      margin: var(--#{$prefix}m-datepicker-day-margin);
      font-size: var(--#{$prefix}m-datepicker-day-font-size);
      line-height: var(--#{$prefix}m-datepicker-day-size);
    }
  }

  // Hover state
  .react-datepicker__day,
  .react-datepicker__month-text,
  .react-datepicker__quarter-text,
  .react-datepicker__year-text {
    &:not(
    .react-datepicker__day--selected,
    .react-datepicker__month-text--selected,
    .react-datepicker__quarter-text--selected,
    .react-datepicker__year-text--selected):hover {
      color: var(--#{$prefix}m-datepicker-day-bg-hover);
      background-color: var(--#{$prefix}m-datepicker-day-color-hover);
      border-radius: var(--#{$prefix}m-datepicker-day-radius);
    }
  }

  // Selected single item
  .react-datepicker__day--selected,
  .react-datepicker__month--selected,
  .react-datepicker__quarter--selected,
  .react-datepicker__year--selected {
    color: var(--#{$prefix}m-datepicker-selected-color);
    background-color: var(--#{$prefix}m-datepicker-selected-bg);
    border-radius: var(--#{$prefix}m-datepicker-day-radius);
  }

  .react-datepicker__day--selected {
    &.react-datepicker__day--in-range.react-datepicker__day--range-start,
    &.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-start {
      color: var(--#{$prefix}m-datepicker-selected-color);
      background-color: var(--#{$prefix}m-datepicker-selected-bg);
    }
  }
  .react-datepicker__day {
    &.react-datepicker__day--in-range.react-datepicker__day--range-end,
    &.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-end {
      color: var(--#{$prefix}m-datepicker-selected-color);
      background-color: var(--#{$prefix}m-datepicker-selected-bg);
    }
  }

  .react-datepicker__day--in-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--in-range,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    color: var(--#{$prefix}m-datepicker-day-in-range-color);
    background-color: var(--#{$prefix}m-datepicker-day-in-range-bg);
    border-radius: var(--#{$prefix}m-datepicker-day-radius);
  }

  .react-datepicker__day--outside-month {
    color: var(--#{$prefix}m-datepicker-day-outside-month);
  }

  /* Start time selector */
  .react-datepicker__input-time-container {
    width: 100%;
    margin: var(--#{$prefix}m-datepicker-time-container-margin);
    text-align: var(--#{$prefix}m-datepicker-time-container-align);
    border-top: var(--#{$prefix}border-width) solid var(--#{$prefix}light);

    .react-datepicker-time__caption {
      display: none;
    }

    .react-datepicker-time__input-container {
      width: 100%;

      .react-datepicker-time__input {
        width: var(--#{$prefix}m-datepicker-time-input-width);
        margin: var(--#{$prefix}m-datepicker-time-input-margin);
        text-align: var(--#{$prefix}m-datepicker-time-input-align);
        outline: 0;
      }
    }
  }

  /* End time selector */

  .react-datepicker__day--today {
    font-weight: var(--#{$prefix}m-datepicker-day-today-font-weight);
    border-radius: var(--#{$prefix}m-datepicker-day-radius);
    box-shadow: var(--#{$prefix}m-datepicker-day-today-box-shadow);
  }
}

// stylelint-enable selector-class-pattern
