.m-stepper {
  --#{$prefix}m-icon-container-size: 34px;
  --#{$prefix}m-step-label-height: 3rem;
  --#{$prefix}m-step-icon-size: 1.125rem;

  position: relative;
  display: flex;

  .m-step {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: .5rem;

    .m-step-value {
      position: relative;
      display: flex;
      justify-content: center;
    }

    .m-step-icon-container {
      position: relative;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--#{$prefix}m-icon-container-size);
      height: var(--#{$prefix}m-icon-container-size);

      color: var(--#{$prefix}secondary);
      background-color: var(--#{$prefix}white);
      border: 1px solid var(--#{$prefix}secondary);
      border-radius: 100%;
    }

    .m-step-check {
      color: var(--#{$prefix}white);
      background-color: var(--#{$prefix}success);
      border: 1px solid var(--#{$prefix}success);
    }

    .m-step-current {
      color: var(--#{$prefix}white);
      background-color: var(--#{$prefix}secondary);
    }

    .m-step-value::after {
      position: absolute;
      top: 50%;
      z-index: 2;
      width: 100%;
      height: 1px;
      content: "";
      background-color: var(--#{$prefix}secondary);
    }

    &:first-child .m-step-value::after {
      left: 50%;
      z-index: 2;
      width: 50%;
    }

    &:last-child .m-step-value::after {
      right: 50%;
      z-index: 2;
      width: 50%;
    }

    .m-step-label {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      text-align: center;
    }
  }

  &.is-vertical {
    flex-direction: column;

    .m-step {
      flex-direction: row;
      align-items: center;

      .m-step-value {
        align-items: center;
        height: 100%;
      }

      .m-step-label {
        display: flex;
        flex-grow: 1;
        align-items: center;
        min-height: var(--#{$prefix}m-step-label-height);
        padding: 1rem;
        text-align: left;
      }
      .m-step-value::after {
        position: absolute;
        top: 0;
        left: calc(50% - 1px);
        z-index: 2;
        width: 0;
        height: 100%;
        content: "";
        border: 1px solid var(--#{$prefix}secondary);
      }

      &:first-child .m-step-value::after {
        top: 50%;
        z-index: 2;
        width: 0;
        height: 50%;
        border: 1px solid var(--#{$prefix}secondary);
      }

      &:last-child .m-step-value::after {
        z-index: 2;
        width: 0;
        height: 50%;
        border: 1px solid var(--#{$prefix}secondary);

      }
    }
  }

  .m-step-icon {
    display: flex;
    font-size: var(--#{$prefix}m-step-icon-size);
  }
}
