# https://github.com/browserslist/browserslist#readme
#
# Minimum supported browsers for the JavaScript and the CSS of the library,
# measured with `npm run eslint` (eslint-plugin-compat) and
# `npm run stylelint:compat`. See "Browser Support" in README.md.

Chrome >= 105
Edge >= 105
Firefox >= 121
Firefox ESR
Safari >= 15.4
iOS >= 15.4
not dead
