{
  "root": true,
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:react/jsx-runtime"
  ],
  "rules": {
    "react/require-default-props": "off",
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state"] }],
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "overrides": [
    {
      "files": ["scripts/*.js"],
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          { "devDependencies": true }
        ]
      }
    },
    {
      "files": ["jest.config.js", "test/**/*.ts", "jest/**/*.js"],
      "env": {
        "jest": true
      },
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          { "devDependencies": true }
        ]
      }
    },
    {
      "files": ["src/**/*.ts", "src/**/*.tsx"],
      "parserOptions": {
        "project": ["./tsconfig.json"],
        "EXPERIMENTAL_useSourceOfProjectReferenceRedirect": true
      },
      "extends": [
        "airbnb-typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ]
    },
    {
      "files": ["stories/**/*.ts", "stories/**/*.tsx"],
      "parserOptions": {
        "project": ["./tsconfig.json"],
        "EXPERIMENTAL_useSourceOfProjectReferenceRedirect": true
      },
      "extends": [
        "airbnb-typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "rules": {
        "react/jsx-props-no-spreading": "off",
        "import/no-extraneous-dependencies": [
          "error",
          { "devDependencies": ["**/*.stories.tsx"] }
        ]
      }
    },
    {
      "files": ["src/**/*.spec.tsx"],
      "parserOptions": {
        "project": ["./tsconfig.spec.json"],
        "EXPERIMENTAL_useSourceOfProjectReferenceRedirect": true
      },
      "extends": [
        "airbnb-typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          { "devDependencies": ["**/*.spec.tsx"] }
        ]
      }
    }
  ]
}
