[submodule "templates/dynamic-retail-dashboard-template"]
	path = templates/dynamic-retail-dashboard-template
	url = git@github.com:dynamic-framework/dynamic-retail-dashboard-template.git
[submodule "templates/dynamic-retail-product-detail-template"]
	path = templates/dynamic-retail-product-detail-template
	url = git@github.com:dynamic-framework/dynamic-retail-product-detail-template.git
[submodule "templates/dynamic-retail-transfer-template"]
	path = templates/dynamic-retail-transfer-template
	url = git@github.com:dynamic-framework/dynamic-retail-transfer-template.git
[submodule "templates/dynamic-retail-loan-application-template"]
	path = templates/dynamic-retail-loan-application-template
	url = git@github.com:dynamic-framework/dynamic-retail-loan-application-template
[submodule "templates/dynamic-retail-loan-approval-template"]
	path = templates/dynamic-retail-loan-approval-template
	url = git@github.com:dynamic-framework/dynamic-retail-loan-approval-template.git
[submodule "templates/dynamic-retail-dashboard-payments-template"]
	path = templates/dynamic-retail-dashboard-payments-template
	url = git@github.com:dynamic-framework/dynamic-retail-dashboard-payments-template.git
