$box-file-gap: $spacer-3 !default;
$box-file-border: 1px dashed var(--#{$prefix}secondary) !default;
$box-file-border-radius: $border-radius !default;
$box-file-padding: $spacer-5 !default;
$box-file-content-max-width: 220px !default;
$box-file-icon-size: $spacer-8 !default;
$box-file-icon-color: var(--#{$prefix}secondary-300) !default;

$box-file-hover-background: var(--#{$prefix}indigo-soft) !default;
