@import "d-avatar";
@import "d-icon";
@import "d-input-pin";
@import "d-button-icon";
@import "d-quick-action-button";
@import "d-quick-action-select";
@import "d-quick-action-check";
@import "d-quick-action-switch";
@import "d-chip";
@import "d-modal";
@import "d-offcanvas";
@import "d-collapse-icon-text";
@import "d-datepicker.new";
@import "d-timepicker";
@import "d-close";
@import "d-popover";
@import "d-box-file";
@import "d-carousel";
@import "d-stepper-desktop";
@import "d-stepper-mobile";
@import "d-card-account";
@import "d-select";
@import "d-table-head";
