.d-box {
  --#{$prefix}box-component-bg: #{var(--#{$prefix}white)};
  --#{$prefix}box-component-border: 0;
  --#{$prefix}box-component-border-radius: #{var(--#{$prefix}border-radius)};
  --#{$prefix}box-component-padding: #{var(--#{$prefix}ref-spacer-4)};
  --#{$prefix}box-component-shadow: #{var(--#{$prefix}box-shadow-lg)};

  padding: var(--#{$prefix}box-component-padding);
  background-color: var(--#{$prefix}box-component-bg);
  border: var(--#{$prefix}box-component-border);
  border-radius: var(--#{$prefix}box-component-border-radius);
  box-shadow: var(--#{$prefix}box-component-shadow);
}
