.d-box {
  --#{$prefix}box-component-bg: #{$box-component-bg};
  --#{$prefix}box-component-border: #{$box-component-border};
  --#{$prefix}box-component-border-radius: #{$box-component-border-radius};
  --#{$prefix}box-component-padding: #{$box-component-padding};
  --#{$prefix}box-component-shadow: #{$box-component-shadow};

  padding: var(--#{$prefix}box-component-padding);
  background-color: var(--#{$prefix}box-component-bg);
  border: var(--#{$prefix}box-component-border);
  border-radius: var(--#{$prefix}box-component-border-radius);
  box-shadow: var(--#{$prefix}box-component-shadow);
}
