// stylelint-disable selector-class-pattern
.d-input-phone {
  --#{$prefix}phone-height: #{$input-phone-height};
  --#{$prefix}phone-border-color: #{$input-phone-border-color};
  --#{$prefix}phone-country-selector-border-color: #{$input-phone-country-selector-border-color};
  --#{$prefix}phone-background-color: #{$input-phone-background-color};
  --#{$prefix}phone-country-selector-background-color: #{$input-phone-country-selector-background-color};
  --#{$prefix}phone-country-selector-background-color-hover: #{$input-phone-country-selector-background-color-hover};
  --#{$prefix}phone-country-selector-arrow-size: #{$input-phone-country-selector-arrow-size};
  --#{$prefix}phone-country-selector-arrow-color: #{$input-phone-country-selector-arrow-color};
  --#{$prefix}phone-disabled-country-selector-arrow-color: #{$input-phone-disabled-country-selector-arrow-color};
  --#{$prefix}phone-disabled-background-color: #{$input-phone-disabled-background-color};
  --#{$prefix}phone-disabled-country-selector-background-color: #{$input-phone-disabled-country-selector-background-color};
  --#{$prefix}phone-flag-width: #{$input-phone-flag-width};
  --#{$prefix}phone-flag-height: #{$input-phone-flag-height};
  --#{$prefix}phone-dropdown-top: #{$input-phone-dropdown-top};
  --#{$prefix}phone-dropdown-left: #{$input-phone-dropdown-left};
  --#{$prefix}phone-dropdown-item-background-color: #{$input-phone-dropdown-item-background-color};
  --#{$prefix}phone-dropdown-shadow: #{$input-phone-dropdown-shadow};
  --#{$prefix}phone-text-color: #{$input-phone-text-color};
  --#{$prefix}phone-dropdown-item-text-color: #{$input-phone-dropdown-item-text-color};
  --#{$prefix}phone-dropdown-preferred-list-divider-margin: #{$input-phone-dropdown-preferred-list-divider-margin};
  --#{$prefix}phone-dropdown-preferred-list-divider-color: #{$input-phone-dropdown-preferred-list-divider-color};
  --#{$prefix}phone-dropdown-item-height: #{$input-phone-dropdown-item-height};
  --#{$prefix}phone-dropdown-item-font-size: #{$input-phone-dropdown-item-font-size};
  --#{$prefix}phone-dropdown-item-dial-code-color: #{$input-phone-dropdown-item-dial-code-color};
  --#{$prefix}phone-selected-dropdown-item-background-color: #{$input-phone-selected-dropdown-item-background-color};
  --#{$prefix}phone-selected-dropdown-item-text-color: #{$input-phone-selected-dropdown-item-text-color};
  --#{$prefix}phone-selected-dropdown-item-dial-code-color: #{$input-phone-selected-dropdown-item-dial-code-color};
  --#{$prefix}phone-dial-code-preview-border-color: #{$input-phone-dial-code-preview-border-color};
  --#{$prefix}phone-dial-code-preview-background-color: #{$input-phone-dial-code-preview-background-color};
  --#{$prefix}phone-dial-code-preview-text-color: #{$input-phone-dial-code-preview-text-color};
  --#{$prefix}phone-font-size: #{$input-phone-font-size};
  --#{$prefix}phone-dial-code-preview-font-size: #{$input-phone-dial-code-preview-font-size};
  --#{$prefix}phone-dial-code-preview-disabled-background-color: #{$input-phone-dial-code-preview-disabled-background-color};
  --#{$prefix}phone-dial-code-preview-disabled-text-color: #{$input-phone-dial-code-preview-disabled-text-color};
  --#{$prefix}phone-disabled-text-color: #{$input-phone-disabled-text-color};
  --#{$prefix}phone-border-radius: #{$input-phone-border-radius};

  .react-international-phone-country-selector {
    --react-international-phone-height: var(--#{$prefix}phone-height);
    --react-international-phone-border-color: var(--#{$prefix}phone-border-color);
    --react-international-phone-country-selector-border-color: var(--#{$prefix}phone-country-selector-border-color);
    --react-international-phone-background-color: var(--#{$prefix}phone-background-color);
    --react-international-phone-country-selector-background-color: var(--#{$prefix}phone-country-selector-background-color);
    --react-international-phone-country-selector-background-color-hover: var(--#{$prefix}phone-country-selector-background-color-hover);
    --react-international-phone-country-selector-arrow-size: var(--#{$prefix}phone-country-selector-arrow-size);
    --react-international-phone-country-selector-arrow-color: var(--#{$prefix}phone-country-selector-arrow-color);
    --react-international-phone-disabled-country-selector-arrow-color: var(--#{$prefix}phone-disabled-country-selector-arrow-color);
    --react-international-phone-disabled-background-color: var(--#{$prefix}phone-disabled-background-color);
    --react-international-phone-disabled-country-selector-background-color: var(--#{$prefix}phone-disabled-country-selector-background-color);
    --react-international-phone-flag-width: var(--#{$prefix}phone-flag-width);
    --react-international-phone-flag-height: var(--#{$prefix}phone-flag-height);
    --react-international-phone-dropdown-top: var(--#{$prefix}phone-dropdown-top);
    --react-international-phone-dropdown-left: var(--#{$prefix}phone-dropdown-left);
    --react-international-phone-dropdown-item-background-color: var(--#{$prefix}phone-dropdown-item-background-color);
    --react-international-phone-dropdown-shadow: var(--#{$prefix}phone-dropdown-shadow);
    --react-international-phone-text-color: var(--#{$prefix}phone-text-color);
    --react-international-phone-dropdown-item-text-color: var(--#{$prefix}phone-dropdown-item-text-color);
    --react-international-phone-dropdown-preferred-list-divider-margin: var(--#{$prefix}phone-dropdown-preferred-list-divider-margin);
    --react-international-phone-dropdown-preferred-list-divider-color: var(--#{$prefix}phone-dropdown-preferred-list-divider-color);
    --react-international-phone-dropdown-item-height: var(--#{$prefix}phone-dropdown-item-height);
    --react-international-phone-dropdown-item-font-size: var(--#{$prefix}phone-dropdown-item-font-size);
    --react-international-phone-dropdown-item-dial-code-color: var(--#{$prefix}phone-dropdown-item-dial-code-color);
    --react-international-phone-selected-dropdown-item-background-color: var(--#{$prefix}phone-selected-dropdown-item-background-color);
    --react-international-phone-selected-dropdown-item-text-color: var(--#{$prefix}phone-selected-dropdown-item-text-color);
    --react-international-phone-selected-dropdown-item-dial-code-color: var(--#{$prefix}phone-selected-dropdown-item-dial-code-color);
    --react-international-phone-dial-code-preview-border-color: var(--#{$prefix}phone-dial-code-preview-border-color);
    --react-international-phone-dial-code-preview-background-color: var(--#{$prefix}phone-dial-code-preview-background-color);
    --react-international-phone-dial-code-preview-text-color: var(--#{$prefix}phone-dial-code-preview-text-color);
    --react-international-phone-font-size: var(--#{$prefix}phone-font-size);
    --react-international-phone-dial-code-preview-font-size: var(--#{$prefix}phone-dial-code-preview-font-size);
    --react-international-phone-dial-code-preview-disabled-background-color: var(--#{$prefix}phone-dial-code-preview-disabled-background-color);
    --react-international-phone-dial-code-preview-disabled-text-color: var(--#{$prefix}phone-dial-code-preview-disabled-text-color);
    --react-international-phone-disabled-text-color: var(--#{$prefix}phone-disabled-text-color);
    --react-international-phone-border-radius: var(--#{$prefix}phone-border-radius);

    .dropdown-menu {
      --#{$prefix}dropdown-link-active-bg: var(--#{$prefix}secondary-200);
      --#{$prefix}dropdown-link-hover-bg: var(--#{$prefix}secondary-100);
      --#{$prefix}dropdown-link-active-color: var(--#{$prefix}body-color);
      --#{$prefix}dropdown-border-width: var(--#{$prefix}border-width);
      --#{$prefix}dropdown-border-color: var(--#{$prefix}gray-100);
    }

    .dropdown-item {
      --#{$prefix}dropdown-item-border-radius: 0;
    }
  }

  .react-international-phone-country-selector-button {
    height: auto;
    padding: 0;

    .react-international-phone-flag-emoji {
      margin-left: 0;
    }
  }

  .react-international-phone-country-selector-dropdown {
    width: auto; //TODO: See more detail with fewer elements

    &:focus {
      outline: 0;
    }

    >* {
      padding: var(--#{$prefix}ref-spacer-2) var(--#{$prefix}ref-spacer-4);
    }
  }

  .react-international-phone-country-selector-button__button-content {
    border: 0;
  }

  .react-international-phone-country-selector-button__dropdown-arrow {
    margin-right: 0;
  }
}
