.nav-toggle-button-group {
  --#{$prefix}toggle-button-group-border-color: var(--#{$prefix}gray-50);
  --#{$prefix}toggle-button-group-border-radius: 4rem;
  --#{$prefix}toggle-button-group-link-active-color: var(--#{$prefix}white);
  --#{$prefix}toggle-button-group-link-active-bg: var(--#{$prefix}primary);
  --#{$prefix}toggle-button-group-link-font-weight: var(--#{$prefix}fw-normal);
  --#{$prefix}toggle-button-group-bg: var(--#{$prefix}gray-25);
  --#{$prefix}toggle-button-group-radius: 4rem;
  --#{$prefix}toggle-button-group-padding: .25rem;

  padding: var(--#{$prefix}toggle-button-group-padding);
  overflow: hidden;
  background: var(--#{$prefix}toggle-button-group-bg);
  border: 1px solid var(--#{$prefix}toggle-button-group-border-color);
  border-radius: var(--#{$prefix}toggle-button-group-radius);

  .nav-link {
    border-radius: var(--#{$prefix}toggle-button-group-border-radius);
  }

  .nav-link.active {
    font-weight: var(--#{$prefix}toggle-button-group-link-font-weight);
    color: var(--#{$prefix}toggle-button-group-link-active-color);
    background: var(--#{$prefix}toggle-button-group-link-active-bg);
  }
}
