.tab-content {
  margin-bottom: var(--#{$prefix}ref-spacer-4);
}

.nav-pills {
  --#{$prefix}nav-pills-link-active-bg: var(--#{$prefix}gray-50);
  --#{$prefix}nav-pills-link-active-color: var(--#{$prefix}primary-500);
}

.nav-tabs {
  --#{$prefix}nav-tabs-border-color: var(--#{$prefix}gray-100);
  --#{$prefix}nav-tabs-link-active-border-color: var(--#{$prefix}nav-tabs-border-color);
}
