.d-voucher-header {
  display: flex;
  flex-direction: column;
  gap: var(--#{$prefix}ref-spacer-4);
  align-items: center;
  justify-content: center;
  margin-bottom: var(--#{$prefix}ref-spacer-4);
}

.d-voucher-amount {
  padding: var(--#{$prefix}ref-spacer-4);
  background: var(--#{$prefix}secondary-50);
  border-radius: var(--#{$prefix}ref-spacer-4);
}

.d-voucher-footer {
  display: flex;
  gap: var(--#{$prefix}ref-spacer-4);
  justify-content: center;
  justify-content: flex-start;
}
