@import "~bootstrap/scss/buttons";

.btn {
  display: flex;
  flex-direction: row;
  gap: var(--#{$prefix}btn-gap, $spacer-2);
  align-items: center;
  justify-content: center;

  // hover selectors
  &:hover,
  &.hover {
    // copy of .btn:hover bootstrap
    color: var(--#{$prefix}btn-hover-color);
    text-decoration: if($link-hover-decoration == underline, none, null);
    background-color: var(--#{$prefix}btn-hover-bg);
    border-color: var(--#{$prefix}btn-hover-border-color);
    // end copy
  }

  // focus selectors
  .btn-check:focus + &,
  &:focus-visible,
  &.focus-visible {
    // copy of .btn:focus bootstrap
    color: var(--#{$prefix}btn-hover-color);
    @include gradient-bg(var(--#{$prefix}btn-hover-bg));
    border-color: var(--#{$prefix}btn-hover-border-color);
    // end copy


    outline: var(--#{$prefix}btn-focus-border-width, var(--#{$prefix}btn-border-width)) solid var(--#{$prefix}btn-focus-outline-color, var(--#{$prefix}focus-ring-color));
    outline-offset: var(--#{$prefix}btn-focus-outline-offset, var(--#{$prefix}btn-border-width));
  }
}

@each $color, $value in map-remove($theme-colors, "light", "dark") {
  .btn-#{$color} {
    $dark-color: map-get($theme-color-variants, #{$color}-dark);
    $light-color: map-get($theme-color-variants, #{$color}-light);

    $hover-color: color-contrast($dark-color);
    $disable-color: color-contrast($light-color);

    --#{$prefix}btn-hover-bg: var(--#{$prefix}#{$color}-dark);
    --#{$prefix}btn-hover-border-color: var(--#{$prefix}#{$color}-dark);
    --#{$prefix}btn-hover-color: #{$hover-color};

    --#{$prefix}btn-disabled-bg: var(--#{$prefix}#{$color}-light);
    --#{$prefix}btn-disabled-border-color: var(--#{$prefix}#{$color}-light);
    --#{$prefix}btn-disabled-color: #{$disable-color};
  }
}
