.form-control-layout-currency {

  .form-select {
    --#{$prefix}form-select-bg-size: 12px; // In pixels because image dimensions

    flex: none;
    width: max-content;
  }

  .form-select,
  .form-control {
    border-width: 0;
    outline-width: 0;
    box-shadow: none;
  }

  .form-control-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.form-control-layout-currency-prime {

    --#{$prefix}input-group-bg: transparent;
    --#{$prefix}input-group-border-radius: 0;

    .form-select,
    .form-control:focus {
      background-color: var(--#{$prefix}input-group-bg);
    }

    .form-control {
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 2rem;
      line-height: 3rem;
      text-align: center;
    }

    .form-control-input {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .input-group {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: var(--#{$prefix}input-border-color);
      border-left-color: transparent;
    }

    .input-group:focus-within,
    .input-group:focus {
      border-color: var(--#{$prefix}input-border-color);
      --#{$prefix}input-group-bg: var(--#{$prefix}white);
      --#{$prefix}input-group-border-radius: #{$border-radius-sm};
    }

    .input-group:hover {
      box-shadow: none;
    }
  }
}

@each $color, $value in map-remove($theme-colors, "light", "dark") {
  .form-control-layout-currency.form-control-theme-#{$color} {
    label,
    .input-group-text,
    .input-group-icon,
    .hint {
      color: var(--#{$prefix}#{$color});
    }

    .input-group {
      --#{$prefix}input-border-color: var(--#{$prefix}#{$color});
    }
  }
}

@each $color, $value in map-remove($theme-colors-hover, "light", "dark") {
  .form-control-layout-currency:hover.form-control-theme-#{$color},
  .form-control-layout-currency.hover.form-control-theme-#{$color} {
    .input-group-text,
    .input-group-icon {
      color: var(--#{$prefix}#{$color}-hover);
    }

    .input-group {
      --#{$prefix}input-hover-border-color: var(--#{$prefix}#{$color}-hover);
      --#{$prefix}input-border-color: var(--#{$prefix}#{$color}-hover);
    }

    &:not(.form-control-layout-currency-prime) .input-group {
      box-shadow: 0 0 0 1px var(--#{$prefix}#{$color}-hover);
    }
  }
}
