.form-control-layout-currency {

  .form-select {
    --#{$prefix}form-select-bg-size: #{$currency-form-select-bg-size}; // In pixels because image dimensions

    flex: none;
    width: #{$currency-form-select-width};
    padding-right: 12px;
  }

  .form-select,
  .form-control {
    border-width: 0;
    outline-width: 0;
    box-shadow: none;
  }

  .form-control::-webkit-inner-spin-button,
  .form-control::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  .form-control-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-group.disabled,
  .form-control:disabled,
  .form-select:disabled {
    background-color: var(--#{$prefix}light);
  }

  .input-group.disabled {
    border-color: var(--#{$prefix}gray-light);

    &:hover {
      box-shadow: none;
    }
  }

  &.form-control-layout-currency-prime {

    --#{$prefix}input-group-bg: #{$currency-prime-input-group-bg};
    --#{$prefix}input-group-border-radius: #{$currency-prime-input-group-border-radius};

    .form-select,
    .form-control:focus {
      background-color: #{$currency-prime-focus-form-control-bg};
    }

    .form-control {
      padding-top: #{$currency-prime-form-control-padding-y};
      padding-bottom: #{$currency-prime-form-control-padding-y};
      font-size: #{$currency-prime-form-control-font-size};
      line-height: #{$currency-prime-form-control-line-height};
      text-align: #{$currency-prime-form-control-text-align};
    }

    .form-control-input {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .input-group {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: var(--#{$prefix}input-border-color);
      border-left-color: transparent;
    }

    .input-group:focus-within,
    .input-group:focus {
      border-color: var(--#{$prefix}input-border-color);
      --#{$prefix}input-group-bg: #{$currency-prime-focus-input-group-bg};
      --#{$prefix}input-group-border-radius: #{$currency-prime-focus-input-group-border-radius};
    }

    .input-group:hover {
      box-shadow: none;
    }
  }
}

@each $color, $value in map-remove($theme-colors, "light", "dark") {
  .form-control-layout-currency.form-control-theme-#{$color} {
    label,
    .input-group-text,
    .input-group-icon,
    .hint {
      color: var(--#{$prefix}#{$color});
    }

    .input-group {
      --#{$prefix}input-border-color: var(--#{$prefix}#{$color});
    }
  }

  .form-control-layout-currency:hover.form-control-theme-#{$color},
  .form-control-layout-currency.hover.form-control-theme-#{$color} {
    .input-group-text,
    .input-group-icon {
      color: var(--#{$prefix}#{$color}-hover);
    }

    .input-group {
      --#{$prefix}input-hover-border-color: var(--#{$prefix}#{$color}-hover);
      --#{$prefix}input-border-color: var(--#{$prefix}#{$color}-hover);
    }

    &:not(.form-control-layout-currency-prime) .input-group:not(.disabled) {
      box-shadow: 0 0 0 1px var(--#{$prefix}#{$color}-hover);
    }
  }
}
