:host {
  display: block;
}

.form-control-layout.form-control-layout-pin {
  --#{$prefix}form-label-color: var(--#{$prefix}gray-500);
  --#{$prefix}input-border-color: var(--#{$prefix}gray-300);
  --#{$prefix}input-hover-border-color: var(--#{$prefix}gray-500);
  --#{$prefix}input-focus-border-outline: 2px solid var(--#{$prefix}accessibility);
  --#{$prefix}input-focus-border-padding: -2px;
  --#{$prefix}input-height: 56px;
  --#{$prefix}input-width: 56px;

  label {
    font-weight: 600;

    .form-control-icon {
      .m-icon {
        --bs-m-icon-color: var(--#{$prefix}info);
      }
    }
  }

  .m-pin {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;

    .input-group-text {
      .form-control-icon {
        --#{$prefix}form-control-icon-size: 1.2rem;
      }
    }

    .m-pin-item {
      width: var(--#{$prefix}input-width);
      height: var(--#{$prefix}input-height);
      padding: 1rem;
      font-size: 1.5rem;
      line-height: 31px;
      text-align: center;
      border: 2px solid var(--#{$prefix}input-border-color);
      border-radius: 8px;

      &::placeholder {
        color: var(--#{$prefix}gray-300);
      }

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
      }

      &:focus,
      &:focus-visible {
        outline: var(--#{$prefix}input-focus-border-outline);
        outline-offset: var(--#{$prefix}input-focus-border-padding);

        &::placeholder {
          color: transparent;
        }
      }

      &:hover {
        border-color: var(--#{$prefix}input-hover-border-color);
      }

      &:disabled {
        color: var(--#{$prefix}gray-300);
        background-color: var(--#{$prefix}gray-100);
        border-color: var(--#{$prefix}gray-300);
      }
    }
  }
}

@each $color, $value in map-remove($theme-colors, "primary", "secondary", "success", "info", "light", "dark",) {
  .form-control-layout.form-control-layout-pin.form-control-theme-#{$color} {
    --#{$prefix}form-label-color: #{$value};
    --#{$prefix}input-border-color: #{$value};

    .form-control-icon {
      .m-icon {
        --#{$prefix}m-icon-color: #{$value};
      }
    }
  }
}

@each $color, $value in map-remove($theme-colors-hover, "primary", "secondary", "success", "info", "light", "dark",) {
  .form-control-layout.form-control-layout-pin.form-control-theme-#{$color} {
    --#{$prefix}input-hover-border-color: #{$value};
  }
}

@media (max-width: 767px) {
  .form-control-layout.form-control-layout-pin .m-pin {
    gap: 8px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .form-control-layout.form-control-layout-pin .m-pin .m-pin-item {
    --#{$prefix}input-height: 46px;
    --#{$prefix}input-width: 46px;
    padding: 0;
  }
}

@media (max-width: 375px) {
  .form-control-layout.form-control-layout-pin .m-pin {
    gap: 0;
    justify-content: space-around;
  }
}
