html,
body,
#root {
  height: 100%;
  background-color: #F9FAFA;

  .scroll-h {
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    align-items: center;

    .shortcut-toggle {
      height: 60px;
      width: 86px;
    }
  }

  .btn {

    &.btn-primary-gradient {
      --bs-btn-padding-x: 4rem;
    }
  }

  .alerta {
    z-index: 100;
  }
}