html,
body,
#root {
  height: 100vh;

  .scroll-h {
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    align-items: center;
  }

  .amount-options {
    gap: 6px;

    .shortcut-toggle,
    .shortcut-toggle-white {
      align-items: flex-start
    }
  }

  .segment-control {
    @extend .scroll-h;
    justify-content: flex-start;
  }
  .selectAccount {
    .form-control-input {
      .form-control-icon {
        color: #27346A;
        --bs-form-control-icon-size: 1.5rem;
        background-color: transparent;
      }
    }
    .form-select {
      background-position-x: 98%;
    }
  }
  .account-selector {
    .btn {
      --bs-btn-padding-x: 1.5rem;
      font-weight: 400;
      text-align: left;
      color: var(--bs-gray);
      padding-top: 1rem;
      padding-bottom: 1rem;
      box-shadow: 0 0 0 1px var(--bs-gray-light);
    }
    .btn-left-icon {
      color: #27346A;
      font-size: 1.5rem;
      background-color: transparent;
    }
    .btn-right-icon {
      background-color: #4848B712;
      padding: 0.5rem;
      border-radius: 4px;
    }

    .btn-outline-info {
      width: 100%;
    }

    span {
      flex-grow: 1;
    }
  }

  .btn {

    width: 100%;

    &.btn-primary-gradient {
      --bs-btn-padding-x: 4rem;

      &:disabled {
        color: var(--bs-white);
      }
    }
  }

  .custom-alert {
    z-index: 100;

    .alert {
      .alert-text {
        --bs-alert-font-size: 12px;
        --bs-alert-line-height: 18px;
      }

      .m-icon {
        font-size: 12px;
      }
    }
  }

  .btn-result {
    .btn {
      --bs-btn-padding-x: 1.75rem;
    }
  }

  .shortcut .shortcut-toggle .shortcut-label {
    font-weight: 600;
  }

  .more-options-btn {
    .btn {
      --bs-btn-font-weight: 400;
      --bs-btn-font-size: 0.75rem;
    }
  }
}
.payment-button {
  .btn {
    --bs-btn-padding-x: 2rem;
  }
}

.react-datepicker {

  border: 0;

  .react-datepicker__header {
    background-color: transparent;
    padding: 20px 0;
    border: 0;
  }

  .react-datepicker-border {
    border: 1px solid black;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--selected,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__year-text--in-range {
    background-color: var(--bs-tertiary);
    border-radius: 50rem;
    color: var(--bs-white);
  }

  .react-datepicker__day:hover,
  .react-datepicker__month-text:hover,
  .react-datepicker__quarter-text:hover,
  .react-datepicker__year-text:hover {
    background-color: rgba(var(--bs-tertiary-rgb), 0.1);
    border-radius: 50rem;
  }

  .react-datepicker__day--selected:hover,
  .react-datepicker__day--in-selecting-range:hover,
  .react-datepicker__day--in-range:hover,
  .react-datepicker__month-text--selected:hover,
  .react-datepicker__month-text--in-selecting-range:hover,
  .react-datepicker__month-text--in-range:hover,
  .react-datepicker__quarter-text--selected:hover,
  .react-datepicker__quarter-text--in-selecting-range:hover,
  .react-datepicker__quarter-text--in-range:hover,
  .react-datepicker__year-text--selected:hover,
  .react-datepicker__year-text--in-selecting-range:hover,
  .react-datepicker__year-text--in-range:hover {
    background-color: var(--bs-tertiary-hover);
  }

  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    background-color: var(--bs-tertiary);
    border-radius: 50rem;
    color: var(--bs-white);
  }
}