.nav {
  --#{$prefix}nav-link-hover-bg: #{$nav-link-hover-bg};
}

.nav-pills,
.nav-tabs,
.nav-underline {
  .nav-link:not(.active, .disabled, :disabled) {
    &:hover {
      background-color: var(--#{$prefix}nav-link-hover-bg);
    }
  }
}

.nav-pills,
.nav-underline {
  gap: var(--#{$prefix}nav-tabs-nav-gap);

  &.flex-column {
    flex: 1 0 auto;

    .nav-link {
      width: 100%;
    }
  }
}

.nav-underline {
  &.flex-column {
    .nav-link {
      border-right: var(--#{$prefix}nav-underline-border-width) solid var(--#{$prefix}nav-underline-border-color);
      border-bottom-width: 0;
    }

    .nav-link.active {
      background-color: var(--#{$prefix}nav-link-hover-bg);
      border-right: var(--#{$prefix}nav-underline-border-width) solid currentcolor;
    }
  }

  .nav-link {
    padding: var(--#{$prefix}nav-link-padding-y) var(--#{$prefix}nav-link-padding-x);
  }
}
