.nav-tabs {
  .nav-link.active,
  .nav-item.show .nav-link {
    border-bottom-color: transparent;
  }
}

.nav-underline {
  --#{$prefix}nav-underline-font-weight: #{$nav-underline-font-weight};

  .nav-link.active,
  .show > .nav-link {
    font-weight: var(--#{$prefix}nav-underline-font-weight);
  }
}


.tab-content {
  margin-bottom: var(--#{$prefix}ref-spacer-4);
}
