.pagination {
  --#{$prefix}pagination-page-item-size: #{$pagination-page-item-size};
  --#{$prefix}pagination-border-radius: #{$pagination-page-border-radius};
  --#{$prefix}pagination-page-control-color: #{$pagination-page-control-color};
  --#{$prefix}pagination-page-control-disabled-color: #{$pagination-page-control-disabled-color};
  gap: var(--#{$prefix}ref-spacer-1);
  margin: 0;

  .page-item {
    min-width: var(--#{$prefix}pagination-page-item-size);
    min-height: var(--#{$prefix}pagination-page-item-size);
  }

  .page-item-arrow {
    &:is(.page-item:first-child, .page-item:last-child):not(.disabled) .page-link {
      color: var(--#{$prefix}pagination-page-control-color);
    }

    &:is(.page-item:first-child, .page-item:last-child).disabled .page-link {
      color: var(--#{$prefix}pagination-page-control-disabled-color);
    }
  }

  .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-inline: .5rem;
    border-radius: var(--#{$prefix}pagination-border-radius);
  }

}

.pagination-lg {
  --#{$prefix}pagination-page-item-size: #{$pagination-page-item-size-lg};
}

.pagination-sm {
  --#{$prefix}pagination-page-item-size: #{$pagination-page-item-size-sm};
}
