.toast {
  --#{$prefix}toast-header-gap: var(--#{$prefix}ref-spacer-2);
  --#{$prefix}toast-body-gap: var(--#{$prefix}ref-spacer-2);
  --#{$prefix}toast-color: var(--#{$prefix}gray-900);
  --#{$prefix}toast-close-color: var(--#{$prefix}gray-900);
  --#{$prefix}toast-header-color: var(--#{$prefix}gray-900);

  .toast-title {
    margin-right: auto;
    margin-bottom: 0;
  }

  .toast-header {
    gap: var(--#{$prefix}toast-header-gap);
  }

  .toast-body {
    display: flex;
    gap: var(--#{$prefix}toast-body-gap);
    align-items: center;
    justify-content: space-between;
  }

  .toast-icon.d-icon {
    --#{$prefix}icon-color: var(--#{$prefix}toast-icon-color);
  }

  @each $theme, $value in map-remove($theme-colors-base, "warning", "light", "dark") {
    &.toast-#{$theme} {
      --#{$prefix}toast-border-color: var(--#{$prefix}#{$theme}-50);
      --#{$prefix}toast-color: var(--#{$prefix}#{$theme}-700);
      --#{$prefix}toast-close-color: var(--#{$prefix}#{$theme}-700);
      --#{$prefix}toast-header-color: var(--#{$prefix}#{$theme}-700);
      --#{$prefix}toast-bg: var(--#{$prefix}#{$theme}-50);
      --#{$prefix}toast-header-bg: var(--#{$prefix}#{$theme}-50);

      .d-close {
        color: var(--#{$prefix}toast-close-color);
      }
    }
  }

  &.toast-warning {
    --#{$prefix}toast-border-color: var(--#{$prefix}warning-50);
    --#{$prefix}toast-color: var(--#{$prefix}warning-800);
    --#{$prefix}toast-close-color: var(--#{$prefix}warning-800);
    --#{$prefix}toast-header-color: var(--#{$prefix}warning-800);
    --#{$prefix}toast-bg: var(--#{$prefix}warning-50);
    --#{$prefix}toast-header-bg: var(--#{$prefix}warning-50);

    .d-close {
      color: var(--#{$prefix}toast-close-color);
    }
  }
}
