.tooltip {
  --#{$prefix}tooltip-sm-font-size: #{$tooltip-font-size-sm};
  --#{$prefix}tooltip-lg-font-size: #{$tooltip-font-size-lg};

  // fill: var(--#{$prefix}tooltip-bg);

  &.tooltip-sm {
    --#{$prefix}tooltip-font-size: var(--#{$prefix}tooltip-sm-font-size);
  }

  &.tooltip-lg {
    --#{$prefix}tooltip-font-size: var(--#{$prefix}tooltip-lg-font-size);
  }
}
