@import "bootstrap/scss/reboot";

// @import "bootstrap/scss/type"; we use our own bootstrap based implementation

@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables"; we use our own bootstrap based implementation
@import "tables";

@import "bootstrap/scss/transitions";

@import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons"; we use our own bootstrap based implementation
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";
@import "bootstrap/scss/badge";

@import "type";
@import "body";
@import "accordion";
@import "form-switch";
@import "form-check";
@import "form-control";
@import "form-text";
@import "input-group";
@import "buttons";
@import "button-group";
@import "progress";
@import "alert";
@import "collapse";
@import "pagination";
@import "breadcrumb";
@import "dropdown";
@import "label";
@import "avatar";
