.alert {
  --#{$prefix}alert-gap: #{$alert-gap};
  --#{$prefix}alert-close-icon-size: #{$alert-close-icon-size};
  --#{$prefix}alert-icon-color: var(--#{$prefix}alert-color);

  // Here icon color?
  // --#{$prefix}alert-icon-color: var(--#{$prefix}success);
  --#{$prefix}alert-icon-size: var(--#{$prefix}ref-spacer-5);

  display: flex;
  flex-direction: row;
  gap: var(--#{$prefix}alert-gap);
  align-items: flex-start;

  .alert-text {
    flex-grow: 1;
  }

  .btn-close {
    --#{$prefix}btn-close-bg: transparent;
  }

  // .d-close {
  //   color: var(--#{$prefix}toast-close-color);
  // }

  .alert-icon {
    --#{$prefix}icon-size: var(--#{$prefix}alert-icon-size);
    --#{$prefix}icon-color: var(--#{$prefix}alert-icon-color);
  }

  .alert-close-icon {
    --#{$prefix}icon-size: var(--#{$prefix}alert-close-icon-size);
  }

  @each $theme, $value in map-remove($theme-colors, "light", "dark") {
    $color: color-contrast-var($value);
    &.alert-#{$theme} {
      --#{$prefix}alert-icon-color: var(--#{$prefix}#{$theme}-500);
      --#{$prefix}alert-color: var(--#{$prefix}body-color);

      --#{$prefix}alert-bg: var(--#{$prefix}surface-#{$theme});
      --#{$prefix}alert-border-color: var(--#{$prefix}surface-#{$theme});
      --#{$prefix}alert-link-color: #{$color};
    }
  }
}
