.avatar {
  --#{$prefix}avatar-size: var(--#{$prefix}ref-spacer-8);
  --#{$prefix}avatar-title-bg: var(--#{$prefix}gray-500);
  --#{$prefix}avatar-title-color: var(--#{$prefix}white);
  --#{$prefix}avatar-radius: var(--#{$prefix}border-radius-pill);

  position: relative;
  display: inline-block;
  width: var(--#{$prefix}avatar-size);
  height: var(--#{$prefix}avatar-size);
  font-size: calc(var(--#{$prefix}avatar-size) / 3);

  .avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--#{$prefix}avatar-radius);
  }

  .avatar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--#{$prefix}avatar-title-color);
    white-space: pre-wrap;
    background-color: var(--#{$prefix}avatar-title-bg);
    border-radius: var(--#{$prefix}avatar-radius);
  }
}

.avatar-xs {
  --#{$prefix}avatar-size: var(--#{$prefix}ref-spacer-4);
}

.avatar-sm {
  --#{$prefix}avatar-size: var(--#{$prefix}ref-spacer-6);
}

.avatar-lg {
  --#{$prefix}avatar-size: var(--#{$prefix}ref-spacer-10);
}

.avatar-xl {
  --#{$prefix}avatar-size: var(--#{$prefix}ref-spacer-12);
}

.avatar-xxl {
  --#{$prefix}avatar-size: var(--#{$prefix}ref-spacer-14);
}

.avatar-group {
  .avatar-img {
    box-shadow: -2px 0 2px rgba(0, 0, 0, .1);
  }

  .avatar + .avatar {
    margin-left: calc(var(--#{$prefix}avatar-size) * -.25);
  }
}
