html,
body,
#root {
  height: 100%;
  background-color: #F9FAFA;

  .scroll-h {
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .shortcut-toggle {
      height: 60px;
      width: 86px;
    }
  }

  .account-selector {
    .btn {
      --bs-btn-padding-x: 1.5rem;
      font-weight: 400;

    }
    .btn-outline-info {
      // --bs-info-rgb: rgb(192, 192, 209);
      width: 100%;
    }
    span {
      flex-grow: 1;
    }
  }
}