.quick-action-host {
  background-color: $quick-action-bg;
  border-radius: $quick-action-border-radius;

  &.disabled {
    opacity: $quick-action-disabled-opacity;
  }
}

.quick-action {
  display: flex;
  gap: $spacer-2;
  align-items: center;
  width: 100%;
  padding: $quick-action-padding;
  cursor: $quick-action-cursor;
  background-color: $quick-action-bg;
  background-position: center;
  border: $quick-action-border-width $quick-action-border-style $quick-action-border-color;
  border-radius: $quick-action-border-radius;
  transition-duration: $quick-action-transition-duration;

  &.quick-action-state-focus,
  &:focus:not(:focus-visible),
  &:focus {
    outline: $quick-action-outline;
    outline-offset: $quick-action-outline-offset;
  }

  &.quick-action-state-hover,
  &:hover {
    background: $quick-action-bg radial-gradient(circle, transparent 1%, $quick-action-bg 1%) center/15000%;
    box-shadow: $quick-action-box-shadow;
  }

  &.quick-action-state-disabled,
  &:disabled {
    pointer-events: none;
    cursor: $quick-action-disabled-cursor;
    user-select: none;
  }

  &:active {
    background-color: rgba(var(--#{$prefix}tertiary-rgb), .2);
    background-size: 100%;
    transition: background 0s;
  }
}

.quick-action-picture {
  color: $quick-action-picture-color;
  border-radius: $quick-action-border-radius;

  .quick-action-icon,
  .quick-action-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: inherit;
  }

  .quick-action-img {
    overflow: hidden;
  }

  .quick-action-icon {
    background-color: $quick-action-bg-icon;
  }
}

.quick-action-content {
  display: flex;
  width: 100%;
}

.quick-action-text {
  display: flex;
  flex-grow: 1;
}

.quick-action-title {
  font-weight: $font-weight-bold;
  line-height: $line-height-base;
}

.quick-action-link {
  color: $quick-action-color-link;
  text-align: start;
}

// Extended Variant

.quick-action-variant-extended {

  .quick-action-content {
    gap: $spacer-2;
  }

  .quick-action-text {
    flex-direction: column;
    text-align: start;
  }

  .quick-action-link {
    align-self: center;
  }
}

// Compact Variant

.quick-action-variant-compact {

  .quick-action-content {
    flex-direction: column;
  }

  .quick-action-text {
    gap: $spacer-2;
    align-items: center;
    text-align: start;
  }
}
