.m-modal,
.modal {
  --#{$prefix}m-modal-body-padding: #{$modal-body-padding};
  --#{$prefix}m-modal-footer-padding: #{$modal-footer-padding};
  --#{$prefix}m-modal-separator-margin-x: #{$modal-separator-margin-x};
  --#{$prefix}m-modal-separator-height: #{$modal-separator-height};
  --#{$prefix}m-modal-separator-bg: #{$modal-separator-bg};

  display: block;

  .m-modal-slot > * {
    display: contents;
  }

  .modal-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .m-modal-close {
    align-self: flex-end;
    padding: 0;
    margin-bottom: $spacer-3;
    background: transparent;
    border: 0;

    .m-icon {
      --#{$prefix}m-icon-size: #{$spacer-3};
    }
  }

  .modal-body {
    padding: var(--#{$prefix}m-modal-body-padding);
  }

  .m-modal-separator {
    height: var(--#{$prefix}m-modal-separator-height);
    margin: 0 var(--#{$prefix}m-modal-separator-margin-x);
    background: var(--#{$prefix}m-modal-separator-bg);
  }

  .modal-footer {
    gap: var(--#{$prefix}modal-footer-gap);
    padding: var(--#{$prefix}m-modal-footer-padding);
  }

  .m-modal-action-fill {
    div > * {
      flex: 1;
    }
  }

  .m-modal-action-start {
    justify-content: flex-start;
  }

  .m-modal-action-center {
    justify-content: center;
  }

  .m-modal-action-end {
    justify-content: flex-end;
  }
}
