.m-offcanvas,
.offcanvas {
  --#{$prefix}m-offcanvas-footer-gap: #{$offcanvas-footer-gap};

  .m-offcanvas-slot > * {
    display: contents;
  }

  .offcanvas-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &:has(.m-offcanvas-close:only-child) {
      justify-content: flex-end;
    }
  }

  .offcanvas-body {
    padding: 0 var(--#{$prefix}offcanvas-padding-x);
  }

  .m-offcanvas-footer {
    display: flex;
    gap: var(--#{$prefix}m-offcanvas-footer-gap);
    padding: var(--#{$prefix}offcanvas-padding-y) var(--#{$prefix}offcanvas-padding-x);
  }

  .m-offcanvas-close {
    padding: 0;
    background: transparent;
    border: 0;

    .m-icon {
      --#{$prefix}m-icon-size: #{$spacer-3};
    }
  }

  .m-offcanvas-action-fill {
    div > * {
      flex: 1;
    }
  }

  .m-offcanvas-action-start {
    justify-content: flex-start;
  }

  .m-offcanvas-action-end {
    justify-content: flex-end;
  }
}
