/* stylelint-disable scss/dollar-variable-default */
// Theme utilities

$utilities: map-merge(
  $utilities,
  (
    "opacity": map-merge(
      map-get($utilities, "opacity"),
      (
        values: map-merge(
          map-get(map-get($utilities, "opacity"), "values"),
          (
            40: .4,
          )
        )
      )
    ),
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          $palette-grays,
        )
      )
    ),
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          map-merge($palette-grays, $bg-soft-colors),
        )
      )
    ),
    "text-opacity": map-merge(
      map-get($utilities, "text-opacity"),
      (
        values: map-merge(
          map-get(map-get($utilities, "text-opacity"), "values"),
          (
            40: .4,
          )
        )
      )
    ),
    "border-color": map-merge(
      map-get($utilities, "border-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "border-color"), "values"),
          $palette-grays,
        )
      )
    ),
    "cursor": (
      property: cursor,
      values: $cursors,
    ),
  )
);
