// @import "bootstrap/scss/root";
@import "root";

@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";

@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "tables";

@import "bootstrap/scss/transitions";

@import "contents";
