:host,
.form-switch-box {
  --#{$prefix}form-check-border-width-focus: #{$form-check-border-width-focus};
  --#{$prefix}form-check-border-color-focus: #{$form-check-border-color-focus};
  --#{$prefix}checkbox-box-border-width: 3px;
  --#{$prefix}checkbox-box-border-radius: #{$form-check-input-border-radius};

  padding: var(--#{$prefix}checkbox-box-border-width);

  &:focus-within,
  &.focus {
    border-radius: var(--#{$prefix}checkbox-box-border-radius);
    box-shadow: 0 0 0 var(--#{$prefix}form-check-border-width-focus) var(--#{$prefix}form-check-border-color-focus);
  }

  .form-check-switch:hover:not([disabled]) {
    --#{$prefix}form-switch-border-hover-color: #{$tertiary};
    border: var(--#{$prefix}form-check-input-border-hover-width) solid var(--bs-form-switch-border-hover-color);
  }
}
