.m-hint {
  --#{$prefix}hint-gap: #{$spacer-2};
  --#{$prefix}hint-padding-x: #{$spacer-3};
  --#{$prefix}hint-padding-y: #{$spacer-1};

  display: flex;
  gap: var(--#{$prefix}hint-gap);
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: var(--#{$prefix}hint-padding-y) var(--#{$prefix}hint-padding-x);
  color: var(--#{$prefix}gray);
}

@each $color, $value in map-remove($theme-colors, "light", "primary", "secondary") {
  .m-hint-#{$color} {
    color: var(--#{$prefix}#{$color});
  }
}
