// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

@import "colors";

// Characters which are escaped by the escape-svg function
$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29"),
) !default;

@import "options";

// Prefix for :root CSS variables

$variable-prefix: bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix !default;

// Gradient
//
// The gradient which is added to components if `$enable-gradients` is `true`
// This gradient is also added to elements with `.bg-gradient`
// scss-docs-start variable-gradient
$gradient: linear-gradient(180deg, rgba($white, .15), rgba($white, 0)) !default;
// scss-docs-end variable-gradient

@import "spacers";

// Position
//
// Define the edge positioning anchors of the position utilities.

// scss-docs-start position-map
$position-values: (
  0: 0,
  50: 50%,
  100: 100%
) !default;
// scss-docs-end position-map

@import "body";
@import "grid";
@import "border";
@import "box-shadow";

// scss-docs-start focus-ring-variables
$focus-ring-width: .25rem !default;
$focus-ring-opacity: 1 !default;
$focus-ring-color: rgba($secondary, $focus-ring-opacity) !default;
$focus-ring-blur: 0 !default;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color !default;
// scss-docs-end focus-ring-variables

$component-active-color: $white !default;
$component-active-bg: $focus-ring-color !default;

// scss-docs-start caret-variables
$caret-width: .3em !default;
$caret-vertical-align: $caret-width * .85 !default;
$caret-spacing: $caret-width * .85 !default;
// scss-docs-end caret-variables

$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .3s linear !default;
// scss-docs-start collapse-transition
$transition-collapse: height .35s ease !default;
$transition-collapse-width: width .35s ease !default;
// scss-docs-end collapse-transition

// stylelint-disable function-disallowed-list
// scss-docs-start aspect-ratios
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
) !default;
// scss-docs-end aspect-ratios
// stylelint-enable function-disallowed-list

@import "typography";
@import "tables";

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// scss-docs-start input-btn-variables
$input-btn-padding-y: .625rem !default; // TODO: remove this after m-input homologation
$input-btn-padding-x: $spacer-4 !default; // TODO: remove this after m-input homologation
$input-btn-font-family: null !default;
$input-btn-font-size: $font-size-base !default;
$input-btn-line-height: $line-height-base !default;

$input-btn-focus-width: 0 !default;
$input-btn-focus-color-opacity: 0 !default;
$input-btn-focus-color: rgba(var(--#{$prefix}secondary-rgb), $input-btn-focus-color-opacity) !default;
$input-btn-focus-blur: 0 !default;
$input-btn-focus-box-shadow: none !default;

$input-btn-padding-y-sm: $spacer-2 !default; // TODO: remove this after m-input homologation
$input-btn-padding-x-sm: $spacer-3 !default; // TODO: remove this after m-input homologation
$input-btn-font-size-sm: $subparagraph-font-size !default;

$input-btn-padding-y-lg: 1.125rem !default; // TODO: remove this after m-input homologation
$input-btn-padding-x-lg: $spacer-4 !default; // TODO: remove this after m-input homologation
$input-btn-font-size-lg: 1rem !default;

$input-btn-border-width: $border-width !default;
// scss-docs-end input-btn-variables

@import "buttons";
@import "forms";
@import "z-index";
@import "navs";
@import "navbar";
@import "dropdowns";
@import "pagination";

// Placeholders

// scss-docs-start placeholders
$placeholder-opacity-max: .5 !default;
$placeholder-opacity-min: .2 !default;
// scss-docs-end placeholders

@import "cards";
@import "accordion";
@import "tooltips";
@import "popovers";
@import "toasts";
@import "badges";
@import "modals";
@import "alerts";
@import "progress-bars";
@import "list-group";
@import "thumbnails";
@import "figures";
@import "breadcrumb";
@import "carousel";
@import "spinners";
@import "close";
@import "offcanvas";
@import "code";

// custom
@import "quick-action";
@import "segment-control";
@import "shortcut-toggle";
@import "cursors";
// end custom

