// Badges

// scss-docs-start badge-variables
$badge-font-size: $small-font-size !default;
$badge-font-weight: $font-weight-normal !default;
$badge-color: $color-contrast-dark !default;
$badge-padding-y: $spacer-1 !default;
$badge-padding-x: $spacer-2 !default;
$badge-border-radius: $border-radius-sm !default;

// custom
$badge-bg: $color-contrast-light !default;
$badge-dot-height: $spacer-3 !default;
// end custom
// scss-docs-end badge-variables
