$badge-font-size: .75rem !default;
$badge-font-weight: $font-weight-normal !default;
$badge-color: $white !default;
$badge-padding-y: .25rem !default;
$badge-padding-x: .75rem !default;
$badge-border-radius: $border-radius-sm !default;
$badge-color-light: $gray-600 !default;
$badge-line-height: 1.125rem !default;
$badge-dot-width: .75rem !default;
$badge-dot-height: .75rem !default;
