$box-shadow: 0 12px 14px 0 rgba($dark, .2) !default;
$box-shadow-sm: 0 8px 12px 0 rgba($dark, .1) !default;
$box-shadow-lg: 0 20px 22px 0 rgba($dark, .25) !default;
// $box-shadow-inset: inset 0 1px 2px rgba($black, .075) !default;
