// $breadcrumb-font-size: null !default;
// $breadcrumb-padding-y: 0 !default;
// $breadcrumb-padding-x: 0 !default;
// $breadcrumb-item-padding-x: .5rem !default;
// $breadcrumb-margin-bottom: 1rem !default;
// $breadcrumb-bg: null !default;
// $breadcrumb-divider-color: $gray-600 !default;
// $breadcrumb-active-color: $gray-600 !default;
// $breadcrumb-divider: quote("/") !default;
// $breadcrumb-divider-flipped: $breadcrumb-divider !default;
// $breadcrumb-border-radius: null !default;
