// Badges

// scss-docs-start chip-variables
$chip-gap: $spacer-1 !default;
$chip-bg: $color-contrast-light !default;
$chip-color: $color-contrast-dark !default;
$chip-border-radius: $border-radius-pill !default;
$chip-padding-x: $spacer-1 !default;
$chip-padding-y: $spacer-2 !default;
$chip-font-size: $small-font-size !default;
$chip-font-weight: $font-weight-bold !default;
$chip-line-height: $line-height-base * 1rem !default;
// scss-docs-end chip-variables
