/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
*/

/*
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;
*/

// $grid-columns: 12 !default;
// $grid-gutter-width: 1.5rem !default;
// $grid-row-columns: 6 !default;

// $container-padding-x: $grid-gutter-width !default;
