// Segment Control
$segment-control-bg: var(--#{$prefix}gray-light) !default;
$segment-control-border-radius: .5rem !default;
$segment-control-width: fit-content !default;
$segment-control-height: auto !default;
$segment-control-font-size: 12px !default;
$segment-control-font-weight: 700 !default;
$segment-control-line-height: 18px !default;
$segment-control-letter-spacing: -.5% !default;
// Segment Control Item
$segment-control-item-bg: var(--#{$prefix}gray-light) !default;
$segment-control-item-color: var(--#{$prefix}white) !default;
$segment-control-item-border-width: 2px !default;
$segment-control-item-border-color: var(--#{$prefix}segment-control-item-border-color) !default;
$segment-control-item-border: $segment-control-item-border-width solid $segment-control-item-border-color !default;
$segment-control-item-padding-x: subtract($spacer-3, $segment-control-item-border-width) !default;
$segment-control-item-padding-y: subtract($spacer-2, $segment-control-item-border-width) !default;
$segment-control-item-border-radius: $segment-control-border-radius !default;
$segment-control-item-cursor: pointer !default;
// Segment Control Item :hover
$segment-control-item-hover-bg: var(--#{$prefix}gray) !default;
// Segment Control Item :focus
// TODO: fix focus.
// $segment-control-item-focus-border-color: var(--#{$prefix}accessibility) !default;
// Segment Control Item :active
$segment-control-item-active-bg: var(--#{$prefix}tertiary) !default;
$segment-control-item-active-color: var(--#{$prefix}white) !default;
// Segment Control Item :checked
$segment-control-item-checked-bg: var(--#{$prefix}white) !default;
$segment-control-item-checked-color: var(--#{$prefix}tertiary) !default;
// Segment Control Item :checked :hover
$segment-control-item-checked-hover-border-color: var(--#{$prefix}tertiary) !default;
// Segment Control Item :disabled
$segment-control-item-disabled-border-color: var(--#{$prefix}gray-light) !default;
$segment-control-item-disabled-bg: var(--#{$prefix}white) !default;
$segment-control-item-disabled-color: var(--#{$prefix}gray-light) !default;
$segment-control-item-disabled-cursor: not-allowed !default;
// Separator
$segment-control-separator-width: 1px !default;
$segment-control-separator-height: 25px !default;
$segment-control-separator-bg: var(--#{$prefix}light) !default;
$segment-control-separator-border-radius: 1rem !default;
$segment-control-separator-opacity: .2 !default;
$segment-control-separator-margin-x: 1.5px !default;
