// Shortcut
$shortcut-border: 3px solid transparent !default;
$shortcut-border-radius: .7rem !default;
$shortcut-padding: 3px !default;
// Input ~ Shortcut toggle
$shortcut-toggle-bg: rgba($color: var(--#{$prefix}tertiary-rgb), $alpha: .07) !default;
$shortcut-toggle-border: none !default;
$shortcut-toggle-padding: 12px !default;
$shortcut-toggle-border-radius: .5rem !default;
// Shortcut toggle
$shortcut-toggle-transition: box-shadow .3s ease-in-out !default;
// Shortcut toogle - Label
$shortcut-toggle-label-color: var(--#{$prefix}tertiary) !default;
$shortcut-toggle-label-font-size: .625rem !default;
$shortcut-toggle-label-line-height: .756rem !default;
// Shortcut toogle - Text
$shortcut-toggle-text-color: var(--#{$prefix}gray) !default;
$shortcut-toggle-text-font-weight: 600 !default;
$shortcut-toggle-text-line-height: 1.375rem !default;
// Shortcut toogle - Icon
$shortcut-toggle-icon-color: var(--#{$prefix}tertiary) !default;
// :checked
$shortcut-toggle-checked-bg: var(--#{$prefix}tertiary) !default;
$shortcut-toggle-label-checked-color: var(--#{$prefix}gray-200) !default;
$shortcut-toggle-text-checked-color: var(--#{$prefix}white) !default;
$shortcut-toggle-icon-checked-color: var(--#{$prefix}white) !default;
// :focus
// TODO: fix focus.
// $shortcut-focus-border-color: var(--#{$prefix}accessibility) !default;
// :hover
$shortcut-toggle-hover-box-shadow: 0 0 0 3px rgba($color: var(--#{$prefix}tertiary-rgb), $alpha: .03) !default;
// :active
$shortcut-toggle-active-box-shadow: inset 0 0 0 8px rgba(var(--#{$prefix}tertiary-rgb), .07) !default;
// :disabled
$shortcut-disabled-cursor: not-allowed !default;
$shortcut-disabled-opacity: .3 !default;

