$font-family-sans-serif: "Inter", sans-serif !default;
$font-family-monospace: $font-family-sans-serif !default;

$font-family-base: var(--#{$prefix}font-sans-serif) !default;
$font-family-code: var(--#{$prefix}font-monospace) !default;

$font-size-root: 16px !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875 !default;   // 14px
$font-size-lg: $font-size-base * 1.125 !default;  // 18px

$font-weight-lighter: lighter !default;
$font-weight-light: 200 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 800 !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.2 !default;
$line-height-sm: 1.2 !default;
$line-height-lg: 1.2 !default;

$h1-font-size: $font-size-base * 4 !default;
$h2-font-size: $font-size-base * 3.5 !default;
$h3-font-size: $font-size-base * 3 !default;
$h4-font-size: $font-size-base * 2 !default;
$h5-font-size: $font-size-base * 1.5 !default;
$h6-font-size: $font-size-base * 1.125 !default;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;

$headings-margin-bottom: $spacer * .5 !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

$display1-font-size: 7.5rem !default;
$display2-font-size: 4.5rem !default;
$display3-font-size: 4rem !default;
$display4-font-size: 3.5rem !default;
$display5-font-size: 3rem !default;
$display6-font-size: 2.5rem !default;

$display-font-sizes: (
  1: $display1-font-size,
  2: $display2-font-size,
  3: $display3-font-size,
  4: $display4-font-size,
  5: $display5-font-size,
  6: $display6-font-size
) !default;

$display-font-family: null !default;
$display-font-style:  null !default;
$display-font-weight: $font-weight-base !default;
$display-line-height: $headings-line-height !default;

// $lead-font-size: $font-size-base * 1.25 !default; // TODO: set value
// $lead-font-weight: $font-weight-normal !default; // TODO: set value

$subparagraph-font-size: .875rem !default;
$lead-font-weight: $font-weight-normal !default;

$small-font-size: .813rem !default;

// $sub-sup-font-size: .75em !default; // TODO: set value

// $text-muted: rgba(var(--#{$prefix}body-color-rgb), .75) !default;

// $initialism-font-size: $small-font-size !default;

// $blockquote-margin-y: $spacer !default;
// $blockquote-font-size: $font-size-base * 1.25 !default;
// $blockquote-footer-color: $gray-600 !default;
// $blockquote-footer-font-size: $small-font-size !default;

// $hr-margin-y: $spacer !default;
// $hr-color: inherit !default;

// $hr-bg-color: null !default; // Deprecated in v5.2.0
// $hr-height: null !default; // Deprecated in v5.2.0

// $hr-border-color: null !default; // Allows for inherited colors
// $hr-border-width: $border-width !default;
// $hr-opacity: .25 !default;

// $legend-margin-bottom: .5rem !default;
// $legend-font-size: 1.5rem !default;
// $legend-font-weight: null !default;

// $dt-font-weight: $font-weight-bold !default;

// $list-inline-padding: .5rem !default;

// $mark-padding: .1875em !default;
// $mark-bg: $yellow-100 !default;
