// Alerts
//
// Define alert colors, border radius, and padding.

// scss-docs-start alert-variables
$alert-padding-x: $spacer-6 !default;
$alert-border-radius: var(--#{$prefix}border-radius-sm) !default;
$alert-link-font-weight: var(--#{$prefix}ref-fw-bold) !default;
// scss-docs-end alert-variables

// fusv-disable
$alert-bg-scale: 100% !default;
$alert-border-scale: 100% !default;
$alert-color-scale: 100% !default;
// fusv-enable

// custom
$alert-gap: var(--#{$prefix}ref-spacer-4) !default;
$alert-box-shadow: var(--#{$prefix}box-shadow-sm) !default;
$alert-close-icon-size: var(--#{$prefix}ref-spacer-3) !default;
// end custom
// scss-docs-end alert-variables
