// Alerts
//
// Define alert colors, border radius, and padding.

// scss-docs-start alert-variables
$alert-padding-y: $spacer-3 !default;
$alert-padding-x: $spacer-4 !default;
$alert-margin-bottom: $spacer-3 !default;
$alert-border-radius: var(--#{$prefix}border-radius-sm) !default;
$alert-link-font-weight: var(--#{$prefix}ref-fw-bold) !default;
$alert-border-width: var(--#{$prefix}border-width) !default;
$alert-bg-scale: 100% !default;
$alert-border-scale: 100% !default;
$alert-color-scale: 100% !default;
$alert-dismissible-padding-r: $alert-padding-x * 3 !default; // 3x covers width of x plus default padding on either side

// custom
$alert-gap: $spacer-3 !default;
$alert-box-shadow: var(--#{$prefix}box-shadow-sm) !default;
$alert-close-icon-size: .75rem !default;
// end custom
// scss-docs-end alert-variables

// fusv-disable
$alert-bg-scale: -80% !default; // Deprecated in v5.2.0, to be removed in v6
$alert-border-scale: -70% !default; // Deprecated in v5.2.0, to be removed in v6
$alert-color-scale: 40% !default; // Deprecated in v5.2.0, to be removed in v6
// fusv-enable
