// Body
//
// Settings for the `<body>` element.

$body-text-align: null !default;

// custom
$body-color-mapping: "gray-900" !default;
$body-color: map-get($all-colors, $body-color-mapping) !default;
$body-bg-mapping: "secondary-soft" !default;
$body-bg: map-get($all-colors, $body-bg-mapping) !default;

$body-secondary-color: var(--#{$prefix}body-color-rgb) !default;
$body-secondary-bg: var(--#{$prefix}gray-200) !default;

$body-tertiary-color: var(--#{$prefix}body-color-rgb) !default;
$body-tertiary-bg: var(--#{$prefix}gray-100) !default;

$body-emphasis-color: var(--#{$prefix}black-rgb) !default;
// end custom

// Links
//
// Style anchor elements.

// custom
$link-color-mapping: "primary" !default;
$link-hover-color-mapping: "primary-700" !default;
$link-color: map-get($all-colors, $link-color-mapping) !default;
$link-hover-color: map-get($all-colors, $link-hover-color-mapping) !default;
// end custom
$link-decoration: underline !default;
$link-shade-percentage: 20% !default; // unused
$link-hover-decoration: underline !default;

$stretched-link-pseudo-element: after !default;
$stretched-link-z-index: 1 !default;

// Icon links
// scss-docs-start icon-link-variables
$icon-link-gap: .375rem !default;
$icon-link-underline-offset: .25em !default;
$icon-link-icon-size: 1em !default;
$icon-link-icon-transition: .2s ease-in-out transform !default;
$icon-link-icon-transform: translate3d(.25em, 0, 0) !default;
// scss-docs-end icon-link-variables

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 0 !default;
