// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables
$btn-color: var(--#{$prefix}body-color) !default;
$btn-padding-y: $spacer-3 !default;
$btn-padding-x: $spacer-8 !default;
$btn-line-height: 1 !default;

$btn-padding-y-sm: $spacer-2 !default;
$btn-padding-x-sm: $spacer-4 !default;
$btn-font-size-sm: $small-font-size !default;

$btn-padding-y-lg: $spacer-4 !default;
$btn-padding-x-lg: $spacer-8 !default;
$btn-font-size-lg: $h6-font-size !default;

$btn-border-width: $input-btn-border-width !default;

$btn-box-shadow: none !default;
$btn-focus-width: 0 !default;
$btn-focus-box-shadow: none !default;
$btn-disabled-opacity: 1 !default;
$btn-active-box-shadow: none !default;

$btn-border-radius: var(--#{$prefix}border-radius-sm) !default;
$btn-border-radius-sm: var(--#{$prefix}border-radius-sm) !default;
$btn-border-radius-lg: var(--#{$prefix}border-radius) !default;
// scss-docs-end btn-variables
