$collapse-icon-text-header-gap: var(--#{$prefix}ref-spacer-4) !default;
$collapse-icon-text-header-font-size: var(--#{$prefix}ref-fs-6) !default;
$collapse-icon-text-header-font-weight: var(--#{$prefix}ref-fw-bold) !default;
