// List group

// scss-docs-start list-group-variables
$list-group-color: var(--#{$prefix}dark) !default;
$list-group-bg: transparent !default;
$list-group-border-color: var(--#{$prefix}gray-300) !default;
$list-group-border-width: 1px !default;
$list-group-border-radius: var(--#{$prefix}border-radius-sm) !default;

$list-group-item-padding-y: var(--#{$prefix}ref-spacer-1) !default;
$list-group-item-padding-x: var(--#{$prefix}ref-spacer-1) !default;

// fusv-disable
$list-group-item-bg-scale: 0% !default;
$list-group-item-color-scale: 40% !default;
// fusv-enable

$list-group-hover-bg: var(--#{$prefix}gray-100) !default;
$list-group-active-color: $component-active-color !default;
$list-group-active-bg: $component-active-bg !default;
$list-group-active-border-color: $list-group-active-bg !default;

$list-group-disabled-color: var(--#{$prefix}gray-600) !default;
$list-group-disabled-bg: $list-group-bg !default;

$list-group-action-color: var(--#{$prefix}gray-700) !default;
$list-group-action-hover-color: $list-group-action-color !default;

$list-group-action-active-color: var(--#{$prefix}body-color) !default;
$list-group-action-active-bg: var(--#{$prefix}gray-200) !default;

// custom
$list-group-item-border-radius: 0 !default;

$list-group-item-bg-light: var(--#{$prefix}light) !default;
$list-group-item-picture-width: 2.25rem !default;
$list-group-item-picture-height: 2.25rem !default;
$list-group-item-picture-border-radius: $border-radius-sm !default;

$list-group-item-content-padding-y: var(--#{$prefix}ref-spacer-3) !default;
$list-group-item-content-padding-x: var(--#{$prefix}ref-spacer-3) !default;
// end custom
// scss-docs-end list-group-variables
