// Modals

// scss-docs-start modal-variables
$modal-inner-padding: var(--#{$prefix}ref-spacer-6) !default;

// custom
$modal-header-gap: var(--#{$prefix}ref-spacer-6) !default;
// end custom

$modal-footer-margin-between: var(--#{$prefix}ref-spacer-4) !default;

$modal-content-bg: var(--#{$prefix}white) !default;
$modal-content-border-color: transparent !default;
$modal-content-border-radius: var(--#{$prefix}border-radius) !default;
$modal-content-box-shadow-xs: var(--#{$prefix}box-shadow-sm) !default;
$modal-content-box-shadow-sm-up: var(--#{$prefix}box-shadow-sm) !default;

$modal-backdrop-bg: var(--#{$prefix}black) !default;
$modal-backdrop-opacity: .3 !default;

$modal-header-border-color: transparent !default;
$modal-header-padding-y: var(--#{$prefix}ref-spacer-4) !default;
$modal-header-padding-x: var(--#{$prefix}ref-spacer-6) !default;
$modal-header-padding: var(--#{$prefix}ref-spacer-8) var(--#{$prefix}ref-spacer-6) var(--#{$prefix}ref-spacer-4) !default; // Keep this for backwards compatibility

$modal-footer-border-color: transparent !default;

// custom
$modal-separator-bg: var(--#{$prefix}gray-200) !default;
$modal-separator-height: 1px !default;
$modal-separator-margin-x: var(--#{$prefix}ref-spacer-6) !default;
// end custom

// custom
$modal-footer-padding: var(--#{$prefix}ref-spacer-6) !default;
// end custom
// scss-docs-end modal-variables
