// Navbar

// scss-docs-start navbar-variables
$navbar-light-icon-color: rgba(var(--#{$prefix}body-color-rgb), .75) !default;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
// scss-docs-end navbar-variables

// scss-docs-start navbar-dark-variables
$navbar-dark-color: rgba(var(--#{$prefix}white-rgb), .55) !default;
$navbar-dark-hover-color: rgba(var(--#{$prefix}white-rgb), .75) !default;
$navbar-dark-active-color: var(--#{$prefix}white-rgb) !default;
$navbar-dark-disabled-color: rgba(var(--#{$prefix}white-rgb), .25) !default;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color: rgba(var(--#{$prefix}white-rgb), .1) !default;
// scss-docs-end navbar-dark-variables
