// Navs

// scss-docs-start nav-variables
$nav-link-font-size: var(--#{$prefix}body-font-size) !default;
$nav-link-font-weight: var(--#{$prefix}ref-fw-normal) !default;
$nav-link-color: var(--#{$prefix}gray-500) !default;
$nav-link-hover-color: var(--#{$prefix}secondary-600) !default;
$nav-link-disabled-color: var(--#{$prefix}gray-200) !default;

// custom
$nav-link-border-height: 2px !default;
$nav-link-line-height: $spacer-4 !default;
$nav-link-border-border-radius: $border-radius-pill !default;
$nav-link-border-active-color: var(--#{$prefix}secondary) !default;
$nav-link-border-active-font-weight: var(--#{$prefix}ref-fw-bold) !default;
$nav-link-border-active-bg: var(--#{$prefix}secondary) !default;
// end custom

$nav-tabs-border-radius: var(--#{$prefix}border-radius-sm) !default;
$nav-tabs-link-active-color: var(--#{$prefix}secondary) !default;
$nav-tabs-link-active-bg: var(--#{$prefix}secondary-100) !default;
$nav-tabs-link-active-border-color: var(--#{$prefix}secondary) !default;

// custom
$nav-nav-padding-x: $spacer-4 !default;
$nav-nav-padding-y: $spacer-3 !default;
$nav-nav-gap: $spacer-4 !default;
// end custom

$nav-pills-border-radius: 100px !default;
$nav-pills-link-active-color: var(--#{$prefix}white) !default;
$nav-pills-link-active-bg: var(--#{$prefix}secondary) !default;
// scss-docs-end nav-variables

$nav-underline-link-active-color: var(--#{$prefix}secondary) !default;
