// Offcanvas

// scss-docs-start offcanvas-variables
$offcanvas-padding-y: $spacer-4 !default;
// custom
$offcanvas-header-gap: $spacer-4 !default;
$offcanvas-footer-gap: $spacer-4 !default;
// end custom
$offcanvas-padding-x: $spacer-4 !default;
$offcanvas-horizontal-width: 400px !default;
$offcanvas-vertical-height: 30vh !default;
$offcanvas-transition-duration: .3s !default;
$offcanvas-border-color: $modal-content-border-color !default;
$offcanvas-border-width: $modal-content-border-width !default;
$offcanvas-title-line-height: $modal-title-line-height !default;
$offcanvas-bg-color: var(--#{$prefix}white) !default;
$offcanvas-box-shadow: $modal-content-box-shadow-xs !default;
$offcanvas-backdrop-bg: $modal-backdrop-bg !default;
$offcanvas-backdrop-opacity: $modal-backdrop-opacity !default;
// scss-docs-end offcanvas-variables
