// Offcanvas

// scss-docs-start offcanvas-variables
$offcanvas-padding-y: $spacer-4 !default;
$offcanvas-padding-x: $spacer-4 !default;

// custom
$offcanvas-header-gap: $spacer-4 !default;
$offcanvas-footer-gap: $spacer-4 !default;
// end custom

$offcanvas-bg-color: var(--#{$prefix}white) !default;
// scss-docs-end offcanvas-variables
