// Pagination

// scss-docs-start pagination-variables
$pagination-padding-y: var(--#{$prefix}ref-spacer-1) !default;
$pagination-padding-x: var(--#{$prefix}ref-spacer-1) !default;
$pagination-padding-y-sm: var(--#{$prefix}ref-spacer-1) !default;
$pagination-padding-x-sm: var(--#{$prefix}ref-spacer-1) !default;
$pagination-padding-y-lg: var(--#{$prefix}ref-spacer-2) !default;
$pagination-padding-x-lg: var(--#{$prefix}ref-spacer-2) !default;

// custom
$pagination-page-item-size: 2rem !default;
$pagination-page-item-size-lg: 2.5rem !default;
$pagination-page-item-size-sm: 1.5rem !default;
$pagination-page-border-radius: $pagination-page-item-size !default;
// end custom

$pagination-color: var(--#{$prefix}gray) !default;
$pagination-bg: transparent !default;
$pagination-border-width: 0 !default;

$pagination-hover-color: var(--#{$prefix}secondary) !default;
$pagination-hover-bg: var(--#{$prefix}secondary-100) !default;
$pagination-hover-border-color: 0 !default; // Todo in v6: remove this?

$pagination-focus-color: #{$pagination-hover-color} !default;
$pagination-focus-bg: #{$pagination-hover-bg} !default;
$pagination-focus-box-shadow: 0 !default;
$pagination-focus-outline: 0 !default;

$pagination-disabled-color: var(--#{$prefix}gray-400) !default;
$pagination-disabled-bg: var(--#{$prefix}transparent) !default;

$pagination-border-radius-sm: $pagination-page-item-size-sm !default;
$pagination-border-radius-lg: $pagination-page-item-size-lg !default;
// scss-docs-end pagination-variables
