// Progress bars

// scss-docs-start progress-variables
$progress-font-size: var(--#{$prefix}ref-fs-small) !default;
$progress-bg: var(--#{$prefix}secondary-100) !default;
$progress-border-radius: var(--#{$prefix}border-radius-pill) !default;
$progress-box-shadow: none !default;
$progress-bar-color: var(--#{$prefix}white) !default;
$progress-bar-bg: var(--#{$prefix}secondary) !default;

// custom
$progress-font-weight: var(--#{$prefix}ref-fw-bold) !default;
// end custom
// scss-docs-end progress-variables
