$quick-action-button-gap: var(--#{$prefix}ref-spacer-2) !default;
$quick-action-button-padding: var(--#{$prefix}ref-spacer-4) !default;
$quick-action-button-bg: var(--#{$prefix}white) !default;
$quick-action-button-border: 1px solid var(--#{$prefix}secondary-100) !default;
$quick-action-button-border-radius: var(--#{$prefix}border-radius) !default;
$quick-action-button-box-shadow: none !default;

$quick-action-button-line1-font-size: var(--#{$prefix}ref-fs-6) !default;
$quick-action-button-line1-font-weight: var(--#{$prefix}ref-fw-bold) !default;
$quick-action-button-line1-color: var(--#{$prefix}body-color) !default;

$quick-action-button-line2-font-size: var(--#{$prefix}ref-fs-small) !default;
$quick-action-button-line2-font-weight: var(--#{$prefix}ref-fw-normal) !default;
$quick-action-button-line2-color: var(--#{$prefix}gray-500) !default;

$quick-action-button-representative-image-size: var(--#{$prefix}ref-spacer-9) !default;
$quick-action-button-representative-image-border-radius: $spacer-2 !default;
$quick-action-button-representative-icon-size: var(--#{$prefix}ref-spacer-6) !default;

$quick-action-button-action-icon-color: var(--#{$prefix}gray-500) !default;
$quick-action-button-action-icon-size: var(--#{$prefix}body-font-size) !default;

$quick-action-button-hover-bg: var(--#{$prefix}gray-100) !default;
$quick-action-button-hover-border-color: var(--#{$prefix}secondary-100) !default;
$quick-action-button-hover-action-icon-color: var(--#{$prefix}secondary) !default;
$quick-action-button-hover-box-shadow: var(--#{$prefix}box-shadow-sm) !default;

$quick-action-button-active-bg: var(--#{$prefix}gray-100) !default;
$quick-action-button-active-border-color: var(--#{$prefix}secondary) !default;
$quick-action-button-active-action-icon-color: var(--#{$prefix}secondary) !default;
$quick-action-button-active-box-shadow: var(--#{$prefix}box-shadow-sm) !default;
