// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacer-1: $spacer * .25 !default;    // 4px
$spacer-2: $spacer * .5 !default;     // 8px
$spacer-3: $spacer * .75 !default;    // 12px
$spacer-4: $spacer !default;          // 16px
$spacer-5: $spacer * 1.25 !default;   // 20px
$spacer-6: $spacer * 1.5 !default;    // 24px
$spacer-7: $spacer * 1.75 !default;   // 28px
$spacer-8: $spacer * 2 !default;      // 32px
$spacer-9: $spacer * 2.25 !default;   // 36px
$spacer-10: $spacer * 2.5 !default;   // 40px
$spacer-11: $spacer * 2.75 !default;  // 44px
$spacer-12: $spacer * 3 !default;     // 48px
$spacer-13: $spacer * 3.25 !default;  // 52px
$spacer-14: $spacer * 3.5 !default;   // 56px
$spacer-15: $spacer * 3.75 !default;  // 60px
$spacer-16: $spacer * 4 !default;     // 64px
$spacer-17: $spacer * 4.25 !default;  // 68px
$spacer-18: $spacer * 4.5 !default;   // 72px
$spacer-19: $spacer * 4.75 !default;  // 76px
$spacer-20: $spacer * 5 !default;     // 80px
$spacer-21: $spacer * 5.25 !default;  // 84px
$spacer-22: $spacer * 5.5 !default;   // 88px
$spacer-23: $spacer * 5.75 !default;  // 92px
$spacer-24: $spacer * 6 !default;     // 96px
$spacer-25: $spacer * 6.25 !default;  // 100px
$spacer-26: $spacer * 6.5 !default;   // 104px
$spacer-27: $spacer * 6.75 !default;  // 108px
$spacer-28: $spacer * 7 !default;     // 112px
$spacer-29: $spacer * 7.25 !default;  // 116px
$spacer-30: $spacer * 7.5 !default;   // 120px
$spacers: (
  0: 0,
  1: $spacer-1,
  2: $spacer-2,
  3: $spacer-3,
  4: $spacer-4,
  5: $spacer-5,
  6: $spacer-6,
  7: $spacer-7,
  8: $spacer-8,
  9: $spacer-9,
  10: $spacer-10,
  11: $spacer-11,
  12: $spacer-12,
  13: $spacer-13,
  14: $spacer-14,
  15: $spacer-15,
  16: $spacer-16,
  17: $spacer-17,
  18: $spacer-18,
  19: $spacer-19,
  20: $spacer-20,
  21: $spacer-21,
  22: $spacer-22,
  23: $spacer-23,
  24: $spacer-24,
  25: $spacer-25,
  26: $spacer-26,
  27: $spacer-27,
  28: $spacer-28,
  29: $spacer-29,
  30: $spacer-30,
) !default;
// scss-docs-end spacer-variables-maps
