.plan-comparator-table {
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;

  th,
  td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid var(--bs-gray-50);
  }

  .feature-name {
    font-weight: 500;
    text-align: left;
  }

  .featured {
    background-color: rgba(var(--bs-primary-rgb), .05);
  }

  .featured thead th {
    color: var(--bs-white);
    background-color: var(--bs-primary);
    border-bottom-color: var(--bs-primary);
  }

  tfoot td {
    border: 0;
  }
}

.radio-custom:has([type="radio"]:checked) {
  --bs-border-color: var(--bs-primary-300);
  background-color: var(--bs-primary-50);
}


.list-group-white {
  --bs-list-group-bg: rgba(var(--bs-white-rgb), .75);
  --bs-list-group-border-radius: 0;
  --bs-group-action-active-color: var(--bs-gray-400);
  --bs-list-group-active-bg: var(--bs-white);
  --bs-list-group-action-active-bg: var(--bs-gray-50);
  --bs-list-group-active-color: var(--bs-primary);
  --bs-list-group-border-width: 0;

  .list-group-item {
    border-bottom: 1px solid var(--bs-gray-50);

    &.active {
      font-weight: 500;
      box-shadow: var(--bs-box-shadow-sm);
    }
  }
}
