<m-app>
  <m-button
    text="click me!"
    (modButtonClick)="onButtonClick()"
  >
  </m-button>
  <br />
  <br />
  <m-alert
    [header]="title"
    body="body prop text"
    [actions]="actions"
    (modButtonClick)="onActionClick($event)"
  >
    children text
  </m-alert>
  <br />
  <br />
  <m-card
    header="card header"
    theme="warning"
  >
    card w/o shadow
  </m-card>
  <br />
  <br />
  <m-card
    header="card header"
    theme="warning"
    [style]="{'--bs-dark-rgb': '255, 0, 0'}"
  >
    card w style
  </m-card>
  <br />
  <br />
  <m-input
    id="input-1"
    placeholder="the placeholder"
    type="text"
    [value]="value"
    (modChange)="onInputChange($event)"
  >
  </m-input>
  <br />
  <br />
  <m-text>
    the new value is: {{ value }}
  </m-text>
</m-app>
