@import "bootstrap/scss/root";
@import "root";

@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "type";

@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";

@import "bootstrap/scss/transitions";
