@import "~bootstrap/scss/forms";

.form-control-layout {
  --#{$prefix}form-control-flex-direction: column; // TODO: move to form-control-layout scss variable.
  // label
  --#{$prefix}form-label-color: #{$form-label-color};
  --#{$prefix}form-label-font-weight: #{$form-label-font-weight};
  --#{$prefix}form-label-font-size: #{$form-label-font-size};
  --#{$prefix}form-label-padding-x: #{$form-label-padding-x};
  --#{$prefix}form-label-padding-y: #{$form-label-padding-y};
  --#{$prefix}form-label-gap: #{$form-label-gap};
  // input
  --#{$prefix}input-box-shadow: #{$input-box-shadow};
  --#{$prefix}input-border-color: #{$input-border-color};
  --#{$prefix}input-hover-border-color: #{$input-hover-border-color};
  // focus outline
  --#{$prefix}input-group-outline-padding: #{$input-group-outline-padding};
  --#{$prefix}input-group-outline-border-width: #{$input-group-outline-border-width-width};
  --#{$prefix}input-group-outline-border-color: transparent;
  // input group
  --#{$prefix}input-group-bg: #{$input-bg};
  --#{$prefix}input-group-border-radius: #{$input-border-radius};
  // hint
  --#{$prefix}input-hint-padding: #{$input-hint-padding-y} #{$input-hint-padding-x};
  --#{$prefix}input-hint-gap: #{$input-hint-gap};
  // icon
  --#{$prefix}form-control-icon-size: #{$form-control-icon-size};

  display: flex;
  flex-direction: var(--#{$prefix}form-control-flex-direction);
  align-items: start;

  &.form-control-layout-horizontal {
    --#{$prefix}form-control-flex-direction: row;
  }

  label {
    display: inline-flex;
    flex-direction: row;
    gap: var(--#{$prefix}form-label-gap);
    align-items: center;
    padding: var(--#{$prefix}form-label-padding-y) var(--#{$prefix}form-label-padding-x);
    font-size: var(--#{$prefix}form-label-font-size);
    font-weight: var(--#{$prefix}form-label-font-weight);
    color: var(--#{$prefix}form-label-color);
  }

  &.form-control-layout-pill {
    --#{$prefix}input-group-border-radius: var(--#{$prefix}border-radius-pill);
  }

  &.form-control-layout-transparent {
    --#{$prefix}input-group-bg: transparent;
  }
}

.form-control-layout[is-invalid="true"] {
  --#{$prefix}input-border-color: var(--#{$prefix}danger);

  label {
    color: var(--#{$prefix}danger);
  }

  .input-group {
    &:hover {
      border: 1px solid var(--#{$prefix}danger-hover);
    }
  }
}

.input-group {
  position: relative;
  gap: $spacer-2;
  background: var(--#{$prefix}input-group-bg);
  border: $input-border-width solid var(--#{$prefix}input-border-color);
  border-radius: var(--#{$prefix}input-group-border-radius);

  &::before {
    $offset: calc((var(--#{$prefix}input-group-outline-padding) + var(--#{$prefix}input-group-outline-border-width)) * -1);
    position: absolute;
    top: $offset;
    right: $offset;
    bottom: $offset;
    left: $offset;

    content: " ";
    border: var(--#{$prefix}input-group-outline-border-width) solid var(--#{$prefix}input-group-outline-border-color);
    border-radius: var(--#{$prefix}input-group-border-radius);
  }

  &:focus-within,
  &:focus {
    --#{$prefix}input-group-outline-border-color: var(--#{$prefix}accessibility);
  }

  > * {
    &:first-child {
      padding-left: $input-padding-y;
      border-top-left-radius: var(--#{$prefix}input-group-border-radius);
      border-bottom-left-radius: var(--#{$prefix}input-group-border-radius);
    }

    &:last-child {
      padding-right: $input-padding-y;
      border-top-right-radius: var(--#{$prefix}input-group-border-radius);
      border-bottom-right-radius: var(--#{$prefix}input-group-border-radius);
    }
  }

  &:hover {
    border: 1px solid var(--#{$prefix}input-hover-border-color);
  }
}

.form-control-input {
  width: 100%;
}

.input-group ~ .hint {
  display: inline-flex;
  flex-direction: row;
  gap: var(--#{$prefix}input-hint-gap);
  align-items: center;
  justify-content: center;
  padding: var(--#{$prefix}input-hint-padding);
}

.form-control-icon {
  // width: var(--#{$prefix}form-control-icon-size);
  // height: var(--#{$prefix}form-control-icon-size);
  font-size: var(--#{$prefix}form-control-icon-size);
  line-height: var(--#{$prefix}form-control-icon-size);
}

.form-control {
  background: transparent;
  border-width: 0;
  box-shadow: none;

  &:focus {
    box-shadow: none;
  }
}

.input-group-text {
  gap: $spacer-2;
  line-height: 1rem;
  background: var(--#{$prefix}input-group-bg);
  border-width: 0;
}

.input-group-sm {
  border-radius: $input-border-radius-sm;
}

.input-group-lg {
  border-radius: $input-border-radius-lg;
}
