@import "~bootstrap/scss/forms";

.form-control-layout {
  --#{$prefix}form-control-gap: #{$spacer-1};
  // label
  --#{$prefix}form-label-color: #{$form-label-color};
  --#{$prefix}form-label-font-weight: #{$form-label-font-weight};
  --#{$prefix}form-label-font-size: #{$form-label-font-size};
  --#{$prefix}form-label-padding-x: #{$form-label-padding-x};
  --#{$prefix}form-label-padding-y: #{$form-label-padding-y};
  --#{$prefix}form-label-gap: #{$form-label-gap};
  // label hover
  --#{$prefix}form-label-focus-color: #{$form-label-focus-color};

  // input group
  --#{$prefix}input-group-border-color: #{$input-group-border-color};
  --#{$prefix}input-group-border-width: #{$input-group-border-width};
  --#{$prefix}input-group-border-radius: #{$input-group-border-radius};
  // input group hover
  --#{$prefix}input-group-hover-border-color: #{$input-group-hover-border-color};
  // input group focus
  --#{$prefix}input-group-focus-border-color: #{$input-group-focus-border-color};
  --#{$prefix}input-group-focus-box-shadow: #{$input-group-focus-box-shadow};

  // hint
  --#{$prefix}form-text-padding: #{$form-control-padding-y} #{$form-control-padding-x};
  --#{$prefix}form-text-gap: #{$form-control-gap};
  --#{$prefix}form-text-color: #{$form-control-color};

  // input disabled
  --#{$prefix}input-group-disabled-bg: #{$input-disabled-bg};

  display: flex;
  flex-direction: column;
  gap: var(--#{$prefix}form-control-gap);
  align-items: start;

  // focus
  &:focus-within {
    label {
      color: var(--#{$prefix}form-label-focus-color);
    }

    .input-group {
      border-color: var(--#{$prefix}input-group-focus-border-color);
      box-shadow: var(--#{$prefix}input-group-focus-box-shadow);

      &:hover:has(.form-control:not(:placeholder-shown)),
      &:hover {
        border-color: var(--#{$prefix}input-group-focus-border-color);
      }
    }
  }

  // form-control container
  .form-control-input {
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}form-control-gap);
    width: 100%;
  }

  label {
    display: inline-flex;
    flex-direction: row;
    gap: var(--#{$prefix}form-label-gap);
    align-items: center;
    padding: var(--#{$prefix}form-label-padding-y) var(--#{$prefix}form-label-padding-x);
    font-size: var(--#{$prefix}form-label-font-size);
    font-weight: var(--#{$prefix}form-label-font-weight);
    color: var(--#{$prefix}form-label-color);

    .form-control-icon {
      .m-icon {
        --#{$prefix}m-icon-color: var(--#{$prefix}secondary);
      }
    }
  }

  // input with elements
  .input-group {
    border: var(--#{$prefix}input-group-border-width) solid var(--#{$prefix}input-group-border-color);
    border-radius: var(--#{$prefix}input-group-border-radius);
  }

  // hover
  .input-group:hover:has(.form-control:not(:disabled)) {
    border-color: var(--#{$prefix}input-group-hover-border-color);
  }

  // not empty
  &:has(.form-control:not(:placeholder-shown)) .input-group {
    border-color: var(--#{$prefix}input-group-hover-border-color);
  }

  // validation states
  @each $state, $data in $form-validation-states {
    $border-color: map-get($data, "border-color");
    $tooltip-bg-color: map-get($data, "tooltip-bg-color");

    &:has(.form-control.is-#{$state}){
      .input-group {
        border-color: $border-color;
      }

      .input-group ~ .form-text {
        color: $border-color;
      }

      .form-control-validation-icon {
        .m-icon {
          --#{$prefix}m-icon-color: #{$tooltip-bg-color};
        }
      }
    }
  }

  // input hint
  .input-group ~ .form-text {
    display: inline-flex;
    flex-direction: row;
    gap: var(--#{$prefix}form-text-gap);
    align-items: center;
    padding: var(--#{$prefix}form-text-padding);
    color: var(--#{$prefix}form-text-color);
  }

  // input element
  .form-control {
    border-width: 0;
    box-shadow: none;

    &:not(:last-child) {
      padding-right: 0;
    }

    &:not(:first-child) {
      padding-left: 0;
    }
  }

  // input addons
  .input-group-text {
    border: 0;
  }

  // input disabled
  .form-control:disabled {
    background: var(--#{$prefix}input-group-disabled-bg);
  }

  // input addons disabled
  &:has(.form-control:disabled) {
    .input-group-text {
      background: var(--#{$prefix}input-group-disabled-bg);
    }
  }
}
