.m-alert,
.alert {
  --#{$prefix}m-alert-gap: #{$alert-gap};
  --#{$prefix}m-alert-box-shadow: #{$alert-box-shadow};
  --#{$prefix}m-alert-icon-color: var(--#{$prefix}m-alert-component-icon-color, var(--#{$prefix}alert-color));

  display: flex;
  flex-direction: row;
  gap: var(--#{$prefix}m-alert-gap);
  align-items: center;
  box-shadow: var(--#{$prefix}m-alert-box-shadow);

  .m-alert-text {
    flex-grow: 1;
  }

  .m-alert-separator {
    width: 1px;
    height: 100%;
    background-color: var(--#{$prefix}m-alert-icon-color);
  }

  .btn-close {
    --#{$prefix}btn-close-bg: transparent;
  }

  .m-alert-icon .m-icon {
    --#{$prefix}m-icon-color: var(--#{$prefix}m-alert-icon-color);
  }

  .m-alert-close-icon {
    --#{$prefix}m-icon-color: var(--#{$prefix}m-alert-icon-color);
  }

  @each $color, $value in $alert-colors {
    &.alert-#{$color} {
      --#{$prefix}alert-color: var(--#{$prefix}alert-#{$color}-color);
      --#{$prefix}alert-bg: var(--#{$prefix}alert-#{$color}-bg);
      --#{$prefix}alert-border-color: var(--#{$prefix}alert-#{$color}-bg);
      --#{$prefix}alert-link-color: var(--#{$prefix}alert-#{$color}-color);
    }
  }
}
