.m-chip {
  --#{$prefix}m-chip-bg: #{$chip-bg};
  --#{$prefix}m-chip-gap: #{$chip-gap};
  --#{$prefix}m-chip-color: #{$chip-color};
  --#{$prefix}m-chip-border-radius: #{$chip-border-radius};
  --#{$prefix}m-chip-padding-x: #{$chip-padding-x};
  --#{$prefix}m-chip-padding-y: #{$chip-padding-y};
  --#{$prefix}m-chip-font-size: #{$chip-font-size};
  --#{$prefix}m-chip-font-weight: #{$chip-font-weight};
  --#{$prefix}m-chip-line-height: #{$chip-line-height};

  display: flex;
  flex-direction: row;
  gap: var(--#{$prefix}m-chip-gap);
  align-items: center;
  padding: var(--#{$prefix}m-chip-padding-y) var(--#{$prefix}m-chip-padding-x);
  font-size: var(--#{$prefix}m-chip-font-size);
  font-weight: var(--#{$prefix}m-chip-font-weight);
  line-height: var(--#{$prefix}m-chip-line-height);
  color: var(--#{$prefix}m-chip-color);
  background-color: var(--#{$prefix}m-chip-bg);
  border-radius: var(--#{$prefix}m-chip-border-radius);

  .m-icon {
    --#{$prefix}m-icon-size: var(--#{$prefix}m-chip-font-size);
  }

  .m-badge-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--#{$prefix}m-chip-line-height);
    height: var(--#{$prefix}m-chip-line-height);
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
  }

  @each $theme, $value in $theme-colors {
    $color: color-contrast($value);
    &.m-chip-#{$theme} {
      --#{$prefix}m-chip-color: var(--#{$prefix}#{$theme}-700);
      --#{$prefix}m-chip-bg: var(--#{$prefix}#{$theme}-100);
    }
  }
}
