.quick-action {
  --#{$prefix}quick-action-gap: #{$quick-action-gap};
  --#{$prefix}quick-action-padding: #{$quick-action-padding};
  --#{$prefix}quick-action-bg: #{$quick-action-bg};
  --#{$prefix}quick-action-border: #{$quick-action-border};
  --#{$prefix}quick-action-border-radius: #{$quick-action-border-radius};
  --#{$prefix}quick-action-min-width: #{$quick-action-min-width};

  --#{$prefix}quick-action-title-font-size: #{$quick-action-title-font-size};
  --#{$prefix}quick-action-title-font-weight: #{$quick-action-title-font-weight};
  --#{$prefix}quick-action-title-color: #{$quick-action-title-color};

  --#{$prefix}quick-action-subtitle-font-size: #{$quick-action-subtitle-font-size};
  --#{$prefix}quick-action-subtitle-font-weight: #{$quick-action-subtitle-font-weight};
  --#{$prefix}quick-action-subtitle-color: #{$quick-action-subtitle-color};

  --#{$prefix}quick-action-picture-size: #{$quick-action-picture-size};

  --#{$prefix}quick-action-action-icon-color: #{$quick-action-action-icon-color};

  --#{$prefix}quick-action-hover-bg: #{$quick-action-hover-bg};
  --#{$prefix}quick-action-active-bg: #{$quick-action-active-bg};

  display: flex;
  gap: var(--#{$prefix}quick-action-gap);
  align-items: center;
  width: 100%;
  min-width: var(--#{$prefix}quick-action-min-width);
  padding: var(--#{$prefix}quick-action-padding);
  text-align: left;
  background-color: var(--#{$prefix}quick-action-bg);
  background-position: center;
  border: var(--#{$prefix}quick-action-border);
  border-radius: var(--#{$prefix}quick-action-border-radius);

  &:hover {
    background-color: var(--#{$prefix}quick-action-hover-bg);
  }

  &:active {
    background-color: var(--#{$prefix}quick-action-active-bg);
  }

  .quick-action-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: var(--#{$prefix}quick-action-action-icon-color);
    border-radius: inherit;
  }

  .quick-action-content {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .quick-action-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .quick-action-title {
    font-size: var(--#{$prefix}quick-action-title-font-size);
    font-weight: var(--#{$prefix}quick-action-title-font-weight);
    color: var(--#{$prefix}quick-action-title-color);
  }

  .quick-action-subtitle {
    font-size: var(--#{$prefix}quick-action-subtitle-font-size);
    font-weight: var(--#{$prefix}quick-action-subtitle-font-weight);
    color: var(--#{$prefix}quick-action-subtitle-color);
  }

  .quick-action-action-icon {
    color: var(--#{$prefix}quick-action-action-icon-color);
  }
}
