.tabs {
  -webkit-tap-highlight-color: transparent;
  // Tab List
  --#{$prefix}tablist-display: flex;
  --#{$prefix}tablist-gap: 12px;
  --#{$prefix}tablist-padding-y: 0;
  --#{$prefix}tablist-padding-x: 0;
  --#{$prefix}tablist-margin-y: 0;
  --#{$prefix}tablist-margin-x: 0;
  --#{$prefix}tablist-bg: transparent;
  // Tab
  --#{$prefix}tab-display: block;
  --#{$prefix}tab-gap: 0;
  --#{$prefix}tab-font-size: 1rem;
  --#{$prefix}tab-font-weight: 400;
  --#{$prefix}tab-bg: transparent;
  --#{$prefix}tab-padding-x: 4px;
  --#{$prefix}tab-padding-y: 0;
  --#{$prefix}tab-margin-x: 4px;
  --#{$prefix}tab-margin-y: 0;
  --#{$prefix}tab-color: var(--#{$prefix}gray-light);
  --#{$prefix}tab-border-width: 2px;
  --#{$prefix}tab-border-color: transparent;
  --#{$prefix}tab-border-radius: 0;
}

// Container of multiple tabs
.tab-list {
  display: var(--#{$prefix}tablist-display);
  gap: var(--#{$prefix}tablist-gap);
  padding: var(--#{$prefix}tablist-padding-y) var(--#{$prefix}tablist-padding-x);
  margin: var(--#{$prefix}tablist-margin-y) var(--#{$prefix}tablist-margin-x);
  background-color: var(--#{$prefix}tablist-bg);
}

// Single tab
.tab-list .tab {
  position: relative;
  display: var(--#{$prefix}tab-display);
  gap: var(--#{$prefix}tab-gap);
  padding: var(--#{$prefix}tab-padding-y) var(--#{$prefix}tab-padding-x);
  margin: var(--#{$prefix}tab-margin-y) var(--#{$prefix}tab-margin-x);
  font-size: var(--#{$prefix}tab-font-size);
  font-weight: var(--#{$prefix}tab-font-weight);
  color: var(--#{$prefix}tab-color);
  list-style: none;
  cursor: pointer;
  background-color: var(--#{$prefix}tab-bg);
  border: 0;
  border-bottom: var(--#{$prefix}tab-border-width) solid var(--#{$prefix}tab-border-color);
  border-radius: var(--#{$prefix}tab-border-radius);

  &.tab-icon {
    --#{$prefix}tab-display: flex;
    --#{$prefix}tab-gap: 6px;
    align-items: center;
  }

  &.selected {
    --#{$prefix}tab-font-weight: 700;
    --#{$prefix}tab-color: var(--#{$prefix}secondary);
    --#{$prefix}tab-border-color: var(--#{$prefix}secondary);
  }

  &:focus {
    outline: 0;
  }

  &:disabled,
  &.disabled {
    --#{$prefix}tab-color: var(--#{$prefix}gray-light);
    pointer-events: none;
    cursor: not-allowed;
  }
}

// Container of tabs content
.tab-panel {
  display: none;

  &.selected {
    display: block;
  }
}

// Variant pills
.tab-list.pills {

  .tab {
    --#{$prefix}tab-font-weight: 700;
    --#{$prefix}tab-padding-x: 22px;
    --#{$prefix}tab-padding-y: 6px;
    --#{$prefix}tab-color: var(--#{$prefix}secondary);
    --#{$prefix}tab-border-radius: 50rem;
    --#{$prefix}tab-border-color: var(--#{$prefix}secondary);
    border: var(--#{$prefix}tab-border-width) solid var(--#{$prefix}tab-border-color);
  }

  .tab.disabled,
  .tab:disabled {
    --#{$prefix}tab-border-color: var(--#{$prefix}gray-light);
    --#{$prefix}tab-color: var(--#{$prefix}gray-light);
  }

  .tab.selected,
  .tab.selected:not(.disabled),
  .tab.selected:not(:disabled) {
    --#{$prefix}tab-color: var(--#{$prefix}white);
    --#{$prefix}tab-bg: var(--#{$prefix}secondary);
  }
}

// Variant group
.tab-list.group {
  --#{$prefix}tablist-gap: 0;

  .tab {
    --#{$prefix}tab-font-weight: 700;
    --#{$prefix}tab-padding-x: 22px;
    --#{$prefix}tab-padding-y: 6px;
    --#{$prefix}tab-margin-x: 0;
    --#{$prefix}tab-margin-y: 0;
    --#{$prefix}tab-color: var(--#{$prefix}secondary);
    --#{$prefix}tab-border-color: var(--#{$prefix}secondary);
    border: var(--#{$prefix}tab-border-width) solid var(--#{$prefix}tab-border-color);

    border-right-width: calc(var(--#{$prefix}tab-border-width) / 2);
    border-left-width: calc(var(--#{$prefix}tab-border-width) / 2);

    &.selected {
      --#{$prefix}tab-color: var(--#{$prefix}white);
      --#{$prefix}tab-bg: var(--#{$prefix}secondary);
    }

    &.disabled,
    &:disabled {
      --#{$prefix}tab-color: var(--#{$prefix}gray-light);
      --#{$prefix}tab-bg: transparent;
      --#{$prefix}tab-border-color: var(--#{$prefix}gray-light);
    }
  }

  :first-child {
    border-left-width: var(--#{$prefix}tab-border-width);
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
  }

  :last-child {
    border-right-width: var(--#{$prefix}tab-border-width);
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
  }
}

// Small tabs
.tab-list.small {
  --#{$prefix}tab-font-size: #{$font-size-sm};
}
