.m-button {
  --#{$prefix}m-button-link-padding-y: #{$btn-link-padding-y};
  --#{$prefix}m-button-link-padding-x: #{$btn-link-padding-x};

  &.btn {
    display: flex;
    flex-direction: row;
    gap: var(--#{$prefix}btn-gap, $spacer-2);
    align-items: center;
    justify-content: center;

    // hover selectors
    &:hover,
    &.hover {
      // copy of .btn:hover bootstrap
      color: var(--#{$prefix}btn-hover-color);
      text-decoration: if($link-hover-decoration == underline, none, null);
      background-color: var(--#{$prefix}btn-hover-bg);
      border-color: var(--#{$prefix}btn-hover-border-color);
      // end copy
    }

    // focus selectors
    .btn-check:focus + &,
    &:focus-visible,
    &.focus-visible {
      // copy of .btn:focus bootstrap + focus var
      color: var(var(--#{$prefix}btn-focus-color), var(--#{$prefix}btn-hover-color));
      @include gradient-bg(var(var(--#{$prefix}btn-focus-bg), var(--#{$prefix}btn-hover-bg)));
      border-color: var(var(--#{$prefix}btn-focus-border-color), var(--#{$prefix}btn-hover-border-color));
      // end copy

      outline: var(--#{$prefix}btn-focus-border-width, var(--#{$prefix}btn-border-width)) solid var(--#{$prefix}btn-focus-outline-color, var(--#{$prefix}focus-ring-color));
      outline-offset: var(--#{$prefix}btn-focus-outline-offset, var(--#{$prefix}btn-border-width));
    }
  }

  @each $color, $value in map-remove($theme-colors, "light", "dark") {
    &.btn-#{$color} {
      $color-100: map-get($theme-color-variants, #{$color}-100);
      $color-700: map-get($theme-color-variants, #{$color}-700);
      $color-900: map-get($theme-color-variants, #{$color}-900);

      $hover-color: color-contrast($color-900);
      $focus-color: color-contrast($value);
      $active-color: color-contrast($color-700);
      $disable-color: color-contrast($color-100);

      --#{$prefix}btn-hover-bg: var(--#{$prefix}#{$color}-900);
      --#{$prefix}btn-hover-border-color: var(--#{$prefix}#{$color}-900);
      --#{$prefix}btn-hover-color: #{$hover-color};

      --#{$prefix}btn-focus-bg: var(--#{$prefix}#{$color});
      --#{$prefix}btn-focus-border-color: var(--#{$prefix}#{$color});
      --#{$prefix}btn-focus-color: #{$focus-color};

      --#{$prefix}btn-active-bg: var(--#{$prefix}#{$color}-700);
      --#{$prefix}btn-active-border-color: var(--#{$prefix}#{$color}-700);
      --#{$prefix}btn-active-color: #{$active-color};

      --#{$prefix}btn-disabled-bg: var(--#{$prefix}#{$color}-100);
      --#{$prefix}btn-disabled-border-color: var(--#{$prefix}#{$color}-100);
      --#{$prefix}btn-disabled-color: #{$disable-color};

      &.loading {
        --#{$prefix}btn-disabled-opacity: 1;
        --#{$prefix}btn-disabled-bg: var(--#{$prefix}#{$color}-700);
        --#{$prefix}btn-disabled-border-color: var(--#{$prefix}#{$color}-700);
        --#{$prefix}btn-disabled-color: #{$active-color};
      }
    }

    &.btn-outline-#{$color} {
      --#{$prefix}btn-hover-bg: transparent;
      --#{$prefix}btn-hover-border-color: var(--#{$prefix}#{$color}-900);
      --#{$prefix}btn-hover-color: var(--#{$prefix}#{$color}-900);

      --#{$prefix}btn-focus-bg: transparent;
      --#{$prefix}btn-focus-border-color: var(--#{$prefix}#{$color});
      --#{$prefix}btn-focus-color: var(--#{$prefix}#{$color});

      --#{$prefix}btn-active-bg: transparent;
      --#{$prefix}btn-active-border-color: var(--#{$prefix}#{$color}-700);
      --#{$prefix}btn-active-color: var(--#{$prefix}#{$color}-700);

      --#{$prefix}btn-disabled-bg: transparent;
      --#{$prefix}btn-disabled-border-color: var(--#{$prefix}#{$color}-100);
      --#{$prefix}btn-disabled-color: var(--#{$prefix}#{$color}-100);

      &.loading {
        --#{$prefix}btn-disabled-opacity: 1;
        --#{$prefix}btn-disabled-border-color: var(--#{$prefix}#{$color}-700);
        --#{$prefix}btn-disabled-color: var(--#{$prefix}#{$color}-700);
      }
    }

    &.btn-link-#{$color} {
      --#{$prefix}m-button-link-padding-y: #{$btn-link-padding-y};
      --#{$prefix}m-button-link-padding-x: #{$btn-link-padding-x};

      padding: var(--#{$prefix}m-button-link-padding-y) var(--#{$prefix}m-button-link-padding-x);

      --#{$prefix}btn-color: #{$value};

      --#{$prefix}btn-hover-bg: transparent;
      --#{$prefix}btn-hover-border-color: transparent;
      --#{$prefix}btn-hover-color: var(--#{$prefix}#{$color}-900);

      --#{$prefix}btn-focus-bg: transparent;
      --#{$prefix}btn-focus-border-color: transparent;
      --#{$prefix}btn-focus-color: var(--#{$prefix}#{$color});

      --#{$prefix}btn-active-bg: transparent;
      --#{$prefix}btn-active-border-color: transparent;
      --#{$prefix}btn-active-color: var(--#{$prefix}#{$color}-700);

      --#{$prefix}btn-disabled-bg: transparent;
      --#{$prefix}btn-disabled-border-color: transparent;
      --#{$prefix}btn-disabled-color: var(--#{$prefix}#{$color}-100);

      --#{$prefix}btn-focus-outline-offset: 0;

      &.loading {
        --#{$prefix}btn-disabled-opacity: 1;
        --#{$prefix}btn-disabled-color: var(--#{$prefix}#{$color}-700);
      }
    }
  }

  &.btn-link-light {
    --#{$prefix}m-button-link-padding-y: #{$btn-link-padding-y};
    --#{$prefix}m-button-link-padding-x: #{$btn-link-padding-x};

    padding: var(--#{$prefix}m-button-link-padding-y) var(--#{$prefix}m-button-link-padding-x);

    --#{$prefix}btn-bg: transparent;
    --#{$prefix}btn-border-color: transparent;
    --#{$prefix}btn-color: var(--#{$prefix}light);

    --#{$prefix}btn-hover-bg: transparent;
    --#{$prefix}btn-hover-border-color: transparent;
    --#{$prefix}btn-hover-color: var(--#{$prefix}light);

    --#{$prefix}btn-active-bg: transparent;
    --#{$prefix}btn-active-border-color: transparent;
    --#{$prefix}btn-active-color: var(--#{$prefix}light);

    --#{$prefix}btn-disabled-bg: transparent;
    --#{$prefix}btn-disabled-border-color: transparent;
    --#{$prefix}btn-disabled-color: var(--#{$prefix}light);

    --#{$prefix}btn-focus-outline-offset: 0;

    &.loading {
      --#{$prefix}btn-disabled-opacity: 1;
    }
  }

  &.btn-link-dark {
    --#{$prefix}m-button-link-padding-y: #{$btn-link-padding-y};
    --#{$prefix}m-button-link-padding-x: #{$btn-link-padding-x};

    padding: var(--#{$prefix}m-button-link-padding-y) var(--#{$prefix}m-button-link-padding-x);

    --#{$prefix}btn-bg: transparent;
    --#{$prefix}btn-border-color: transparent;
    --#{$prefix}btn-color: var(--#{$prefix}dark);

    --#{$prefix}btn-hover-bg: transparent;
    --#{$prefix}btn-hover-border-color: transparent;
    --#{$prefix}btn-hover-color: var(--#{$prefix}dark);

    --#{$prefix}btn-active-bg: transparent;
    --#{$prefix}btn-active-border-color: transparent;
    --#{$prefix}btn-active-color: var(--#{$prefix}dark);

    --#{$prefix}btn-disabled-bg: transparent;
    --#{$prefix}btn-disabled-border-color: transparent;
    --#{$prefix}btn-disabled-color: var(--#{$prefix}dark);

    --#{$prefix}btn-focus-outline-offset: 0;

    &.loading {
      --#{$prefix}btn-disabled-opacity: 1;
    }
  }
}

