.form-control {
  display: flex;
  gap: #{$spacer-2};
  align-items: center;
  justify-content: center;
}

.form-control-spacer {
  display: block;
  min-width: 12px;
  min-height: 12px;
  background-color: transparent;
  border-radius: 50rem;
}

.form-control-counter {
  display: flex;
  gap: #{$spacer-1};
  align-items: center;
  justify-content: center;
  width: 100%;

  .form-control-counter-input {
    display: inline-block;
    flex-grow: 1;
    height: 24px;
    font-weight: 700;
    text-align: center;
    border: 0;
    outline: 0;

    :focus,
    :focus-visible {
      outline: 0;
    }
  }

  /* Chrome, Safari, Edge, Opera */
  .form-control-counter-input::-webkit-outer-spin-button,
  .form-control-counter-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  /* Firefox */
  .form-control-counter-input[type="number"] {
    appearance: textfield;
  }
}

.form-control-counter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 1.5rem;
  color: var(--#{$prefix}tertiary);
  background-color: rgba($color: var(--#{$prefix}tertiary-rgb), $alpha: .1);
  border: 0;
  border-radius: .5rem;
}

@each $color, $value in map-remove($theme-colors, "light", "dark", "primary", "secondary", "success", "info") {
  .form-control-layout-counter.form-control-theme-#{$color} {
    .form-control-counter-btn {
      color: var(--#{$prefix}#{$color});
      background: rgba($color: var(--#{$prefix}#{$color}-rgb), $alpha: .1);
    }

    .input-group {
      --#{$prefix}input-hover-border-color: var(--#{$prefix}#{$color}-hover);
      --#{$prefix}input-border-color: var(--#{$prefix}#{$color});
    }
  }
}

@each $color, $value in $state-colors {
  .form-control-layout-counter.form-control-theme-#{$color} {
    .form-control-icon.icon-state {
      font-size: 1rem;
      color: var(--#{$prefix}#{$color});
    }
  }
}

.form-control-layout-counter-disabled {
  .form-control-counter-btn {
    color: var(--#{$prefix}tertiary);
    background: rgba($color: var(--#{$prefix}tertiary-rgb), $alpha: .1);
  }

  .input-group {
    --#{$prefix}input-hover-border-color: var(--#{$prefix}gray-light);
    --#{$prefix}input-border-color: var(--#{$prefix}gray-light);
  }

  .form-control-counter-btn,
  .form-control-counter-input {
    pointer-events: none;
  }

  .form-control-counter-input {
    background-color: transparent;
  }

  .form-control {
    background-color: var(--#{$prefix}light);
  }

  &.form-control-theme-danger,
  &.form-control-theme-warning,
  &.form-control-theme-tertiary {
    .form-control-counter-btn {
      color: var(--#{$prefix}tertiary);
      background: rgba($color: var(--#{$prefix}tertiary-rgb), $alpha: .1);
    }

    .input-group {
      --#{$prefix}input-hover-border-color: var(--#{$prefix}gray-light);
      --#{$prefix}input-border-color: var(--#{$prefix}gray-light);
    }
  }
}
