{
  "root": false,
  "parserOptions": {
    "project": ["../tsconfig.spec.json"],
    "EXPERIMENTAL_useSourceOfProjectReferenceRedirect": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": false,
      "peerDependencies": false
    }]
  }
}
