/*
$blues: (
  "blue-100": $blue-100,
  "blue-200": $blue-200,
  "blue-300": $blue-300,
  "blue-400": $blue-400,
  "blue-500": $blue-500,
  "blue-600": $blue-600,
  "blue-700": $blue-700,
  "blue-800": $blue-800,
  "blue-900": $blue-900
) !default;
*/
/*
$indigos: (
  "indigo-100": $indigo-100,
  "indigo-200": $indigo-200,
  "indigo-300": $indigo-300,
  "indigo-400": $indigo-400,
  "indigo-500": $indigo-500,
  "indigo-600": $indigo-600,
  "indigo-700": $indigo-700,
  "indigo-800": $indigo-800,
  "indigo-900": $indigo-900
) !default;
*/
/*
$purples: (
  "purple-100": $purple-100,
  "purple-200": $purple-200,
  "purple-300": $purple-300,
  "purple-400": $purple-400,
  "purple-500": $purple-500,
  "purple-600": $purple-600,
  "purple-700": $purple-700,
  "purple-800": $purple-800,
  "purple-900": $purple-900
) !default;
*/
/*
$pinks: (
  "pink-100": $pink-100,
  "pink-200": $pink-200,
  "pink-300": $pink-300,
  "pink-400": $pink-400,
  "pink-500": $pink-500,
  "pink-600": $pink-600,
  "pink-700": $pink-700,
  "pink-800": $pink-800,
  "pink-900": $pink-900
) !default;
*/
/*
$reds: (
  "red-100": $red-100,
  "red-200": $red-200,
  "red-300": $red-300,
  "red-400": $red-400,
  "red-500": $red-500,
  "red-600": $red-600,
  "red-700": $red-700,
  "red-800": $red-800,
  "red-900": $red-900
) !default;
*/
/*
$oranges: (
  "orange-100": $orange-100,
  "orange-200": $orange-200,
  "orange-300": $orange-300,
  "orange-400": $orange-400,
  "orange-500": $orange-500,
  "orange-600": $orange-600,
  "orange-700": $orange-700,
  "orange-800": $orange-800,
  "orange-900": $orange-900
) !default;
*/
/*
$yellows: (
  "yellow-100": $yellow-100,
  "yellow-200": $yellow-200,
  "yellow-300": $yellow-300,
  "yellow-400": $yellow-400,
  "yellow-500": $yellow-500,
  "yellow-600": $yellow-600,
  "yellow-700": $yellow-700,
  "yellow-800": $yellow-800,
  "yellow-900": $yellow-900
) !default;
*/
/*
$greens: (
  "green-100": $green-100,
  "green-200": $green-200,
  "green-300": $green-300,
  "green-400": $green-400,
  "green-500": $green-500,
  "green-600": $green-600,
  "green-700": $green-700,
  "green-800": $green-800,
  "green-900": $green-900
) !default;
*/
/*
$teals: (
  "teal-100": $teal-100,
  "teal-200": $teal-200,
  "teal-300": $teal-300,
  "teal-400": $teal-400,
  "teal-500": $teal-500,
  "teal-600": $teal-600,
  "teal-700": $teal-700,
  "teal-800": $teal-800,
  "teal-900": $teal-900
) !default;
*/
/*
$cyans: (
  "cyan-100": $cyan-100,
  "cyan-200": $cyan-200,
  "cyan-300": $cyan-300,
  "cyan-400": $cyan-400,
  "cyan-500": $cyan-500,
  "cyan-600": $cyan-600,
  "cyan-700": $cyan-700,
  "cyan-800": $cyan-800,
  "cyan-900": $cyan-900
) !default;
*/
/*
$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29"),
) !default;
*/
/*
$position-values: (
  0: 0,
  50: 50%,
  100: 100%
) !default;
*/
/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
*/
/*
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;
*/
/*
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
) !default;
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
/*
$table-variants: (
  "primary": shift-color($primary, $table-bg-scale),
  "secondary": shift-color($secondary, $table-bg-scale),
  "success": shift-color($success, $table-bg-scale),
  "info": shift-color($info, $table-bg-scale),
  "warning": shift-color($warning, $table-bg-scale),
  "danger": shift-color($danger, $table-bg-scale),
  "light": $light,
  "dark": $dark,
) !default;
*/
/*
$form-validation-states: (
  "valid": (
    "color": $form-feedback-valid-color,
    "icon": $form-feedback-icon-valid
  ),
  "invalid": (
    "color": $form-feedback-invalid-color,
    "icon": $form-feedback-icon-invalid
  )
) !default;
*/
.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1.5rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: 1px solid var(--bs-alert-border-color);
  --bs-alert-border-radius: 1rem;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 4.5rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1.5rem;
}

.alert-primary {
  --bs-alert-color: #8a003b;
  --bs-alert-bg: #facce0;
  --bs-alert-border-color: #f8b3d0;
}
.alert-primary .alert-link {
  color: #6e002f;
}

.alert-secondary {
  --bs-alert-color: #31315b;
  --bs-alert-bg: #dcdcea;
  --bs-alert-border-color: #cbcbe0;
}
.alert-secondary .alert-link {
  color: #272749;
}

.alert-tertiary {
  --bs-alert-color: #2b2b6e;
  --bs-alert-bg: #dadaf1;
  --bs-alert-border-color: #c8c8e9;
}
.alert-tertiary .alert-link {
  color: #222258;
}

.alert-success {
  --bs-alert-color: #3e7423;
  --bs-alert-bg: #e1f3d8;
  --bs-alert-border-color: #d1edc4;
}
.alert-success .alert-link {
  color: #325d1c;
}

.alert-info {
  --bs-alert-color: #2b4882;
  --bs-alert-bg: #dae4f7;
  --bs-alert-border-color: #c8d7f4;
}
.alert-info .alert-link {
  color: #223a68;
}

.alert-warning {
  --bs-alert-color: #8a6124;
  --bs-alert-bg: #faecd8;
  --bs-alert-border-color: #f8e3c5;
}
.alert-warning .alert-link {
  color: #6e4e1d;
}

.alert-danger {
  --bs-alert-color: #934141;
  --bs-alert-bg: #fde2e2;
  --bs-alert-border-color: #fcd3d3;
}
.alert-danger .alert-link {
  color: #763434;
}

.alert-light {
  --bs-alert-color: #636364;
  --bs-alert-bg: #fefefe;
  --bs-alert-border-color: #fdfdfe;
}
.alert-light .alert-link {
  color: #4f4f50;
}

.alert-dark {
  --bs-alert-color: #110f19;
  --bs-alert-bg: #d2d1d4;
  --bs-alert-border-color: #bbbabf;
}
.alert-dark .alert-link {
  color: #0e0c14;
}

.alert-primary {
  --bs-alert-bg: var(--bs-primary);
  --bs-alert-color: var(--bs-white);
  --bs-alert-icon-bg: var(--bs-white);
  --bs-alert-icon-color: var(--bs-alert-bg);
  --bs-alert-separator: var(--bs-white);
  --bs-btn-close-color: var(--bs-white);
}

.alert-secondary {
  --bs-alert-bg: var(--bs-secondary);
  --bs-alert-color: var(--bs-white);
  --bs-alert-icon-bg: var(--bs-white);
  --bs-alert-icon-color: var(--bs-alert-bg);
  --bs-alert-separator: var(--bs-white);
  --bs-btn-close-color: var(--bs-white);
}

.alert-tertiary {
  --bs-alert-bg: var(--bs-tertiary);
  --bs-alert-color: var(--bs-white);
  --bs-alert-icon-bg: var(--bs-white);
  --bs-alert-icon-color: var(--bs-alert-bg);
  --bs-alert-separator: var(--bs-white);
  --bs-btn-close-color: var(--bs-white);
}

.alert-success {
  --bs-alert-bg: var(--bs-success);
  --bs-alert-color: var(--bs-white);
  --bs-alert-icon-bg: var(--bs-white);
  --bs-alert-icon-color: var(--bs-alert-bg);
  --bs-alert-separator: var(--bs-white);
  --bs-btn-close-color: var(--bs-white);
}

.alert-info {
  --bs-alert-bg: var(--bs-info);
  --bs-alert-color: var(--bs-white);
  --bs-alert-icon-bg: var(--bs-white);
  --bs-alert-icon-color: var(--bs-alert-bg);
  --bs-alert-separator: var(--bs-white);
  --bs-btn-close-color: var(--bs-white);
}

.alert-warning {
  --bs-alert-bg: var(--bs-warning);
  --bs-alert-color: var(--bs-white);
  --bs-alert-icon-bg: var(--bs-white);
  --bs-alert-icon-color: var(--bs-alert-bg);
  --bs-alert-separator: var(--bs-white);
  --bs-btn-close-color: var(--bs-white);
}

.alert-danger {
  --bs-alert-bg: var(--bs-danger);
  --bs-alert-color: var(--bs-white);
  --bs-alert-icon-bg: var(--bs-white);
  --bs-alert-icon-color: var(--bs-alert-bg);
  --bs-alert-separator: var(--bs-white);
  --bs-btn-close-color: var(--bs-white);
}

.alert-dark {
  --bs-alert-bg: var(--bs-dark);
  --bs-alert-color: var(--bs-white);
  --bs-alert-icon-bg: var(--bs-white);
  --bs-alert-icon-color: var(--bs-alert-bg);
  --bs-alert-separator: var(--bs-white);
  --bs-btn-close-color: var(--bs-white);
}

.alert-light {
  --bs-alert-bg: var(--bs-light);
  --bs-alert-color: var(--bs-gray);
  --bs-alert-icon-bg: var(--bs-alert-color);
  --bs-alert-icon-color: var(--bs-white);
  --bs-alert-separator: var(--bs-gray);
  --bs-btn-close-color: var(--bs-dark);
  --bs-close-focus-shadow: rgba(var(--bs-dark-rgb), .3);
}

.alert {
  --bs-alert-border: 0;
  --bs-alert-gap: 1rem;
  display: flex;
  gap: var(--bs-alert-gap);
  align-items: center;
  justify-content: center;
}
.alert .btn-close {
  color: var(--bs-alert-color);
  background: none;
}
.alert .separator {
  width: 1px;
  height: 36px;
  background: var(--bs-alert-separator);
  opacity: 0.3;
}
.alert .alert-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25px;
  min-height: 25px;
  color: var(--bs-alert-icon-color);
  vertical-align: middle;
  background-color: var(--bs-alert-icon-bg);
  border: 0;
  border-radius: 50rem;
}
.alert .alert-text {
  --bs-alert-font-size: 1rem;
  --bs-alert-line-height: 24px;
  font-size: var(--bs-alert-font-size);
  line-height: var(--bs-alert-line-height);
}