:host,
.form-check-box {
  --#{$prefix}form-check-border-width-focus: #{$form-check-border-width-focus};
  --#{$prefix}form-check-border-color-focus: #{$form-check-border-color-focus};
  --#{$prefix}checkbox-box-border-width: 2px;
  --#{$prefix}checkbox-box-border-radius: #{$form-check-input-border-radius};

  padding: var(--#{$prefix}checkbox-box-border-width);

  &:focus-within,
  &.focus {
    border-radius: var(--#{$prefix}checkbox-box-border-radius);
    box-shadow: 0 0 0 var(--#{$prefix}form-check-border-width-focus) var(--#{$prefix}form-check-border-color-focus);
  }
}

.form-check {
  border-radius: #{$form-check-input-border-radius};
}

.form-check-input {
  // Base styles
  --#{$prefix}form-check-input-border-color: #{$gray-300};
  --#{$prefix}form-check-input-border-hover-width: 1px;

  // Checked - No state
  --#{$prefix}form-check-input-checked-bg: #{$tertiary};
  --#{$prefix}form-check-input-checked-border: #{$tertiary};
  transition: #{$form-check-transition};

  &:hover {
    &:not([disabled]) {
      --#{$prefix}form-check-input-border-hover-color: #{$gray-600};
      border: $form-check-input-border-hover;
    }
    &:indeterminate {
      border: 1px solid #{$form-check-input-indeterminate-border-hover-color};
    }
  }
}

@each $color, $value in map-remove($theme-colors, "light", "dark", "info") {
  $value-rgb: map-get($theme-colors-rgb, $color);
  $hover-value: map-get($theme-colors-hover, $color);
  $hover-value-rgb: to-rgb($hover-value);

  // Checkbox-input
  .form-check-input-#{$color} {
    --#{$prefix}form-check-input-border-color: #{$value};
    --#{$prefix}form-check-input-border-hover-width: 2px;
    --#{$prefix}form-check-input-checked-bg: #{$value};

    &:hover {
      &:checked {
        background-color: var(--#{$prefix}#{$color}-hover);
      }
      &:not([disabled]) {
        --#{$prefix}check-input-border-hover: var(--#{$prefix}#{$color}-hover);
        border: 1px solid var(--#{$prefix}check-input-border-hover);
      }
    }
  }
}
