// Color system

// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #f7f7ff !default;
$gray-200: #e6e6f3 !default;
$gray-300: #d5d4e6 !default;
$gray-400: #a1a1b5 !default;
$gray-500: #6d6d82 !default;
$gray-600: #616173 !default;
$gray-700: #555564 !default;
$gray-800: #363744 !default;
$gray-900: #161723 !default;
$black: #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue: #366ddb !default;
$indigo: #4848b7 !default;
$purple: #525298 !default;
$pink: #e60063 !default;
$red: #d81b60 !default;
$orange: #d32f2f !default;
$yellow: #fbc02d !default;
$green: #028759 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
  "gray": $gray-500,
  "gray-dark": $gray-800,
) !default;
// scss-docs-end colors-map

// custom
// TODO: check this.
$bg-gray-soft: #fafafa !default;
$bg-primary-soft: #fff9fa !default;
$bg-secondary-soft: #fbfaff !default;

$bg-soft-colors: (
  "gray-soft": $bg-gray-soft,
  "primary-soft": $bg-primary-soft,
  "secondary-soft": $bg-secondary-soft,
) !default;
// end custom

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 4.5 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: $gray-900 !default;
$color-contrast-light: $white !default;

// fusv-disable
$blue-100: #dfe9fc !default;
$blue-200: #c1d2f5 !default;
$blue-300: #91b2f4 !default;
$blue-400: #7599e3 !default;
$blue-500: $blue !default;
$blue-600: #3562be !default;
$blue-700: #224da3 !default;
$blue-800: #234588 !default;
$blue-900: #243c6d !default;

$indigo-100: #e1dffe !default;
$indigo-200: #c1c1ff !default;
$indigo-300: #a0a2fe !default;
$indigo-400: #5f60ca !default;
$indigo-500: $indigo !default;
$indigo-600: #403eab !default;
$indigo-700: #38339f !default;
$indigo-800: #2c2798 !default;
$indigo-900: #1e1990 !default;

$purple-100: tint-color($purple, 80%) !default;
$purple-200: tint-color($purple, 60%) !default;
$purple-300: tint-color($purple, 40%) !default;
$purple-400: tint-color($purple, 20%) !default;
$purple-500: $purple !default;
$purple-600: shade-color($purple, 20%) !default;
$purple-700: shade-color($purple, 40%) !default;
$purple-800: shade-color($purple, 60%) !default;
$purple-900: shade-color($purple, 80%) !default;

$pink-100: tint-color($pink, 80%) !default;
$pink-200: tint-color($pink, 60%) !default;
$pink-300: tint-color($pink, 40%) !default;
$pink-400: tint-color($pink, 20%) !default;
$pink-500: $pink !default;
$pink-600: shade-color($pink, 20%) !default;
$pink-700: shade-color($pink, 40%) !default;
$pink-800: shade-color($pink, 60%) !default;
$pink-900: shade-color($pink, 80%) !default;

$red-100: #ffd8de !default;
$red-200: #ffafbf !default;
$red-300: #ff869f !default;
$red-400: #ec5180 !default;
$red-500: $red !default;
$red-600: #c3185c !default;
$red-700: #ad1457 !default;
$red-800: #9b1153 !default;
$red-900: #880e4f !default;

$orange-100: #fbeaea !default;
$orange-200: #fea8a2 !default;
$orange-300: #ff6659 !default;
$orange-400: #e94b44 !default;
$orange-500: $orange !default;
$orange-600: #b7181c !default;
$orange-700: #9a0007 !default;
$orange-800: #820c10 !default;
$orange-900: #6a1818 !default;

$yellow-100: #fff9ea !default;
$yellow-200: #fff6a7 !default;
$yellow-300: #fff263 !default;
$yellow-400: #feda49 !default;
$yellow-500: $yellow !default;
$yellow-600: #c79718 !default;
$yellow-700: #936c02 !default;
$yellow-800: #88660c !default;
$yellow-900: #7d6016 !default;

$green-100: #e6f3ee !default;
$green-200: #99d6bb !default;
$green-300: #4bb886 !default;
$green-400: #27a070 !default;
$green-500: $green !default;
$green-600: #017144 !default;
$green-700: #00592f !default;
$green-800: #014f2e !default;
$green-900: #01442c !default;

$teal-100: tint-color($teal, 80%) !default;
$teal-200: tint-color($teal, 60%) !default;
$teal-300: tint-color($teal, 40%) !default;
$teal-400: tint-color($teal, 20%) !default;
$teal-500: $teal !default;
$teal-600: shade-color($teal, 20%) !default;
$teal-700: shade-color($teal, 40%) !default;
$teal-800: shade-color($teal, 60%) !default;
$teal-900: shade-color($teal, 80%) !default;

$cyan-100: tint-color($cyan, 80%) !default;
$cyan-200: tint-color($cyan, 60%) !default;
$cyan-300: tint-color($cyan, 40%) !default;
$cyan-400: tint-color($cyan, 20%) !default;
$cyan-500: $cyan !default;
$cyan-600: shade-color($cyan, 20%) !default;
$cyan-700: shade-color($cyan, 40%) !default;
$cyan-800: shade-color($cyan, 60%) !default;
$cyan-900: shade-color($cyan, 80%) !default;

$blues: (
  "blue-100": $blue-100,
  "blue-200": $blue-200,
  "blue-300": $blue-300,
  "blue-400": $blue-400,
  "blue-500": $blue-500,
  "blue-600": $blue-600,
  "blue-700": $blue-700,
  "blue-800": $blue-800,
  "blue-900": $blue-900
) !default;

$indigos: (
  "indigo-100": $indigo-100,
  "indigo-200": $indigo-200,
  "indigo-300": $indigo-300,
  "indigo-400": $indigo-400,
  "indigo-500": $indigo-500,
  "indigo-600": $indigo-600,
  "indigo-700": $indigo-700,
  "indigo-800": $indigo-800,
  "indigo-900": $indigo-900
) !default;

$purples: (
  "purple-100": $purple-100,
  "purple-200": $purple-200,
  "purple-300": $purple-300,
  "purple-400": $purple-400,
  "purple-500": $purple-500,
  "purple-600": $purple-600,
  "purple-700": $purple-700,
  "purple-800": $purple-800,
  "purple-900": $purple-900
) !default;

$pinks: (
  "pink-100": $pink-100,
  "pink-200": $pink-200,
  "pink-300": $pink-300,
  "pink-400": $pink-400,
  "pink-500": $pink-500,
  "pink-600": $pink-600,
  "pink-700": $pink-700,
  "pink-800": $pink-800,
  "pink-900": $pink-900
) !default;

$reds: (
  "red-100": $red-100,
  "red-200": $red-200,
  "red-300": $red-300,
  "red-400": $red-400,
  "red-500": $red-500,
  "red-600": $red-600,
  "red-700": $red-700,
  "red-800": $red-800,
  "red-900": $red-900
) !default;

$oranges: (
  "orange-100": $orange-100,
  "orange-200": $orange-200,
  "orange-300": $orange-300,
  "orange-400": $orange-400,
  "orange-500": $orange-500,
  "orange-600": $orange-600,
  "orange-700": $orange-700,
  "orange-800": $orange-800,
  "orange-900": $orange-900
) !default;

$yellows: (
  "yellow-100": $yellow-100,
  "yellow-200": $yellow-200,
  "yellow-300": $yellow-300,
  "yellow-400": $yellow-400,
  "yellow-500": $yellow-500,
  "yellow-600": $yellow-600,
  "yellow-700": $yellow-700,
  "yellow-800": $yellow-800,
  "yellow-900": $yellow-900
) !default;

$greens: (
  "green-100": $green-100,
  "green-200": $green-200,
  "green-300": $green-300,
  "green-400": $green-400,
  "green-500": $green-500,
  "green-600": $green-600,
  "green-700": $green-700,
  "green-800": $green-800,
  "green-900": $green-900
) !default;

$teals: (
  "teal-100": $teal-100,
  "teal-200": $teal-200,
  "teal-300": $teal-300,
  "teal-400": $teal-400,
  "teal-500": $teal-500,
  "teal-600": $teal-600,
  "teal-700": $teal-700,
  "teal-800": $teal-800,
  "teal-900": $teal-900
) !default;

$cyans: (
  "cyan-100": $cyan-100,
  "cyan-200": $cyan-200,
  "cyan-300": $cyan-300,
  "cyan-400": $cyan-400,
  "cyan-500": $cyan-500,
  "cyan-600": $cyan-600,
  "cyan-700": $cyan-700,
  "cyan-800": $cyan-800,
  "cyan-900": $cyan-900
) !default;
// fusv-enable

// scss-docs-start theme-color-variables
$primary: $red !default;
$secondary: $indigo !default;
$success: $green !default;
$info: $blue !default;
$warning: $yellow !default;
$danger: $orange !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
) !default;
// scss-docs-end theme-colors-map

// TODO: check this.
$state-colors: (
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
) !default;

// scss-docs-start theme-text-variables
$primary-text-emphasis: shade-color($primary, 60%) !default;
$secondary-text-emphasis: shade-color($secondary, 60%) !default;
$success-text-emphasis: shade-color($success, 60%) !default;
$info-text-emphasis: shade-color($info, 60%) !default;
$warning-text-emphasis: shade-color($warning, 60%) !default;
$danger-text-emphasis: shade-color($danger, 60%) !default;
$light-text-emphasis: $gray-700 !default;
$dark-text-emphasis: $gray-700 !default;
// scss-docs-end theme-text-variables

// scss-docs-start theme-bg-subtle-variables
$primary-bg-subtle: tint-color($primary, 80%) !default;
$secondary-bg-subtle: tint-color($secondary, 80%) !default;
$success-bg-subtle: tint-color($success, 80%) !default;
$info-bg-subtle: tint-color($info, 80%) !default;
$warning-bg-subtle: tint-color($warning, 80%) !default;
$danger-bg-subtle: tint-color($danger, 80%) !default;
$light-bg-subtle: mix($gray-100, $white) !default;
$dark-bg-subtle: $gray-400 !default;
// scss-docs-end theme-bg-subtle-variables

// scss-docs-start theme-border-subtle-variables
$primary-border-subtle: tint-color($primary, 60%) !default;
$secondary-border-subtle: tint-color($secondary, 60%) !default;
$success-border-subtle: tint-color($success, 60%) !default;
$info-border-subtle: tint-color($info, 60%) !default;
$warning-border-subtle: tint-color($warning, 60%) !default;
$danger-border-subtle: tint-color($danger, 60%) !default;
$light-border-subtle: $gray-200 !default;
$dark-border-subtle: $gray-500 !default;
// scss-docs-end theme-border-subtle-variables

$primary-100: $red-100 !default;
$primary-200: $red-200 !default;
$primary-300: $red-300 !default;
$primary-400: $red-400 !default;
$primary-500: $red-500 !default;
$primary-600: $red-600 !default;
$primary-700: $red-700 !default;
$primary-800: $red-800 !default;
$primary-900: $red-900 !default;

$secondary-100: $indigo-100 !default;
$secondary-200: $indigo-200 !default;
$secondary-300: $indigo-300 !default;
$secondary-400: $indigo-400 !default;
$secondary-500: $indigo-500 !default;
$secondary-600: $indigo-600 !default;
$secondary-700: $indigo-700 !default;
$secondary-800: $indigo-800 !default;
$secondary-900: $indigo-900 !default;

$success-100: $green-100 !default;
$success-200: $green-200 !default;
$success-300: $green-300 !default;
$success-400: $green-400 !default;
$success-500: $green-500 !default;
$success-600: $green-600 !default;
$success-700: $green-700 !default;
$success-800: $green-800 !default;
$success-900: $green-900 !default;

$info-100: $blue-100 !default;
$info-200: $blue-200 !default;
$info-300: $blue-300 !default;
$info-400: $blue-400 !default;
$info-500: $blue-500 !default;
$info-600: $blue-600 !default;
$info-700: $blue-700 !default;
$info-800: $blue-800 !default;
$info-900: $blue-900 !default;

$warning-100: $yellow-100 !default;
$warning-200: $yellow-200 !default;
$warning-300: $yellow-300 !default;
$warning-400: $yellow-400 !default;
$warning-500: $yellow-500 !default;
$warning-600: $yellow-600 !default;
$warning-700: $yellow-700 !default;
$warning-800: $yellow-800 !default;
$warning-900: $yellow-900 !default;

$danger-100: $orange-100 !default;
$danger-200: $orange-200 !default;
$danger-300: $orange-300 !default;
$danger-400: $orange-400 !default;
$danger-500: $orange-500 !default;
$danger-600: $orange-600 !default;
$danger-700: $orange-700 !default;
$danger-800: $orange-800 !default;
$danger-900: $orange-900 !default;

$theme-colors-palletes: (
  "primary-100": $primary-100,
  "primary-200": $primary-200,
  "primary-300": $primary-300,
  "primary-400": $primary-400,
  "primary-500": $primary-500,
  "primary-600": $primary-600,
  "primary-700": $primary-700,
  "primary-800": $primary-800,
  "primary-900": $primary-900,
  "secondary-100": $secondary-100,
  "secondary-200": $secondary-200,
  "secondary-300": $secondary-300,
  "secondary-400": $secondary-400,
  "secondary-500": $secondary-500,
  "secondary-600": $secondary-600,
  "secondary-700": $secondary-700,
  "secondary-800": $secondary-800,
  "secondary-900": $secondary-900,
  "success-100": $success-100,
  "success-200": $success-200,
  "success-300": $success-300,
  "success-400": $success-400,
  "success-500": $success-500,
  "success-600": $success-600,
  "success-700": $success-700,
  "success-800": $success-800,
  "success-900": $success-900,
  "info-100": $info-100,
  "info-200": $info-200,
  "info-300": $info-300,
  "info-400": $info-400,
  "info-500": $info-500,
  "info-600": $info-600,
  "info-700": $info-700,
  "info-800": $info-800,
  "info-900": $info-900,
  "warning-100": $warning-100,
  "warning-200": $warning-200,
  "warning-300": $warning-300,
  "warning-400": $warning-400,
  "warning-500": $warning-500,
  "warning-600": $warning-600,
  "warning-700": $warning-700,
  "warning-800": $warning-800,
  "warning-900": $warning-900,
  "danger-100": $danger-100,
  "danger-200": $danger-200,
  "danger-300": $danger-300,
  "danger-400": $danger-400,
  "danger-500": $danger-500,
  "danger-600": $danger-600,
  "danger-700": $danger-700,
  "danger-800": $danger-800,
  "danger-900": $danger-900
) !default;
