$quick-action-switch-gap: var(--#{$prefix}ref-spacer-2) !default;
$quick-action-switch-padding: var(--#{$prefix}ref-spacer-2) var(--#{$prefix}ref-spacer-3) !default;
$quick-action-switch-bg: var(--#{$prefix}white) !default;
$quick-action-switch-border-radius: var(--#{$prefix}border-radius-sm) !default;

$quick-action-switch-content-gap: var(--#{$prefix}ref-spacer-1) !default;

$quick-action-switch-label-font-size: $font-size-base !default;
$quick-action-switch-label-font-weight: $form-label-font-weight !default;
$quick-action-switch-label-color: $form-switch-label-color !default;

$quick-action-switch-hint-font-size: var(--#{$prefix}ref-fs-subparagraph) !default;
$quick-action-switch-hint-font-weight: var(--#{$prefix}ref-fw-normal) !default;
$quick-action-switch-hint-color: var(--#{$prefix}gray-400) !default;

$quick-action-switch-hover-bg: var(--#{$prefix}indigo-soft) !default;

$quick-action-switch-checked-bg: var(--#{$prefix}white) !default;
$quick-action-switch-checked-label-color: $form-switch-active-label-color !default;
$quick-action-switch-checked-hint-color: var(--#{$prefix}gray-500) !default;

