$quick-action-select-padding: var(--#{$prefix}ref-spacer-3) !default;
$quick-action-select-bg: var(--#{$prefix}gray-100) !default;
$quick-action-select-border-radius: var(--#{$prefix}border-radius-sm) !default;

$quick-action-select-line1-font-size: var(--#{$prefix}ref-fs-subparagraph) !default;
$quick-action-select-line1-font-weight: var(--#{$prefix}ref-fw-normal) !default;
$quick-action-select-line1-color: var(--#{$prefix}secondary) !default;

$quick-action-select-line2-font-size: var(--#{$prefix}body-font-size) !default;
$quick-action-select-line2-font-weight: var(--#{$prefix}ref-fw-bold) !default;
$quick-action-select-line2-color: var(--#{$prefix}light-text-emphasis) !default;

$quick-action-select-hover-bg: var(--#{$prefix}gray-200) !default;

$quick-action-select-checked-bg: var(--#{$prefix}secondary) !default;
$quick-action-select-checked-color: var(--#{$prefix}white) !default;
