/*
$blues: (
  "blue-100": $blue-100,
  "blue-200": $blue-200,
  "blue-300": $blue-300,
  "blue-400": $blue-400,
  "blue-500": $blue-500,
  "blue-600": $blue-600,
  "blue-700": $blue-700,
  "blue-800": $blue-800,
  "blue-900": $blue-900
) !default;
*/
/*
$indigos: (
  "indigo-100": $indigo-100,
  "indigo-200": $indigo-200,
  "indigo-300": $indigo-300,
  "indigo-400": $indigo-400,
  "indigo-500": $indigo-500,
  "indigo-600": $indigo-600,
  "indigo-700": $indigo-700,
  "indigo-800": $indigo-800,
  "indigo-900": $indigo-900
) !default;
*/
/*
$purples: (
  "purple-100": $purple-100,
  "purple-200": $purple-200,
  "purple-300": $purple-300,
  "purple-400": $purple-400,
  "purple-500": $purple-500,
  "purple-600": $purple-600,
  "purple-700": $purple-700,
  "purple-800": $purple-800,
  "purple-900": $purple-900
) !default;
*/
/*
$pinks: (
  "pink-100": $pink-100,
  "pink-200": $pink-200,
  "pink-300": $pink-300,
  "pink-400": $pink-400,
  "pink-500": $pink-500,
  "pink-600": $pink-600,
  "pink-700": $pink-700,
  "pink-800": $pink-800,
  "pink-900": $pink-900
) !default;
*/
/*
$reds: (
  "red-100": $red-100,
  "red-200": $red-200,
  "red-300": $red-300,
  "red-400": $red-400,
  "red-500": $red-500,
  "red-600": $red-600,
  "red-700": $red-700,
  "red-800": $red-800,
  "red-900": $red-900
) !default;
*/
/*
$oranges: (
  "orange-100": $orange-100,
  "orange-200": $orange-200,
  "orange-300": $orange-300,
  "orange-400": $orange-400,
  "orange-500": $orange-500,
  "orange-600": $orange-600,
  "orange-700": $orange-700,
  "orange-800": $orange-800,
  "orange-900": $orange-900
) !default;
*/
/*
$yellows: (
  "yellow-100": $yellow-100,
  "yellow-200": $yellow-200,
  "yellow-300": $yellow-300,
  "yellow-400": $yellow-400,
  "yellow-500": $yellow-500,
  "yellow-600": $yellow-600,
  "yellow-700": $yellow-700,
  "yellow-800": $yellow-800,
  "yellow-900": $yellow-900
) !default;
*/
/*
$greens: (
  "green-100": $green-100,
  "green-200": $green-200,
  "green-300": $green-300,
  "green-400": $green-400,
  "green-500": $green-500,
  "green-600": $green-600,
  "green-700": $green-700,
  "green-800": $green-800,
  "green-900": $green-900
) !default;
*/
/*
$teals: (
  "teal-100": $teal-100,
  "teal-200": $teal-200,
  "teal-300": $teal-300,
  "teal-400": $teal-400,
  "teal-500": $teal-500,
  "teal-600": $teal-600,
  "teal-700": $teal-700,
  "teal-800": $teal-800,
  "teal-900": $teal-900
) !default;
*/
/*
$cyans: (
  "cyan-100": $cyan-100,
  "cyan-200": $cyan-200,
  "cyan-300": $cyan-300,
  "cyan-400": $cyan-400,
  "cyan-500": $cyan-500,
  "cyan-600": $cyan-600,
  "cyan-700": $cyan-700,
  "cyan-800": $cyan-800,
  "cyan-900": $cyan-900
) !default;
*/
/*
$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29"),
) !default;
*/
/*
$position-values: (
  0: 0,
  50: 50%,
  100: 100%
) !default;
*/
/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
*/
/*
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;
*/
/*
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
) !default;
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
/*
$table-variants: (
  "primary": shift-color($primary, $table-bg-scale),
  "secondary": shift-color($secondary, $table-bg-scale),
  "success": shift-color($success, $table-bg-scale),
  "info": shift-color($info, $table-bg-scale),
  "warning": shift-color($warning, $table-bg-scale),
  "danger": shift-color($danger, $table-bg-scale),
  "light": $light,
  "dark": $dark,
) !default;
*/
/*
$form-validation-states: (
  "valid": (
    "color": $form-feedback-valid-color,
    "icon": $form-feedback-icon-valid
  ),
  "invalid": (
    "color": $form-feedback-invalid-color,
    "icon": $form-feedback-icon-invalid
  )
) !default;
*/
.form-control-layout-search {
  --bs-search-label-color: var(--bs-gray);
  --bs-label-icon-color: var(--bs-info);
  --bs-hint-color: var(--bs-gray);
  --bs-hint-icon-color: var(--bs-dark);
  --bs-button-search-color: var(--bs-dark);
  --bs-button-search-hover-color: var(--bs-button-search-color);
  --bs-button-search-disabled-color: var(--bs-gray);
  --bs-button-search-disabled-opacity: 1;
  --bs-button-search-readonly-color: var(--bs-gray-light);
  --bs-search-state-color: var(--bs-gray);
  --bs-search-state-size: 0.75rem;
  --bs-input-group-search-border-color: var(--bs-input-border-color);
  --bs-input-group-search-hover-border-color: var(--bs-input-hover-border-color);
  --bs-input-group-search-focus-border-color: var(--bs-tertiary);
  --bs-input-group-search-hover-box-shadow: 0 0 0 0.5px var(--bs-input-hover-border-color);
  --bs-input-group-disabled-bg: var(--bs-light);
  --bs-form-control-disabled-bg: var(--bs-light);
  --bs-form-control-readonly-bg: var(--bs-white);
}
.form-control-layout-search .form-control:focus {
  box-shadow: none;
}
.form-control-layout-search label,
.form-control-layout-search .hint {
  color: var(--bs-search-label-color);
}
.form-control-layout-search label .form-control-icon {
  color: var(--bs-label-icon-color);
}
.form-control-layout-search .input-group .btn-search {
  z-index: inherit;
  padding-left: 0;
  color: var(--bs-button-search-color);
}
.form-control-layout-search .input-group:hover {
  box-shadow: var(--bs-input-group-search-hover-box-shadow);
}
.form-control-layout-search .input-group:hover .form-control:not(:read-only) ~ .btn-search {
  color: var(--bs-button-search-hover-color);
}
.form-control-layout-search .input-group:focus-within:not(:hover) {
  border-color: var(--bs-input-group-search-focus-border-color);
}
.form-control-layout-search .input-group:focus-within:not(:hover) .form-control {
  caret-color: var(--bs-input-group-search-focus-border-color);
}
.form-control-layout-search .form-control-icon.hint-icon {
  color: var(--bs-hint-icon-color);
}
.form-control-layout-search.disabled .input-group,
.form-control-layout-search.disabled .input-group-text,
.form-control-layout-search.disabled .form-control-icon:not(.label-icon):not(.hint-icon) {
  pointer-events: none;
  cursor: not-allowed;
  background-color: var(--bs-input-group-disabled-bg);
}
.form-control-layout-search .form-control:disabled {
  background-color: var(--bs-form-control-disabled-bg);
}
.form-control-layout-search .btn-search:disabled {
  color: var(--bs-button-search-disabled-color);
  opacity: var(--bs-button-search-disabled-opacity);
}
.form-control-layout-search.readonly {
  pointer-events: none;
}
.form-control-layout-search.readonly .input-group {
  border-color: var(--bs-white);
}
.form-control-layout-search.readonly .btn-search {
  color: var(--bs-button-search-readonly-color);
}
.form-control-layout-search .form-control:read-only:not(:disabled) {
  background-color: var(--bs-form-control-readonly-bg);
}
.form-control-layout-search .search-state {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--bs-search-state-size);
  color: var(--bs-search-state-color);
}
.form-control-layout-search.form-control-layout-prime {
  --bs-input-group-bg: transparent;
  --bs-input-group-border-radius: 0;
  --bs-input-group-disabled-bg: transparent;
  --bs-form-control-disabled-bg: transparent;
  --bs-form-control-readonly-bg: transparent;
  --bs-input-group-outline-padding: 3px;
}
.form-control-layout-search.form-control-layout-prime label {
  display: none;
}
.form-control-layout-search.form-control-layout-prime .form-control {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}
.form-control-layout-search.form-control-layout-prime .input-group {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: var(--bs-input-border-color);
  border-left-color: transparent;
}
.form-control-layout-search.form-control-layout-prime .input-group:hover {
  border-bottom-color: var(--bs-input-hover-border-color);
  box-shadow: none;
}
.form-control-layout-search.form-control-layout-prime .input-group:focus-within,
.form-control-layout-search.form-control-layout-prime .input-group:focus {
  --bs-input-group-border-radius: 0.5rem;
  --bs-input-group-bg: var(--bs-white);
  border-color: var(--bs-input-border-color);
}
.form-control-layout-search.form-control-layout-prime .hint {
  width: 100%;
  text-align: center;
}
.form-control-layout-search.form-control-layout-prime.readonly .input-group {
  border-color: transparent;
}
.form-control-layout-search.form-control-layout-secondary {
  --bs-form-label-padding-x: 1rem;
  --bs-form-label-padding-y: .25rem;
  --bs-input-group-border-radius: 50rem;
  --bs-input-group-bg: transparent;
  --bs-input-group-disabled-bg: transparent;
  --bs-form-control-disabled-bg: transparent;
  --bs-form-control-readonly-bg: transparent;
}
.form-control-layout-search.form-control-layout-secondary .input-group:not(:focus-within) {
  padding: 0;
  border-radius: 50rem;
}
.form-control-layout-search.form-control-layout-secondary .input-group:not(:focus-within) > * {
  padding-top: 3px;
  padding-bottom: 3px;
}
.form-control-layout-search.form-control-layout-secondary .input-group:focus-within,
.form-control-layout-search.form-control-layout-secondary .input-group:focus {
  --bs-input-group-bg: var(--bs-white);
}

.form-control-layout-search-tertiary {
  --bs-search-label-color: var(--bs-tertiary);
  --bs-label-icon-color: var(--bs-tertiary);
  --bs-hint-icon-color: var(--bs-tertiary);
  --bs-button-search-color: var(--bs-tertiary);
  --bs-input-group-search-border-color: var(--bs-tertiary);
  --bs-input-border-color: var(--bs-tertiary);
  --bs-button-search-hover-color: var(--bs-tertiary-hover);
  --bs-input-hover-border-color: var(--bs-tertiary-hover);
  --bs-search-state-color: var(--bs-tertiary);
}

.form-control-layout-search-warning {
  --bs-search-label-color: var(--bs-warning);
  --bs-label-icon-color: var(--bs-warning);
  --bs-hint-icon-color: var(--bs-warning);
  --bs-button-search-color: var(--bs-warning);
  --bs-input-group-search-border-color: var(--bs-warning);
  --bs-input-border-color: var(--bs-warning);
  --bs-button-search-hover-color: var(--bs-warning-hover);
  --bs-input-hover-border-color: var(--bs-warning-hover);
  --bs-search-state-color: var(--bs-warning);
}

.form-control-layout-search-danger {
  --bs-search-label-color: var(--bs-danger);
  --bs-label-icon-color: var(--bs-danger);
  --bs-hint-icon-color: var(--bs-danger);
  --bs-button-search-color: var(--bs-danger);
  --bs-input-group-search-border-color: var(--bs-danger);
  --bs-input-border-color: var(--bs-danger);
  --bs-button-search-hover-color: var(--bs-danger-hover);
  --bs-input-hover-border-color: var(--bs-danger-hover);
  --bs-search-state-color: var(--bs-danger);
}

.form-control-layout-search-loading .form-control-icon.search-state {
  --bs-search-state-color: var(--bs-info);
  --bs-search-state-size: 0.875rem;
}

.form-control-layout-search-success .form-control-icon.search-state {
  --bs-search-state-color: var(--bs-success);
  --bs-search-state-size: 1.5rem;
}