// Main colors

$pink: #e60063;
$purple: #525298;
$indigo: #4848b7;
$green: #67c23a;
$yellow: #e6a23c;
$red: #f56c6c;

// Gray colors

$gray-100: #f8f8fb;
$gray-200: #dddce1;
$gray-300: #c0c0d1;
$gray-400: #909399;
$gray-500: #8b8992;
$gray-600: #727588;
$gray-700: #54515e;
$gray-800: #383543;
$gray-900: #1d1929;

// Theme colors

$primary: $pink;
$secondary: $purple;
$tertiary: $indigo;
$success: $green;
$info: $gray-400;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

// Hover colors

$primary-hover: #bc0956;
$secondary-hover: #303071;
$tertiary-hover: #25258a;
$success-hover: #58a533;
$info-hover: #516182;
$warning-hover: #c38322;
$danger-hover: #c64e4e;

// Theme colors

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

// TODO: Use hover-colors in components with :hover

$hover-colors: (
  'primary': $primary-hover,
  'secondary': $secondary-hover,
  'tertiary': $tertiary-hover,
  'success': $success-hover,
  'info': $info-hover,
  'warning': $warning-hover,
  'danger': $danger-hover,
);

$grays: (
  '100': $gray-100,
  '200': $gray-200,
  '300': $gray-300,
  '400': $gray-400,
  '500': $gray-500,
  '600': $gray-600,
  '700': $gray-700,
  '800': $gray-800,
  '900': $gray-900,
);
