// Main colors

$pink: #e60063 !default;
$purple: #525298 !default;
$indigo: #4848b7 !default;
$green: #67c23a !default;
$yellow: #e6a23c !default;
$red: #f56c6c !default;

// Gray colors

$gray-100: #f8f8fb !default;
$gray-200: #dddce1 !default;
$gray-300: #c0c0d1 !default;
$gray-400: #909399 !default;
$gray-500: #8b8992 !default;
$gray-600: #727588 !default;
$gray-700: #54515e !default;
$gray-800: #383543 !default;
$gray-900: #1d1929 !default;

// Theme colors

$primary: $pink !default;
$secondary: $purple !default;
$tertiary: $indigo !default;
$success: $green !default;
$info: $gray-400 !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

// Hover colors

$primary-hover: #bc0956 !default;
$secondary-hover: #303071 !default;
$tertiary-hover: #25258a !default;
$success-hover: #58a533 !default;
$info-hover: #516182 !default;
$warning-hover: #c38322 !default;
$danger-hover: #c64e4e !default;

// Theme colors

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
) !default;

// TODO: Use hover-colors in components with :hover

$hover-colors: (
  "primary": $primary-hover,
  "secondary": $secondary-hover,
  "tertiary": $tertiary-hover,
  "success": $success-hover,
  "info": $info-hover,
  "warning": $warning-hover,
  "danger": $danger-hover,
) !default;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
) !default;

// Border radius variables

$border-radius-sm: .5rem !default;
$border-radius: 1rem !default;
$border-radius-lg: 1.5rem !default;
$border-radius-xl: 2rem !default;
$border-radius-2xl: 2.5rem !default;
$border-radius-pill: 50rem !default;

// Box shadow variables

$box-shadow-sm: 0 8px 12px 0 rgba($dark, .1) !default;
$box-shadow: 0 12px 14px 0 rgba($dark, .2) !default;
$box-shadow-lg: 0 20px 22px 0 rgba($dark, .25) !default;
