.form-select {
  --#{$prefix}form-select-bg-size: 24px; // In pixels because image dimensions

  padding-right: $form-select-bg-size;
  background-color: var(--#{$prefix}input-group-bg);
  border: 0;
  box-shadow: none;

  &:focus,
  &:hover {
    outline-width: 0;
    box-shadow: none;
  }

  &.no-icons {
    padding-right: calc(#{$form-select-bg-size} * 2);
    background-position: right 1rem center;
  }
}

.form-control-layout-full {

  @each $color, $value in map-remove($theme-colors, "light", "dark") {
    .form-select.form-select-#{$color} {
      background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M0 2A2 2 0 012 0H22A2 2 0 0124 2V22A2 2 0 0122 24H2A2 2 0 010 22V2' fill='#{$value}' fill-opacity='#{$form-select-bg-opacity}'/><path d='M5.646 8.646A.5.5 0 016.354 8.646L12 14.293 17.646 8.646A.5.5 0 0118.354 9.354L12.354 15.354A.5.5 0 0111.646 15.354L5.646 9.354A.5.5 0 015.646 8.646Z' fill='#{$value}'/></svg>"));
    }
  }
}

.form-control-layout-transparent {

  .input-group {
    justify-content: space-evenly;
  }

  .input-group .form-select {
    color: var(--#{$prefix}gray);
    text-align: center;
  }

  .input-group-text,
  .form-select {
    $padding: add(strip-unit($spacer-2), to-rem($input-border-width) * -1);
    padding-top: $padding;
    padding-bottom: $padding;
  }

  @each $color, $value in map-remove($theme-colors, "light", "dark") {
    .form-select.form-select-#{$color} {
      background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M5.646 8.646A.5.5 0 016.354 8.646L12 14.293 17.646 8.646A.5.5 0 0118.354 9.354L12.354 15.354A.5.5 0 0111.646 15.354L5.646 9.354A.5.5 0 015.646 8.646Z' fill='#{$value}'/></svg>"));
    }
  }
}

.form-control-layout-full,
.form-control-layout-transparent {

  @each $color, $value in map-remove($theme-colors, "light", "dark") {
    &.form-control-theme-#{$color} {

      label {
        --#{$prefix}form-label-color: var(--#{$prefix}#{$color});
      }

      .input-group,
      .input-group-text,
      .form-control-icon,
      .hint {
        color: var(--#{$prefix}#{$color});
      }

      .input-group {
        border-color: var(--#{$prefix}#{$color});
      }

      .input-group:hover:not(.disabled) {
        border-color: var(--#{$prefix}#{$color}-hover);
        box-shadow: 0 0 0 .5px var(--#{$prefix}#{$color}-hover);
      }
    }
  }
}

.form-control-layout-prime {

  .input-group,
  .form-select {
    color: var(--#{$prefix}white);
    border-radius: var(--#{$prefix}input-group-border-radius);
  }

  .input-group .form-select {
    padding-right: calc(#{$form-select-bg-size} * 2);
    background-color: var(--#{$prefix}primary);
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M5.646 8.646A.5.5 0 016.354 8.646L12 14.293 17.646 8.646A.5.5 0 0118.354 9.354L12.354 15.354A.5.5 0 0111.646 15.354L5.646 9.354A.5.5 0 015.646 8.646Z' fill='#{$white}'/></svg>"));
    background-position: right 1rem center;
  }

  .input-group {
    border-color: var(--#{$prefix}primary);
  }

  .input-group:hover:not(.disabled) {
    border-color: var(--#{$prefix}primary-hover);

    .form-select {
      background-color: var(--#{$prefix}primary-hover);
    }
  }

  .form-select:disabled {
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M5.646 8.646A.5.5 0 016.354 8.646L12 14.293 17.646 8.646A.5.5 0 0118.354 9.354L12.354 15.354A.5.5 0 0111.646 15.354L5.646 9.354A.5.5 0 015.646 8.646Z' fill='#{$gray-300}'/></svg>"));
  }
}

.form-control-layout-full,
.form-control-layout-transparent,
.form-control-layout-prime {

  .input-group.disabled {
    background-color: var(--#{$prefix}light);
    border-color: var(--#{$prefix}gray-light);
  }

  .form-select:disabled {
    color: var(--#{$prefix}gray-light);
    background-color: var(--#{$prefix}light);
  }
}
