@import "~bootstrap/scss/badge";

.badge {
  --#{$prefix}badge-line-height: #{$badge-line-height};

  line-height: var(--#{$prefix}badge-line-height);

  &.bg-light {
    --#{$prefix}badge-color-light: #{$badge-color-light};

    color: var(--#{$prefix}badge-color-light);
  }

  &.badge-dot {
    --#{$prefix}badge-dot-width: #{$badge-dot-width};
    --#{$prefix}badge-dot-height: #{$badge-dot-height};

    width: var(--#{$prefix}badge-dot-width);
    height: var(--#{$prefix}badge-dot-height);
    padding: 0;
    margin: 0;

    &:empty {
      display: inline-block;
    }
  }
}
