@import "~bootstrap/scss/badge";

:host {
  display: block;
}

.badge {
  @extend .badge;
  line-height: 1.125rem;
}

.badge.bg-light {
  color: var(--bs-gray-600);
}

.badge-dot {
  @extend .badge;
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;

  &:empty {
    display: inline-block;
  }
}
