.list-group-item {
  --#{$prefix}list-group-item-border-radius: #{$list-group-item-border-radius};
  border-radius: var(--#{$prefix}list-group-item-border-radius);
  .form-check-input:checked[type="radio"] {
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#fff' class='bi bi-check' viewBox='0 0 16 16'><path d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/></svg>"));
  }
}

.list-group-numbered > .list-group-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  > * {
    padding-left: 0;
  }

  &:first-child {
    border-top-left-radius: var(--#{$prefix}list-group-item-border-radius);
    border-top-right-radius: var(--#{$prefix}list-group-item-border-radius);
  }

  &::before {
    padding-left: var(--#{$prefix}list-group-item-content-padding-x);
  }
}

.list-group-item > * {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: var(--#{$prefix}list-group-item-content-padding-y) var(--#{$prefix}list-group-item-content-padding-x);
}

.list-group-item-variant {
  --#{$prefix}list-group-item-content-padding-y: #{$list-group-item-content-padding-y};
  --#{$prefix}list-group-item-content-padding-x: #{$list-group-item-content-padding-x};
  --#{$prefix}list-group-bg: var(--#{$prefix}white);
  --#{$prefix}list-group-item-padding-y: 0;
  --#{$prefix}list-group-item-padding-x: 0;
  --#{$prefix}list-group-item-picture-width: #{$list-group-item-picture-width};
  --#{$prefix}list-group-item-picture-height: #{$list-group-item-picture-height};
  --#{$prefix}list-group-item-picture-border-radius: #{$list-group-item-picture-border-radius};
  --#{$prefix}list-group-border-color: var(--#{$prefix}light);
  --#{$prefix}list-group-border-width: var(--#{$prefix}border-width);

  border: 0;
  border-bottom: var(--#{$prefix}list-group-border-width) solid var(--#{$prefix}list-group-border-color);

  > a {
    color: var(--#{$prefix}body-color);
    text-decoration: none;

    &:focus,
    &:hover {
      color: var(--#{$prefix}body-color);
    }
  }
}

.list-group-item-picture-container {
  width: var(--#{$prefix}list-group-item-picture-width);
  height: var(--#{$prefix}list-group-item-picture-height);
  border-radius: var(--#{$prefix}list-group-item-picture-border-radius);

  .list-group-item-picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.list-group-item-variant.list-group-item-light {
  --#{$prefix}list-group-bg: #{$list-group-item-bg-light};
  --#{$prefix}list-group-border-color: var(--#{$prefix}gray-light);

  background-color: var(--#{$prefix}list-group-bg);
}

.list-group-item-pill {
  --#{$prefix}list-group-item-border-radius: var(--#{$prefix}border-radius-sm);

  margin-bottom: $spacer-3; // TODO: use variable for this
  border: var(--#{$prefix}list-group-border-width) solid var(--#{$prefix}list-group-border-color);
}
