// scss-docs-start df-btn-variant-mixin
@mixin df-button-variant(
  $color-name,
  $default-color: var(--#{$prefix}#{$color-name}-500),
  $hover-color: var(--#{$prefix}#{$color-name}-600),
  $focus-color: var(--#{$prefix}#{$color-name}-600),
  $active-color: var(--#{$prefix}#{$color-name}-700),
  $disabled-color: var(--#{$prefix}#{$color-name}-100),
  $default-text-color: color-contrast-var(map-get($theme-colors-palletes, #{$color-name}-500)),
  $hover-text-color: color-contrast-var(map-get($theme-colors-palletes, #{$color-name}-600)),
  $focus-text-color: color-contrast-var(map-get($theme-colors-palletes, #{$color-name}-600)),
  $active-text-color: color-contrast-var(map-get($theme-colors-palletes, #{$color-name}-700)),
  $disabled-text-color: color-contrast-var(map-get($theme-colors-palletes, #{$color-name}-100)),
) {
  --#{$prefix}btn-color: #{$default-text-color};
  --#{$prefix}btn-bg: #{$default-color};
  --#{$prefix}btn-border-color: #{$default-color};

  --#{$prefix}btn-hover-color: #{$hover-text-color};
  --#{$prefix}btn-hover-bg: #{$hover-color};
  --#{$prefix}btn-hover-border-color: #{$hover-color};

  --#{$prefix}btn-focus-color: #{$focus-text-color};
  --#{$prefix}btn-focus-bg: #{$focus-color};
  --#{$prefix}btn-focus-border-color: #{$focus-color};

  --#{$prefix}btn-active-color: #{$active-text-color};
  --#{$prefix}btn-active-bg: #{$active-color};
  --#{$prefix}btn-active-border-color: #{$active-color};

  --#{$prefix}btn-disabled-color: #{$disabled-text-color};
  --#{$prefix}btn-disabled-bg: #{$disabled-color};
  --#{$prefix}btn-disabled-border-color: #{$disabled-color};

  &.loading {
    --#{$prefix}btn-disabled-opacity: 1;
    --#{$prefix}btn-disabled-bg: #{$active-color};
    --#{$prefix}btn-disabled-border-color: #{$active-color};
    --#{$prefix}btn-disabled-color: #{$hover-text-color};
  }
}
// scss-docs-end df-btn-variant-mixin


// scss-docs-start df-btn-outline-variant-mixin
@mixin df-button-outline-variant(
  $color-name,
  $default-color: var(--#{$prefix}#{$color-name}-600),
  $hover-bg-color: var(--#{$prefix}#{$color-name}-100),
  $focus-bg-color: var(--#{$prefix}#{$color-name}-100),
  $active-bg-color: var(--#{$prefix}#{$color-name}-200),
  $disabled-color: var(--#{$prefix}#{$color-name}-100),
  $disabled-text-color: color-contrast-var(map-get($theme-colors-palletes, #{$color-name}-100)),
) {
  --#{$prefix}btn-bg: transparent;
  --#{$prefix}btn-border-color: #{$default-color};
  --#{$prefix}btn-color: #{$default-color};

  --#{$prefix}btn-hover-bg: #{$hover-bg-color};
  --#{$prefix}btn-hover-border-color: #{$default-color};
  --#{$prefix}btn-hover-color: #{$default-color};

  --#{$prefix}btn-focus-bg: #{$focus-bg-color};
  --#{$prefix}btn-focus-border-color: #{$default-color};
  --#{$prefix}btn-focus-color: #{$default-color};

  --#{$prefix}btn-active-bg: #{$active-bg-color};
  --#{$prefix}btn-active-border-color: #{$default-color};
  --#{$prefix}btn-active-color: #{$default-color};

  --#{$prefix}btn-disabled-bg: transparent;
  --#{$prefix}btn-disabled-border-color: #{$disabled-color};
  --#{$prefix}btn-disabled-color: #{$disabled-text-color};

  --#{$prefix}gradient: none;

  &.loading {
    --#{$prefix}btn-disabled-opacity: 1;
    --#{$prefix}btn-disabled-bg: transparent;
    --#{$prefix}btn-disabled-border-color: #{$default-color};
    --#{$prefix}btn-disabled-color: #{$default-color};
  }
}
// scss-docs-end df-btn-outline-variant-mixin

// scss-docs-start df-btn-link-variant-mixin
@mixin df-button-link-variant(
  $color-name,
  $default-color: var(--#{$prefix}#{$color-name}-600),
  $hover-bg-color: var(--#{$prefix}#{$color-name}-100),
  $active-bg-color: var(--#{$prefix}#{$color-name}-200),
  $disable-color: var(--#{$prefix}#{$color-name}-300),
) {
  --#{$prefix}btn-bg: transparent;
  --#{$prefix}btn-border-color: transparent;
  --#{$prefix}btn-color: #{$default-color};

  --#{$prefix}btn-hover-bg: #{$hover-bg-color};
  --#{$prefix}btn-hover-border-color: transparent;
  --#{$prefix}btn-hover-color: #{$default-color};

  --#{$prefix}btn-focus-bg: transparent;
  --#{$prefix}btn-focus-border-color: transparent;
  --#{$prefix}btn-focus-color: #{$default-color};

  --#{$prefix}btn-active-bg: #{$active-bg-color};
  --#{$prefix}btn-active-border-color: transparent;
  --#{$prefix}btn-active-color: #{$default-color};

  --#{$prefix}btn-disabled-bg: transparent;
  --#{$prefix}btn-disabled-border-color: transparent;
  --#{$prefix}btn-disabled-color: #{$disable-color};

  --#{$prefix}btn-focus-outline-offset: 0;

  &.loading {
    --#{$prefix}btn-disabled-opacity: 1;
    --#{$prefix}btn-disabled-bg: transparent;
    --#{$prefix}btn-disabled-border-color: transparent;
    --#{$prefix}btn-disabled-color: #{$default-color};
  }
}
// scss-docs-end df-btn-link-variant-mixin

// scss-docs-start df-table-variant
@mixin df-table-variant($state, $background) {
  .table-#{$state} {
    $color: color-contrast-var(map-get($all-colors, $background));

    --#{$prefix}table-color: #{$color};
    --#{$prefix}table-bg: #{unquote("color-mix(in srgb, var(--#{$prefix}#{$background}), var(--#{$prefix}white) #{100% - $table-bg-scale * -1})")};
    --#{$prefix}table-border-color: #{unquote("color-mix(in srgb, var(--#{$prefix}#{$background}), var(--#{$prefix}white) #{(100% - $table-bg-scale) * $table-border-factor})")};
    --#{$prefix}table-striped-bg: #{unquote("color-mix(in srgb, var(--#{$prefix}#{$background}), var(--#{$prefix}white) #{(100% - $table-bg-scale) * $table-striped-bg-factor})")};
    --#{$prefix}table-striped-color: #{$color};
    --#{$prefix}table-active-bg: #{unquote("color-mix(in srgb, var(--#{$prefix}#{$background}), var(--#{$prefix}white) #{(100% - $table-bg-scale) * $table-active-bg-factor})")};
    --#{$prefix}table-active-color: #{$color};
    --#{$prefix}table-hover-bg: #{unquote("color-mix(in srgb, var(--#{$prefix}#{$background}), var(--#{$prefix}white) #{(100% - $table-bg-scale) * $table-hover-bg-factor})")};
    --#{$prefix}table-hover-color: #{$color};

    color: var(--#{$prefix}table-color);
    border-color: var(--#{$prefix}table-border-color);
  }
}
// scss-docs-end df-table-variant
