/* stylelint-disable scss/dollar-variable-default */
// Theme utilities

$utilities: map-merge(
  $utilities,
  (
    "opacity": map-merge(
      map-get($utilities, "opacity"),
      (
        values: map-merge(
          map-get(map-get($utilities, "opacity"), "values"),
          (
            40: .4,
          )
        )
      )
    ),
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          map-loop(map-merge-multiple($theme-colors-palletes, $palette-grays), rgba-css-var, "$key", "text"),
        )
      )
    ),
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          map-loop(
            map-merge-multiple($theme-colors-palletes, $palette-grays, $bg-surface-colors, $bg-soft-colors),
            rgba-css-var,
            "$key",
            "bg"
          )
        )
      )
    ),
    "shadow": map-merge(
      map-get($utilities, "shadow"),
      (
        values: (
          null: var(--#{$prefix}box-shadow),
          sm: var(--#{$prefix}box-shadow-sm),
          lg: var(--#{$prefix}box-shadow-lg),
          none: none
        )
      )
    ),
    "text-opacity": map-merge(
      map-get($utilities, "text-opacity"),
      (
        values: map-merge(
          map-get(map-get($utilities, "text-opacity"), "values"),
          (
            40: .4
          )
        )
      )
    ),
    "font-weight": map-merge(
      map-get($utilities, "font-weight"),
      (
        responsive: true
      )
    ),
    "border-color": map-merge(
      map-get($utilities, "border-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "border-color"), "values"),
          map-loop($palette-grays, rgba-css-var, "$key", "border"),
        )
      )
    ),
    "overlay": (
      property: opacity,
      class: "overlay",
      css-var: true,
      values: (
        0: 0,
        25: .25,
        50: .5,
        75: .75,
        100: 1
      )
    ),
    "text-truncate": (
      responsive: true,
      class: "text-truncate",
      css-var: true,
      values: (
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 6,
        6: 6
      )
    ),
    "cursor": (
      property: cursor,
      values: $cursors
    ),
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      (
        responsive: true,
        rfs: false
      )
    ),
    "display-font-size": (
      class: "display",
      responsive: true,
      css-var: true,
      css-variable-name: display-font-size,
      values: $display-font-sizes
    ),
    "height": map-merge(
      map-get($utilities, "height"),
      (
        responsive: true,
      )
    ),
    "width": map-merge(
      map-get($utilities, "width"),
      (
        responsive: true,
      )
    ),
    "body-font-size": (
      class: "fs-body",
      responsive: true,
      css-var: true,
      css-variable-name: fs-body-font-size,
      values: $body-font-sizes
    )
  )
);
