/* stylelint-disable scss/dollar-variable-default */
// Theme utilities

$utilities: map-merge(
  $utilities,
  (
    "opacity": map-merge(
      map-get($utilities, "opacity"),
      (
        values: map-merge(
          map-get(map-get($utilities, "opacity"), "values"),
          (
            40: .4,
          )
        )
      )
    ),
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          // TODO: try to move the map-loop to $utilities-text map libraries/dynamic-ui/node_modules/bootstrap/scss/_maps.scss
          map-loop($palette-grays, rgba-css-var, "$key", "text"),
        )
      )
    ),
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          // TODO: try to move the map-loop to $utilities-bg map libraries/dynamic-ui/node_modules/bootstrap/scss/_maps.scss
          map-merge(
            map-loop($palette-grays, rgba-css-var, "$key", "bg"),
            map-loop($bg-soft-colors, rgba-css-var, "$key", "bg")
          )
        )
      )
    ),
    "shadow": map-merge(
      map-get($utilities, "shadow"),
      (
        values: (
          null: var(--#{$prefix}box-shadow),
          sm: var(--#{$prefix}box-shadow-sm),
          lg: var(--#{$prefix}box-shadow-lg),
          none: none,
        )
      )
    ),
    "text-opacity": map-merge(
      map-get($utilities, "text-opacity"),
      (
        values: map-merge(
          map-get(map-get($utilities, "text-opacity"), "values"),
          (
            40: .4,
          )
        )
      )
    ),
    "border-color": map-merge(
      map-get($utilities, "border-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "border-color"), "values"),
          // TODO: try to move the map-loop to $utilities-border map libraries/dynamic-ui/node_modules/bootstrap/scss/_maps.scss
          map-loop($palette-grays, rgba-css-var, "$key", "border"),
        )
      )
    ),
    "cursor": (
      property: cursor,
      values: $cursors,
    ),
  )
);
