name: Change Checker
on:
  pull_request:
    types: [
      opened,
      edited,
      reopened,
      synchronize
    ]

jobs:
  change-checker:
    name: Checking Job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com/
          scope: '@modyolabs'
      - name: Verify libraries changes
        run: |
          node common/scripts/install-run-rush.js change -v
