name: Checks legacy version
on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches:
      - releases/1.36-stable

jobs:
  checks:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm ci
      - name: Build packages
        run: npm run build
      - name: Lint packages
        run: |
          npm run eslint
          npm run stylelint
      - name: Validate PR commits
        run: npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose
      - name: Test packages
        run: npm run test
