name: Publish Packages

on:
  release:
    types: [published]

permissions:
  contents: read
  pull-requests: write
  packages: write

jobs:
  publish-library:
    name: Publishing Job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com/
          scope: '@modyolabs'
      - name: Publish
        run: node common/scripts/install-run-rush.js publish --publish --include-all --version-policy DesignSystem
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This gets generated automatically
