name: Release
on:
  pull_request:
    types: [closed]
    branches:
      - master

permissions:
  contents: write
  packages: write

jobs:
  process:
    name: Version and Publish
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Checkout packages submodules.
        run: git submodule update --init packages/stencil-eslint-plugin
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 7
      - name: Setup Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          scope: '@dynamic-framework'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build packages
        run: pnpm build
      - name: Version and publish packages
        run: |
          git config --local user.email "$(git log --format='%ae' HEAD^!)"
          git config --local user.name "$(git log --format='%an' HEAD^!)"
          git update-index --skip-worktree -- .npmrc
          pnpm exec lerna publish from-package --no-private
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
